Repository dyrector-io/dyrectorio, pull requests merged in 2022-12, with the labels that each got.

#374 docs: edit readmes
  golang/README.md
  web/crux-ui/README.md
Labels: source:documentation, issue:improvement, pr:doc, severity:medium

#375 feat(crux-ui): image reorder improvements
  web/crux-ui/locales/en/images.json
  web/crux-ui/src/components/products/versions/images/use-images-state.ts
  web/crux-ui/src/components/products/versions/version-reorder-images-section.tsx
  web/crux-ui/src/components/shared/drag-and-drop-list.tsx
Labels: issue:enhancement, source:web, pr:feat, lang:typescript, severity:medium

#376 fix: mapper and docker install script fix
  web/crux-ui/src/server/crux/mappers/image-mappers.ts
  web/crux/install-docker.sh.hbr
  web/crux/src/app/image/image.mapper.ts
  web/crux/src/app/template/template.service.ts
  web/crux/src/shared/models/container.ts
Labels: pr:fix, lang:typescript, lang:shell

#379 chore(doc): add demo GIF to readme
  README.md
  docs/dyrectorio-readme-demo.gif
Labels: source:documentation, issue:improvement, pr:doc, severity:low

#381 chore(doc): add maintainers.md
  MAINTAINERS.md
  README.md
Labels: source:documentation, pr:chore, pr:doc, severity:low

#383 fix(crux): readd deploy notifications
  protobuf/go/crux/crux.pb.go
  web/crux-ui/src/models/grpc/protobuf/proto/crux.ts
  web/crux/proto/crux.proto
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/domain/deployment.ts
  web/crux/src/grpc/protobuf/proto/crux.ts
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:high

#364 feat(agent): add service monitor spawning
  Makefile
  go.mod
  go.sum
  golang/Makefile
  golang/api/v1/deploy.go
  golang/cmd/crane/crane.go
  golang/manifest/kubernetes/deployment.yaml
  golang/manifest/kubernetes/volume.yaml
  golang/pkg/crane/config/config.go
  golang/pkg/crane/crux/deploy.go
  golang/pkg/crane/k8s/clients.go
  golang/pkg/crane/k8s/clients_test.go
  golang/pkg/crane/k8s/configmap.go
  golang/pkg/crane/k8s/delete_facade.go
  golang/pkg/crane/k8s/deploy_facade.go
  golang/pkg/crane/k8s/deployment.go
  golang/pkg/crane/k8s/ingress.go
  golang/pkg/crane/k8s/namespace.go
  golang/pkg/crane/k8s/pvc.go
  golang/pkg/crane/k8s/secret.go
  golang/pkg/crane/k8s/service.go
  golang/pkg/crane/k8s/service_monitor.go
  golang/pkg/crane/k8s/service_monitor_test.go
  golang/pkg/crane/k8s/volume_helper.go
  golang/pkg/crane/k8sconfig/secret.go
  golang/pkg/dagent/config/config.go
  protobuf/go/agent/agent.pb.go
  protobuf/proto/agent.proto
  web/crux/install-docker.sh.hbr
  web/crux/proto/agent.proto
  web/crux/src/app/agent/agent.module.ts
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/grpc/protobuf/proto/agent.ts
Labels: issue:enhancement, source:agent, pr:feat, lang:golang, lang:typescript, lang:makefile, severity:medium, lang:k8s-manifest

#384 feat(web): prevent product and version delete
  protobuf/proto/crux.proto
  web/crux-ui/src/models/grpc/protobuf/proto/crux.ts
  web/crux-ui/src/models/product.ts
  web/crux-ui/src/models/version.ts
  web/crux-ui/src/pages/products/[productId].tsx
  web/crux-ui/src/pages/products/[productId]/versions/[versionId].tsx
  web/crux/proto/crux.proto
  web/crux/src/app/agent/agent.module.ts
  web/crux/src/app/product/product.mapper.ts
  web/crux/src/app/product/product.service.ts
  web/crux/src/app/version/version.mapper.ts
  web/crux/src/domain/version.ts
  web/crux/src/grpc/protobuf/proto/crux.ts
Labels: source:web, pr:feat, lang:typescript

#386 fix(agent): add crane deployment list all namespaces
  golang/cmd/crane/crane.go
  golang/internal/mapper/grpc.go
  golang/pkg/crane/crux/deploy.go
  golang/pkg/crane/crux/deploy_test.go
  golang/pkg/crane/k8s/delete_facade.go
  golang/pkg/crane/k8s/deploy_facade.go
  golang/pkg/crane/k8s/deployment.go
  golang/pkg/crane/k8s/namespace.go
  golang/pkg/crane/k8s/service.go
  golang/pkg/dagent/config/config.go
  web/crux/src/app/agent/agent.service.ts
Labels: pr:fix, lang:golang, lang:typescript, severity:high

#392 fix(crux-ui): deployment deploy and log
  web/crux-ui/src/components/products/versions/deployments/deployment-events-terminal.tsx
  web/crux-ui/src/components/products/versions/deployments/use-deployment-state.tsx
  web/crux-ui/src/models/deployment.ts
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/deployments/[deploymentId].tsx
Labels: source:web, pr:fix, lang:typescript

#396 feat(web): add dashboard
  protobuf/go/crux/crux.pb.go
  protobuf/go/crux/crux_grpc.pb.go
  protobuf/proto/crux.proto
  web/crux-ui/e2e/login.spec.ts
  web/crux-ui/e2e/utils/global-setup.ts
  web/crux-ui/i18n.json
  web/crux-ui/locales/en/audit.json
  web/crux-ui/locales/en/common.json
  web/crux-ui/locales/en/dashboard.json
  web/crux-ui/locales/en/versions.json
  web/crux-ui/public/dashboard.svg
  web/crux-ui/public/dashboard/audits.svg
  web/crux-ui/public/dashboard/deployments.svg
  web/crux-ui/public/dashboard/failed-deployments.svg
  web/crux-ui/public/dashboard/products.svg
  web/crux-ui/public/dashboard/users.svg
  web/crux-ui/public/dashboard/versions.svg
  web/crux-ui/src/components/main/sidebar.tsx
  web/crux-ui/src/components/products/product-details-card.tsx
  web/crux-ui/src/components/products/versions/version-card.tsx
  web/crux-ui/src/components/products/versions/version-details-card.tsx
  web/crux-ui/src/elements/dyo-expandable-text.tsx
  web/crux-ui/src/models/dashboard.ts
  web/crux-ui/src/models/grpc/protobuf/proto/crux.ts
  web/crux-ui/src/models/index.ts
  web/crux-ui/src/pages/api/dashboard.ts
  web/crux-ui/src/pages/audit-log.tsx
  web/crux-ui/src/pages/dashboard.tsx
  web/crux-ui/src/pages/index.tsx
  web/crux-ui/src/routes.ts
  web/crux-ui/src/server/crux/crux-clients.ts
  web/crux-ui/src/server/crux/crux.ts
  web/crux-ui/src/server/crux/dashboard-service.ts
  web/crux/proto/crux.proto
  web/crux/src/app.module.ts
  web/crux/src/app/audit/audit.module.ts
  web/crux/src/app/dashboard/dashboard.controller.ts
  web/crux/src/app/dashboard/dashboard.mapper.ts
  web/crux/src/app/dashboard/dashboard.module.ts
  web/crux/src/app/dashboard/dashboard.service.ts
  web/crux/src/grpc/protobuf/proto/crux.ts
Labels: source:web, pr:feat

#399 feat(web): prevent users from editing registry details
  protobuf/go/crux/crux.pb.go
  protobuf/proto/crux.proto
  web/crux-ui/locales/en/registries.json
  web/crux-ui/src/components/registries/edit-registry-card.tsx
  web/crux-ui/src/components/registries/registry-card.tsx
  web/crux-ui/src/components/registries/registry-fields/github-registry-field.tsx
  web/crux-ui/src/components/registries/registry-fields/gitlab-registry-field.tsx
  web/crux-ui/src/components/registries/registry-fields/google-registry-field.tsx
  web/crux-ui/src/components/registries/registry-fields/hub-registry-fields.tsx
  web/crux-ui/src/components/registries/registry-fields/v2-registry-field.tsx
  web/crux-ui/src/elements/dyo-chips.tsx
  web/crux-ui/src/elements/dyo-input.tsx
  web/crux-ui/src/elements/dyo-switch.tsx
  web/crux-ui/src/models/grpc/protobuf/proto/crux.ts
  web/crux-ui/src/models/registry.ts
  web/crux-ui/src/pages/registries.tsx
  web/crux-ui/src/server/crux/registry-service.ts
  web/crux/proto/crux.proto
  web/crux/src/app/registry/pipes/registry.update.pipe.ts
  web/crux/src/app/registry/registry.controller.ts
  web/crux/src/app/registry/registry.mapper.ts
  web/crux/src/app/registry/registry.service.ts
  web/crux/src/grpc/protobuf/proto/crux.ts
Labels: issue:enhancement, source:web, pr:feat, lang:typescript, severity:medium

#402 feat(agent): distroless image, abs path support for mounts
  golang/Makefile
  golang/build/Dockerfile
  golang/pkg/dagent/utils/docker.go
Labels: source:agent, pr:feat, lang:golang, severity:medium

#400 feat(crux): reuse previous secrets
  web/crux-ui/src/components/shared/secret-key-value-input.tsx
  web/crux/src/app/deploy/deploy.service.ts
Labels: issue:enhancement, source:web, pr:feat, lang:typescript, severity:medium

#404 feat: add LinkAce template
  web/crux-ui/e2e/template.spec.ts
  web/crux/templates/link-ace.json
Labels: issue:enhancement, source:web, pr:feat, severity:medium

#395 feat(crux-ui): add form submit to ctrl+enter
  package-lock.json
  web/crux-ui/src/components/nodes/edit-node-card.tsx
  web/crux-ui/src/components/notifications/edit-notification-card.tsx
  web/crux-ui/src/components/products/edit-product-card.tsx
  web/crux-ui/src/components/products/versions/deployments/edit-deployment-card.tsx
  web/crux-ui/src/components/products/versions/edit-version-card.tsx
  web/crux-ui/src/components/products/versions/increase-version-card.tsx
  web/crux-ui/src/components/registries/edit-registry-card.tsx
  web/crux-ui/src/components/shared/secret-key-value-input.tsx
  web/crux-ui/src/components/team/create-team-card.tsx
  web/crux-ui/src/components/team/edit-team-card.tsx
  web/crux-ui/src/components/team/invite-user-card.tsx
  web/crux-ui/src/components/templates/apply-template-card.tsx
  web/crux-ui/src/elements/dyo-file-upload.tsx
  web/crux-ui/src/elements/dyo-form.tsx
  web/crux-ui/src/elements/dyo-input.tsx
  web/crux-ui/src/elements/dyo-text-area.tsx
  web/crux-ui/src/pages/auth/login.tsx
  web/crux-ui/src/pages/auth/recovery.tsx
  web/crux-ui/src/pages/auth/register.tsx
  web/crux-ui/src/pages/auth/settings/change-password.tsx
  web/crux-ui/src/pages/auth/settings/edit-profile.tsx
  web/crux-ui/src/pages/auth/settings/no-password.tsx
  web/crux-ui/src/pages/auth/verify.tsx
Labels: issue:improvement, source:web, pr:feat, lang:typescript, severity:medium

#406 fix: openssl alpine
  web/crux/Dockerfile
Labels: source:web, pr:fix, severity:high

#409 fix(agent): correct crane path manifests with distroless image
  golang/manifest/kubernetes/deployment.yaml
Labels: source:agent, severity:high, lang:k8s-manifest

#407 fix(crux): fix secret disappearance
  web/crux-ui/src/models/container.ts
  web/crux/src/app/deploy/deploy.mapper.ts
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/shared/validation.ts
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:critical

#408 refactor: anchor action remove
  web/crux-ui/src/components/products/versions/version-deployments-section.tsx
  web/crux-ui/src/elements/dyo-anchor-action.tsx
  web/crux-ui/src/hooks/use-anchor-actions.ts
  web/crux-ui/src/pages/deployments.tsx
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/deployments/[deploymentId].tsx
  web/crux-ui/src/pages/teams/[teamId]/invitation.tsx
Labels: pr:refactor, lang:typescript

#411 feat(crux-ui): expand time label
  web/crux-ui/locales/en/common.json
  web/crux-ui/src/components/nodes/dyo-node-setup.tsx
  web/crux-ui/src/components/nodes/node-connection-card.tsx
  web/crux-ui/src/const.ts
  web/crux-ui/src/elements/remaining-time-label.tsx
  web/crux-ui/src/elements/time-label.tsx
Labels: issue:enhancement, source:web, pr:feat, lang:typescript, severity:medium

#415 fix(crane): use original `containerPreName` as a name for namespace
  golang/pkg/crane/k8s/deploy_facade.go
Labels: pr:fix, lang:golang, severity:high

#412 feat(web): add gitea template
  web/crux-ui/e2e/template.spec.ts
  web/crux/templates/gitea.json
Labels: issue:enhancement, source:web, pr:feat, severity:low
