Repository dyrector-io/dyrectorio, pull requests merged in 2022-11, with the labels that each got.

#306 refactor: update proto default enum values
  golang/internal/dogger/dogger.go
  golang/internal/mapper/grpc.go
  protobuf/go/agent/agent.pb.go
  protobuf/go/common/common.pb.go
  protobuf/go/crux/crux.pb.go
  protobuf/proto/common.proto
  protobuf/proto/crux.proto
  web/crux-ui/src/models/grpc/protobuf/proto/common.ts
  web/crux-ui/src/models/grpc/protobuf/proto/crux.ts
  web/crux-ui/src/server/crux/mappers/image-mappers.ts
  web/crux-ui/src/server/crux/mappers/notification-mappers.ts
  web/crux/proto/common.proto
  web/crux/proto/crux.proto
  web/crux/src/app/image/image.mapper.ts
  web/crux/src/grpc/protobuf/proto/common.ts
  web/crux/src/grpc/protobuf/proto/crux.ts
Labels: issue:improvement, pr:refactor, severity:medium

#314 feat(crux): add secrets to template
  web/crux/src/app/template/template.service.ts
  web/crux/src/services/template.file.service.ts
  web/crux/templates/strapi.json
Labels: pr:feat

#290 feat(agent): add new docker container builder attribute: shell
  golang/pkg/builder/container/container_builder.go
Labels: issue:enhancement, source:agent, pr:feat, lang:golang, severity:medium

#316 feat(crux-ui): add websocket translation
  web/crux-ui/locales/en/common.json
  web/crux-ui/locales/en/deployments.json
  web/crux-ui/src/components/products/versions/version-deployments-section.tsx
  web/crux-ui/src/hooks/use-websocket-translation.ts
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/deployments/[deploymentId].tsx
  web/crux/src/app/deploy/deploy.service.ts
Labels: issue:enhancement, issue:improvement, source:web, pr:fix, pr:feat, lang:typescript, severity:medium

#315 fix: cli logging improvements and nestjs logger refactor
  golang/internal/grpc/grpc.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/cli/runner.go
  golang/pkg/cli/traefik.yaml.tmpl
  web/crux-ui/.env.example
  web/crux/src/services/prisma.service.ts
Labels: issue:improvement, source:web, source:cli, pr:fix, lang:golang, lang:typescript, severity:low

#317 feat: impelement labels & annotations
  Makefile
  golang/.gitignore
  golang/Makefile
  golang/api/v1/deploy.go
  golang/cmd/crane/.env.example
  golang/cmd/dagent/.env.example
  golang/internal/config/secret.go
  golang/internal/dogger/dogger.go
  golang/internal/mapper/grpc.go
  golang/internal/mapper/grpc_test.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/crane/k8s/deploy_facade.go
  golang/pkg/crane/k8s/deployment.go
  golang/pkg/crane/k8s/ingress.go
  golang/pkg/crane/k8s/service.go
  golang/pkg/dagent/utils/container.go
  golang/pkg/dagent/utils/docker.go
  protobuf/go/agent/agent.pb.go
  protobuf/go/crux/crux.pb.go
  protobuf/proto/agent.proto
  protobuf/proto/crux.proto
  web/crux-ui/locales/en/container.json
  web/crux-ui/src/components/products/versions/images/config/crane-config-section.tsx
  web/crux-ui/src/components/products/versions/images/config/dagent-config-section.tsx
  web/crux-ui/src/components/products/versions/images/image-config-filters.tsx
  web/crux-ui/src/models/container.ts
  web/crux-ui/src/models/grpc/protobuf/proto/crux.ts
  web/crux-ui/src/models/image.ts
  web/crux-ui/src/server/crux/mappers/image-mappers.ts
  web/crux-ui/src/validations/container.ts
  web/crux/prisma/migrations/20221027130433_add_labels_annotations/migration.sql
  web/crux/prisma/schema.prisma
  web/crux/proto/agent.proto
  web/crux/proto/crux.proto
  web/crux/src/app/deploy/deploy.mapper.ts
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/app/image/image.mapper.ts
  web/crux/src/grpc/protobuf/proto/agent.ts
  web/crux/src/grpc/protobuf/proto/crux.ts
  web/crux/src/shared/validation.ts
Labels: issue:enhancement, source:agent, source:web, pr:feat, lang:golang, lang:typescript, severity:medium

#293 feat(agent): #244, crane init for private-key generate on k8s
  golang/Makefile
  golang/cmd/crane/.env.example
  golang/cmd/crane/crane.go
  golang/cmd/dagent/.env.example
  golang/internal/config/config.go
  golang/internal/config/secret.go
  golang/internal/crypt/pgp.go
  golang/internal/grpc/grpc.go
  golang/pkg/crane/config/config.go
  golang/pkg/crane/k8s/namespace.go
  golang/pkg/crane/k8s/secret.go
  golang/pkg/crane/k8sconfig/secret.go
  golang/pkg/dagent/config/config.go
  golang/pkg/dagent/config/secret.go
  golang/pkg/dagent/config/secret_test.go
Labels: issue:enhancement, source:agent, pr:feat, lang:golang, severity:medium

#328 chore(agent): remove NodeId from config
  golang/cmd/crane/.env.example
  golang/internal/config/config.go
  golang/internal/mapper/grpc_test.go
  web/crux/prisma/seeds/consts.ts
  web/crux/prisma/seeds/data/deployments.ts
Labels: issue:enhancement, source:agent, pr:feat, lang:golang, severity:low

#324 feat(crux-ui): use next link
  web/crux-ui/e2e/utils/products.ts
  web/crux-ui/src/components/nodes/dyo-node-card.tsx
  web/crux-ui/src/components/notifications/notification-card.tsx
  web/crux-ui/src/components/products/product-card.tsx
  web/crux-ui/src/components/products/product-versions-section.tsx
  web/crux-ui/src/components/products/product-view-list.tsx
  web/crux-ui/src/components/products/product-view-tile.tsx
  web/crux-ui/src/components/products/versions/version-card.tsx
  web/crux-ui/src/components/products/versions/version-deployments-section.tsx
  web/crux-ui/src/components/products/versions/version-view-list.tsx
  web/crux-ui/src/components/registries/registry-card.tsx
  web/crux-ui/src/elements/dyo-anchor-action.tsx
  web/crux-ui/src/elements/dyo-button.tsx
  web/crux-ui/src/elements/dyo-heading.tsx
  web/crux-ui/src/hooks/use-anchor-actions.ts
  web/crux-ui/src/pages/500.tsx
  web/crux-ui/src/pages/deployments.tsx
  web/crux-ui/src/pages/nodes.tsx
  web/crux-ui/src/pages/notifications.tsx
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/deployments/[deploymentId].tsx
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/deployments/[deploymentId]/deploy.tsx
  web/crux-ui/src/pages/registries.tsx
Labels: issue:improvement, source:web, pr:feat, lang:typescript, severity:medium

#330 fix: minor fixes
  golang/cmd/crane/crane.go
  golang/cmd/dagent/dagent.go
  golang/internal/config/secret.go
  golang/pkg/crane/k8sconfig/secret.go
  golang/pkg/dagent/config/secret.go
  web/crux-ui/e2e/image-config.spec.ts
  web/crux-ui/locales/en/container.json
  web/crux-ui/src/components/nodes/dyo-node-card.tsx
  web/crux-ui/src/components/products/versions/images/config/common-config-section.tsx
  web/crux-ui/src/components/products/versions/images/config/crane-config-section.tsx
  web/crux-ui/src/components/products/versions/images/config/dagent-config-section.tsx
  web/crux-ui/src/components/products/versions/images/image-config-filters.tsx
  web/crux-ui/src/components/products/versions/version-view-list.tsx
  web/crux-ui/src/hooks/use-confirmation.ts
  web/crux-ui/src/hooks/use-websocket-translation.ts
  web/crux-ui/src/models/image.ts
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/deployments/[deploymentId].tsx
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/image/[imageId].tsx
  web/crux/src/app.module.ts
  web/crux/src/interceptors/common-error-interceptor.ts
  web/crux/src/services/domain.notification.service.ts
Labels: issue:enhancement, issue:improvement, source:web, pr:fix, pr:feat, lang:typescript, severity:medium

#335 fix: add proto image missing binaries
  .github/workflows/golang.yml
  .github/workflows/web-crux-ui.yml
  .github/workflows/web-crux.yml
  .github/workflows/web-kratos.yml
  Makefile
  images/proto/Dockerfile
Labels: pr:fix, severity:critical

#338 chore(agent): change test variable to mock registry
  golang/internal/helper/image/image_test.go
Labels: issue:improvement, source:agent, pr:chore, lang:golang, severity:high

#337 feat(crux): add Prometheus basics
  web/crux/.env.example
  web/crux/package-lock.json
  web/crux/package.json
  web/crux/src/app.module.ts
  web/crux/src/app/agent/agent.controller.ts
  web/crux/src/app/agent/agent.module.ts
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/app/audit/audit.controller.ts
  web/crux/src/app/deploy/deploy.controller.ts
  web/crux/src/app/health/health.controller.ts
  web/crux/src/app/image/image.controller.ts
  web/crux/src/app/metrics/metrics.controller.ts
  web/crux/src/app/node/node.controller.ts
  web/crux/src/app/notification/notification.controller.ts
  web/crux/src/app/notification/notification.module.ts
  web/crux/src/app/product/product.controller.ts
  web/crux/src/app/registry/registry.controller.ts
  web/crux/src/app/team/team.controller.ts
  web/crux/src/app/template/template.controller.ts
  web/crux/src/app/version/version.controller.ts
  web/crux/src/interceptors/audit-logger.interceptor.ts
  web/crux/src/interceptors/grpc.error.interceptor.ts
  web/crux/src/interceptors/grpc.logger.interceptor.ts
  web/crux/src/interceptors/http.logger.interceptor.ts
  web/crux/src/interceptors/prisma-error-interceptor.ts
  web/crux/src/main.ts
Labels: issue:enhancement, source:web, pr:feat, lang:typescript, severity:medium

#331 test(crux-ui): add e2e tests to node screen
  .github/workflows/web-crux-ui.yml
  web/crux-ui/e2e/nodes.spec.ts
  web/crux-ui/playwright.config.ts
  web/crux/install-docker.sh.hbr
Labels: issue:improvement, source:web, severity:medium, pr:test

#342 fix(crux-ui): team name not refreshed on save
  web/crux-ui/src/pages/teams/[teamId].tsx
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:medium

#332 feat(web): invite flow revamp
  protobuf/go/crux/crux.pb.go
  protobuf/go/crux/crux_grpc.pb.go
  protobuf/proto/crux.proto
  web/crux-ui/e2e/register.spec.ts
  web/crux-ui/i18n.json
  web/crux-ui/locales/en/common.json
  web/crux-ui/locales/en/invitation.json
  web/crux-ui/locales/en/invite.json
  web/crux-ui/locales/en/settings.json
  web/crux-ui/locales/en/teams.json
  web/crux-ui/src/components/shared/key-value-input.tsx
  web/crux-ui/src/components/team/invite-user-card.tsx
  web/crux-ui/src/components/team/user-role-action.tsx
  web/crux-ui/src/components/team/user-status-tag.tsx
  web/crux-ui/src/hooks/use-confirmation.ts
  web/crux-ui/src/hooks/use-timer.ts
  web/crux-ui/src/hooks/use-websocket-translation.ts
  web/crux-ui/src/models/auth.ts
  web/crux-ui/src/models/grpc/protobuf/proto/crux.ts
  web/crux-ui/src/models/user.ts
  web/crux-ui/src/pages/api/auth/register.ts
  web/crux-ui/src/pages/api/auth/settings/change-password.ts
  web/crux-ui/src/pages/api/teams/[teamId]/invitation.ts
  web/crux-ui/src/pages/api/teams/[teamId]/users/[userId]/reinvite.ts
  web/crux-ui/src/pages/auth/invitation.tsx
  web/crux-ui/src/pages/auth/invite.tsx
  web/crux-ui/src/pages/auth/logout.tsx
  web/crux-ui/src/pages/auth/recovery.tsx
  web/crux-ui/src/pages/auth/recovery/expired.tsx
  web/crux-ui/src/pages/auth/register.tsx
  web/crux-ui/src/pages/auth/settings.tsx
  web/crux-ui/src/pages/auth/settings/edit-profile.tsx
  web/crux-ui/src/pages/auth/settings/no-password.tsx
  web/crux-ui/src/pages/teams/[teamId].tsx
  web/crux-ui/src/pages/teams/[teamId]/invitation.tsx
  web/crux-ui/src/pages/teams/[teamId]/invite.tsx
  web/crux-ui/src/routes.ts
  web/crux-ui/src/server/crux/team-service.ts
  web/crux-ui/src/server/kratos.ts
  web/crux-ui/src/utils.ts
  web/crux-ui/src/validations/auth.ts
  web/crux-ui/src/validations/common.ts
  web/crux-ui/src/validations/index.ts
  web/crux-ui/src/validations/team.ts
  web/crux/prisma/migrations/20221110133905_user_invite_status/migration.sql
  web/crux/prisma/schema.prisma
  web/crux/proto/crux.proto
  web/crux/src/app/team/pipes/team.reinvite-pipe.ts
  web/crux/src/app/team/team.controller.ts
  web/crux/src/app/team/team.mapper.ts
  web/crux/src/app/team/team.service.ts
  web/crux/src/builders/email.builder.ts
  web/crux/src/domain/utils.ts
  web/crux/src/grpc/protobuf/proto/crux.ts
  web/crux/src/services/kratos.service.ts
  web/crux/src/shared/const.ts
  web/crux/src/shared/model.ts
Labels: issue:enhancement, source:web, lang:typescript, severity:high, pr:test

#341 refactor(cli): silence container creation and rework logging
  golang/cmd/crane/crane.go
  golang/cmd/dagent/dagent.go
  golang/internal/config/secret.go
  golang/pkg/builder/container/container_builder.go
  golang/pkg/builder/container/utils.go
  golang/pkg/cli/cli.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/cli/runner.go
Labels: issue:improvement, source:cli, pr:refactor, lang:golang, severity:medium

#345 feat(agent): add registry authentication to crane
  golang/cmd/crane/crane.go
  golang/cmd/dagent/dagent.go
  golang/pkg/crane/k8s/deploy_facade.go
  golang/pkg/crane/k8s/deployment.go
  golang/pkg/crane/k8s/secret.go
Labels: source:agent, pr:feat, lang:golang, severity:high

#343 chore(agent): add missing setValue() docs
  golang/cmd/crane/crane.go
  golang/internal/config/config.go
  golang/pkg/crane/config/config.go
  golang/pkg/dagent/config/config.go
  golang/pkg/dagent/utils/docker.go
Labels: source:documentation, issue:improvement, source:agent, pr:chore, pr:doc, lang:golang, severity:low

#340 fix: agent install paths for OSs
  web/crux-ui/e2e/nodes.spec.ts
  web/crux/install-docker.sh.hbr
Labels: issue:improvement, source:agent, source:web, pr:fix, lang:typescript, lang:shell, severity:critical

#347 fix(crux): increase version mapper fix
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/app/image/image.mapper.ts
  web/crux/src/app/template/template.service.ts
  web/crux/src/app/version/version.service.ts
  web/crux/src/shared/mapper.ts
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:medium

#348 fix(crux): move platform detection after priviledge escalation in install.docker.hbr
  web/crux/install-docker.sh.hbr
Labels: issue:improvement, source:web, pr:fix, lang:shell, severity:medium

#351 fix(agent): dc.logger nil check fix, add option to ignore 0 match on…
  golang/internal/helper/docker/container.go
  golang/internal/helper/docker/container_test.go
  golang/pkg/builder/container/container_builder.go
  golang/pkg/builder/container/container_builder_test.go
  golang/pkg/builder/container/utils.go
  golang/pkg/cli/runner.go
  golang/pkg/dagent/utils/container.go
  golang/pkg/dagent/utils/docker.go
  golang/pkg/dagent/utils/dockerhelper.go
  golang/pkg/dagent/utils/import_container.go
Labels: issue:improvement, source:agent, pr:fix, lang:golang, severity:high

#352 fix(web): create multiple preparing deployments to the same node with different prefixes
  web/crux-ui/.gitignore
  web/crux-ui/e2e/deployment.spec.ts
  web/crux-ui/e2e/nodes.spec.ts
  web/crux-ui/e2e/utils/products.ts
  web/crux-ui/locales/en/deployments.json
  web/crux-ui/locales/en/versions.json
  web/crux/install-docker.sh.hbr
  web/crux/src/app/deploy/pipes/deploy.create.pipe.ts
Labels: source:web, pr:fix, lang:typescript

#349 fix(crux-ui): registry field validator
  web/crux-ui/src/server/crux/registry-service.ts
  web/crux-ui/src/validations/registry.ts
Labels: issue:bug, source:web, pr:fix, lang:typescript, severity:medium

#350 fix(web): fix deployment mutability
  protobuf/go/crux/crux.pb.go
  protobuf/proto/crux.proto
  web/crux-ui/e2e/deployment.spec.ts
  web/crux-ui/e2e/utils/products.ts
  web/crux-ui/src/components/products/versions/deployments/instances/edit-instance-card.tsx
  web/crux-ui/src/components/products/versions/deployments/use-deployment-state.tsx
  web/crux-ui/src/components/products/versions/images/edit-image-json.tsx
  web/crux-ui/src/components/products/versions/version-deployments-section.tsx
  web/crux-ui/src/models/deployment.ts
  web/crux-ui/src/models/grpc/protobuf/proto/crux.ts
  web/crux-ui/src/pages/deployments.tsx
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/deployments/[deploymentId].tsx
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/deployments/[deploymentId]/deploy.tsx
  web/crux-ui/src/server/crux/deployment-service.ts
  web/crux/proto/crux.proto
  web/crux/src/app/deploy/deploy.mapper.ts
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/app/deploy/pipes/deploy.copy.pipe.ts
  web/crux/src/app/deploy/pipes/deploy.delete.pipe.ts
  web/crux/src/app/deploy/pipes/deploy.patch.pipe.ts
  web/crux/src/app/deploy/pipes/deploy.start.pipe.ts
  web/crux/src/app/deploy/pipes/deploy.update.pipe.ts
  web/crux/src/app/template/template.service.ts
  web/crux/src/app/version/version.mapper.ts
  web/crux/src/domain/deployment.ts
  web/crux/src/domain/version.ts
  web/crux/src/grpc/protobuf/proto/crux.ts
  web/crux/src/shared/mapper.ts
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:high

#344 fix(crux): respect prefix after successful deployment
  .github/workflows/web-crux-ui.yml
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/app/deploy/deploy.service.ts
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:medium

#355 test(crux-ui): test deploy with dagent
  web/crux-ui/e2e/dagent.spec.ts
  web/crux-ui/e2e/nodes.spec.ts
  web/crux-ui/playwright.config.ts
Labels: lang:typescript, pr:test

#357 fix(crux-ui): uncontrolled reacts errors
  web/crux-ui/locales/en/products.json
  web/crux-ui/src/components/nodes/dyo-node-setup.tsx
  web/crux-ui/src/components/nodes/edit-node-card.tsx
  web/crux-ui/src/components/nodes/node-connection-card.tsx
  web/crux-ui/src/components/notifications/edit-notification-card.tsx
  web/crux-ui/src/components/products/edit-product-card.tsx
  web/crux-ui/src/components/products/versions/edit-version-card.tsx
  web/crux-ui/src/components/products/versions/increase-version-card.tsx
  web/crux-ui/src/components/registries/edit-registry-card.tsx
  web/crux-ui/src/components/team/create-team-card.tsx
  web/crux-ui/src/components/team/edit-team-card.tsx
  web/crux-ui/src/components/team/invite-user-card.tsx
  web/crux-ui/src/components/templates/apply-template-card.tsx
  web/crux-ui/src/hooks/use-throttleing.ts
  web/crux-ui/src/hooks/use-ticker.ts
  web/crux-ui/src/hooks/use-timer.ts
  web/crux-ui/src/pages/auth/settings.tsx
  web/crux-ui/src/pages/auth/settings/edit-profile.tsx
Labels: issue:bug, source:web, pr:fix, lang:typescript, severity:medium

#363 test(crux-ui): add e2e tests for delete/copy deployment
  web/crux-ui/e2e/deployment-copibility.spec.ts
  web/crux-ui/e2e/deployment-deletability.spec.ts
  web/crux-ui/e2e/deployment-mutability.spec.ts
  web/crux-ui/e2e/deployment.spec.ts
  web/crux-ui/e2e/utils/common.ts
  web/crux-ui/e2e/utils/node-helper.ts
  web/crux-ui/e2e/version.spec.ts
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/deployments/[deploymentId].tsx
Labels: issue:improvement, source:web, lang:typescript, severity:medium, pr:test

#362 fix(crux): increase version fix
  web/crux-ui/src/pages/products/[productId]/versions/[versionId].tsx
  web/crux/src/app/image/image.mapper.ts
  web/crux/src/app/version/version.service.ts
Labels: issue:improvement, source:web, pr:fix, lang:typescript

#366 fix(crux): active team template filter
  web/crux/src/app/registry/guards/registry.team-access.guard.ts
  web/crux/src/app/registry/registry.controller.ts
  web/crux/src/app/template/template.service.ts
Labels: pr:fix, lang:typescript

#356 feat(cli): add ability to switch to localhost in the agent address en…
  .github/workflows/golang.yml
  golang/Makefile
  golang/pkg/cli/cli.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
Labels: issue:bug, issue:enhancement, source:cli, pr:feat, lang:golang, severity:high

#365 chore(ci): fix deprecated commands
  .github/workflows/pipeline_set_output_tag.sh
Labels: issue:improvement, pr:fix, lang:shell, severity:medium

#370 fix(web): multi prefix preparing deployment copy
  web/crux-ui/e2e/deployment-copibility.spec.ts
  web/crux-ui/e2e/deployment.spec.ts
  web/crux-ui/e2e/utils/products.ts
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/app/deploy/pipes/deploy.copy.pipe.ts
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:medium

#371 fix(web): config mapping in deployment and version editing
  web/crux-ui/locales/en/common.json
  web/crux-ui/src/components/products/versions/deployments/add-deployment-card.tsx
  web/crux-ui/src/components/products/versions/deployments/instances/use-instance-state.ts
  web/crux-ui/src/components/products/versions/version-view-list.tsx
  web/crux-ui/src/models/container.ts
  web/crux-ui/src/models/deployment.ts
  web/crux-ui/src/models/instance.ts
  web/crux-ui/src/server/crux/mappers/deployment-mappers.ts
  web/crux-ui/src/server/crux/mappers/health-mappers.ts
  web/crux-ui/src/server/crux/mappers/image-mappers.ts
  web/crux-ui/src/server/crux/mappers/node-mappers.ts
  web/crux-ui/src/server/crux/mappers/notification-mappers.ts
  web/crux-ui/src/server/crux/mappers/registry-mappers.ts
  web/crux-ui/src/server/crux/mappers/team-mappers.ts
  web/crux-ui/src/server/crux/node-service.ts
  web/crux/prisma/migrations/20221126132939_add_missing_network_modes/migration.sql
  web/crux/prisma/schema.prisma
  web/crux/src/app/audit/audit.mapper.ts
  web/crux/src/app/deploy/deploy.mapper.ts
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/app/deploy/pipes/deploy.start.pipe.ts
  web/crux/src/app/image/image.mapper.ts
  web/crux/src/app/image/image.service.ts
  web/crux/src/app/notification/notification.mapper.ts
  web/crux/src/app/team/team.mapper.ts
  web/crux/src/app/team/team.service.ts
  web/crux/src/app/template/template.service.ts
  web/crux/src/app/version/version.service.ts
  web/crux/src/mailer/email.module.ts
  web/crux/src/services/domain.notification.service.ts
  web/crux/src/services/kratos.service.ts
  web/crux/src/services/template.file.service.ts
  web/crux/src/shared/mapper.ts
  web/crux/src/shared/model.ts
  web/crux/src/shared/models/auth.ts
  web/crux/src/shared/models/common.ts
  web/crux/src/shared/models/container.ts
  web/crux/src/shared/models/index.ts
  web/crux/src/shared/validation.ts
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:high
