Repository dyrector-io/dyrectorio, pull requests merged in 2022-09, with the labels that each got.

#128 fix(crux-ui): clear registry fields on type change
  web/crux-ui/src/components/registries/edit-registry-card.tsx
  web/crux-ui/src/models.ts
  web/crux-ui/src/validation.ts
Labels: improvement, web

#130 chore: remove duplicated env and restructure for better readability
  web/.env.example
  web/crux-ui/.env.example
  web/crux/.env.example
Labels: improvement, web

#133 fix(crux-ui): add active menu, change favicon
  web/crux-ui/locales/en/common.json
  web/crux-ui/locales/en/head.json
  web/crux-ui/public/favicon.ico
  web/crux-ui/public/heart.svg
  web/crux-ui/src/components/main/footer.tsx
  web/crux-ui/src/components/main/nav-button.tsx
  web/crux-ui/src/components/main/nav-section.tsx
  web/crux-ui/src/components/main/sidebar.tsx
  web/crux-ui/src/components/shared/paginator.tsx
Labels: improvement, web

#132 feat(crux-ui): no data to display notices
  web/crux-ui/locales/en/audit.json
  web/crux-ui/locales/en/deployments.json
  web/crux-ui/locales/en/images.json
  web/crux-ui/locales/en/nodes.json
  web/crux-ui/locales/en/notifications.json
  web/crux-ui/locales/en/products.json
  web/crux-ui/locales/en/registries.json
  web/crux-ui/locales/en/versions.json
  web/crux-ui/src/components/notifications/notification-card.tsx
  web/crux-ui/src/components/notifications/notification-status-tag.tsx
  web/crux-ui/src/components/notifications/notification-type-tag.tsx
  web/crux-ui/src/components/products/product-details-card.tsx
  web/crux-ui/src/components/products/product-versions-section.tsx
  web/crux-ui/src/components/products/versions/version-card.tsx
  web/crux-ui/src/components/products/versions/version-deployments-section.tsx
  web/crux-ui/src/components/products/versions/version-images-section.tsx
  web/crux-ui/src/components/products/versions/version-sections-heading.tsx
  web/crux-ui/src/elements/dyo-wrap.tsx
  web/crux-ui/src/pages/audit-log.tsx
  web/crux-ui/src/pages/deployments.tsx
  web/crux-ui/src/pages/nodes.tsx
  web/crux-ui/src/pages/notifications.tsx
  web/crux-ui/src/pages/products.tsx
  web/crux-ui/src/pages/products/[productId].tsx
  web/crux-ui/src/pages/registries.tsx
Labels: enhancement, web

#135 fix: demo seeder config
  agent/internal/mapper/grpc.go
  agent/pkg/api/v1/deploy.go
  agent/pkg/builder/container/container_builder.go
  agent/pkg/builder/container/container_builder_test.go
  agent/pkg/dagent/utils/docker.go
  protobuf/go/common/common.pb.go
  protobuf/proto/common.proto
  web/crux-ui/src/models-config.ts
  web/crux-ui/src/models/grpc/crux.ts
  web/crux-ui/src/models/grpc/protobuf/proto/common.ts
  web/crux-ui/src/server/crux/mappers/image-mappers.ts
  web/crux-ui/src/validation.ts
  web/crux/prisma/seeds/data/demo/container_config.ts
  web/crux/proto/common.proto
  web/crux/src/app/deploy/deploy.mapper.ts
  web/crux/src/grpc/protobuf/proto/common.ts
  web/crux/src/shared/model.ts
  web/crux/src/shared/validation.ts
Labels: improvement, agent, web

#139 fix(crux-ui): auditlog table and modal layout
  web/crux-ui/locales/en/audit.json
  web/crux-ui/locales/en/common.json
  web/crux-ui/src/elements/dyo-list.tsx
  web/crux-ui/src/elements/dyo-modal.tsx
  web/crux-ui/src/pages/audit-log.tsx
Labels: web

#144 fix(crux-ui): edit image card overflow-x
  web/crux-ui/src/components/products/versions/images/edit-image-card.tsx
  web/crux-ui/src/components/products/versions/images/edit-image-config.tsx
  web/crux-ui/src/components/products/versions/images/edit-image-json.tsx
  web/crux-ui/src/components/products/versions/version-card.tsx
  web/crux-ui/src/components/products/versions/version-images-section.tsx
  web/crux-ui/src/elements/dyo-img-button.tsx
  web/crux-ui/src/elements/dyo-input.tsx
Labels: improvement, web

#154 feat(agent): add wait until into builder
  agent/go.mod
  agent/go.sum
  agent/pkg/builder/container/container_builder.go
  agent/pkg/builder/container/container_builder_test.go
  agent/pkg/builder/container/types.go
  agent/pkg/dagent/utils/docker.go
  agent/pkg/dagent/utils/import_container.go
  go.work.sum
Labels: enhancement, agent

#155 fix(agent): dagent network creation condition corrected
  agent/pkg/builder/container/container_builder.go
Labels: bug, agent

#156 fix(agent): fix create network
  agent/pkg/builder/container/container_builder.go
Labels: bug, agent

#157 fix(agent): container length check
  agent/internal/mapper/grpc.go
Labels: agent

#158 fix: prisma containerConfig, agent defaults
  agent/cmd/crane/.env.example
  agent/cmd/dagent/.env.example
  web/crux/prisma/migrations/20220901132837_add_secrets/migration.sql
  web/crux/prisma/migrations/20220913132121_add_secrets/migration.sql
  web/crux/prisma/schema.prisma
Labels: bug, documentation, agent, web

#100 add: dyo cli
  .github/workflows/cli.yml
  .golangci.yml
  .vscode/launch.json
  agent/cmd/crane/.env.example
  agent/internal/grpc/grpc.go
  agent/pkg/builder/container/container_builder.go
  cli/Makefile
  cli/config_file.go
  cli/container_defaults.go
  cli/go.mod
  cli/go.sum
  cli/main.go
  cli/runner.go
  go.work
  go.work.sum
  web/crux/Dockerfile
  web/crux/install-docker.sh.hbr
  web/crux/src/domain/agent-installer.ts
Labels: enhancement, cli

#160 fix(agent): extra key validation added
  agent/internal/config/config.go
  agent/internal/config/secret.go
Labels: bug, agent

#163 fix(crux-ui): auditlog datefilter
  web/crux-ui/src/pages/audit-log.tsx
Labels: bug, web

#162 feat(crux-ui): add node status filter
  web/crux-ui/locales/en/nodes.json
  web/crux-ui/locales/en/versions.json
  web/crux-ui/src/components/products/versions/deployments/add-deployment-card.tsx
  web/crux-ui/src/components/registries/registry-fields/v2-registry-field.tsx
  web/crux-ui/src/components/shared/filters.tsx
  web/crux-ui/src/pages/nodes.tsx
Labels: improvement, web

#164 feat(crux-ui): change registry url error
  web/crux-ui/locales/en/registries.json
  web/crux-ui/src/components/registries/edit-registry-card.tsx
  web/crux-ui/src/components/registries/registry-fields/gitlab-registry-field.tsx
  web/crux-ui/src/components/registries/registry-fields/google-registry-field.tsx
  web/crux-ui/src/components/registries/registry-fields/v2-registry-field.tsx
  web/crux-ui/src/models.ts
  web/crux-ui/src/server/crux/registry-service.ts
  web/crux-ui/src/server/registry-api/registry-connections.ts
Labels: improvement, web

#170 feat: add secret volume to k8s manifests
  agent/manifest/kubernetes/deployment.yaml
  agent/manifest/kubernetes/volume.yaml
  web/crux/install-k8s.sh.hbr
Labels: improvement, agent, web

#168 fix(crux-ui): version hint
  web/crux-ui/locales/en/versions.json
  web/crux-ui/src/components/layout.tsx
  web/crux-ui/src/components/products/versions/edit-version-card.tsx
  web/crux-ui/src/components/products/versions/increase-version-card.tsx
  web/crux-ui/src/components/shared/page-heading.tsx
  web/crux-ui/src/hooks/use-version-hint.ts
  web/crux-ui/src/validation.ts
Labels: improvement, web

#166 fix(crux): demo seeder missing fields
  web/crux/prisma/seeds/data/demo/container_config.ts
  web/crux/prisma/seeds/data/demo/registry.ts
  web/crux/prisma/seeds/demo-seeder.ts
Labels: bug

#177 fix(crux): remove parent versionmutability check when increase version
  web/crux/src/app/version/pipes/version.increase.pipe.ts
Labels: bug, web

#151 techdept(crux-ui): add e2e environment setup
  .github/workflows/web-crux-ui.yml
  .gitignore
  cli/container_defaults.go
  web/ci.env
  web/crux-ui/.env.example
  web/crux-ui/docker-compose.yaml
  web/crux-ui/e2e/common.ts
  web/crux-ui/e2e/login.spec.ts
  web/crux-ui/e2e/register.spec.ts
  web/crux-ui/e2e/utils/common.ts
  web/crux-ui/e2e/utils/global-setup.ts
  web/crux-ui/e2e/utils/global-teardown.ts
  web/crux-ui/e2e/utils/mail-slurper.ts
  web/crux-ui/e2e/verify.spec.ts
  web/crux-ui/playwright.config.ts
  web/crux-ui/src/components/main/nav-button.tsx
  web/crux-ui/src/const.ts
  web/crux-ui/src/pages/api/auth/verify.ts
  web/crux-ui/src/pages/auth/login.tsx
  web/crux-ui/src/pages/auth/verify.tsx
  web/crux-ui/src/routes.ts
  web/crux-ui/src/server/crux/crux.ts
  web/crux/.env.example
  web/crux/docker-compose.yaml
  web/crux/src/app/agent/agent.module.ts
  web/docker-compose.dev.yaml
  web/kratos/kratos.template.yaml
  web/setup_e2e_env.sh
Labels: improvement, web, test

#176 chore: add cli to readme
  README.md
Labels: documentation

#190 fix(crux-ui): date inconsistency
  web/crux-ui/locales/en/common.json
  web/crux-ui/src/elements/dyo-date-picker.tsx
  web/crux-ui/src/pages/audit-log.tsx
  web/crux-ui/src/utils.ts
Labels: bug, web

#191 fix(crux-ui): node tooltip
  web/crux-ui/src/components/nodes/dyo-node-version-text.tsx
Labels: bug, web

#193 fix: change the mac folder and typo in env
  agent/cmd/dagent/.env.example
  agent/pkg/dagent/README.md
  web/crux/install-docker.sh.hbr
Labels: improvement

#196 feat(web): server side filtering on audit log
  protobuf/go/crux/crux.pb.go
  protobuf/go/crux/crux_grpc.pb.go
  protobuf/proto/crux.proto
  web/crux-ui/src/components/shared/paginator.tsx
  web/crux-ui/src/hooks/use-pagination.ts
  web/crux-ui/src/hooks/use-throttleing.ts
  web/crux-ui/src/models/audit.ts
  web/crux-ui/src/models/grpc/protobuf/proto/crux.ts
  web/crux-ui/src/pages/api/audit.ts
  web/crux-ui/src/pages/api/audit/count.ts
  web/crux-ui/src/pages/audit-log.tsx
  web/crux-ui/src/routes.ts
  web/crux-ui/src/server/crux/audit-service.ts
  web/crux-ui/src/utils.ts
  web/crux/proto/crux.proto
  web/crux/src/app/audit/audit.controller.ts
  web/crux/src/app/audit/audit.service.ts
  web/crux/src/grpc/protobuf/proto/crux.ts
  web/crux/src/services/kratos.service.ts
Labels: improvement, web

#203 fix: check directory for secret keys
  agent/internal/config/secret.go
Labels: bug, improvement, agent

#199 feat(crux-ui): add chip filters
  web/crux-ui/locales/en/nodes.json
  web/crux-ui/src/components/products/versions/version-deployments-section.tsx
  web/crux-ui/src/components/shared/filters.tsx
  web/crux-ui/src/elements/dyo-chips.tsx
  web/crux-ui/src/elements/dyo-filter-chips.tsx
  web/crux-ui/src/hooks/use-filters.ts
  web/crux-ui/src/pages/audit-log.tsx
  web/crux-ui/src/pages/deployments.tsx
  web/crux-ui/src/pages/nodes.tsx
  web/crux-ui/src/pages/products.tsx
  web/crux-ui/src/pages/registries.tsx
Labels: enhancement, web

#197 feat(cli): check docker (and podman) requirements
  cli/config_file.go
Labels: improvement, cli

#215 feat(crux-ui): prettier format on windows
  web/crux-ui/package.json
Labels: improvement, web

#201 feat(web): handle different registry namespace
  protobuf/go/crux/crux.pb.go
  protobuf/proto/crux.proto
  web/crux-ui/locales/en/registries.json
  web/crux-ui/src/components/registries/edit-registry-card.tsx
  web/crux-ui/src/components/registries/registry-fields/github-registry-field.tsx
  web/crux-ui/src/components/registries/registry-fields/gitlab-registry-field.tsx
  web/crux-ui/src/components/registries/registry-fields/google-registry-field.tsx
  web/crux-ui/src/models/grpc/protobuf/proto/crux.ts
  web/crux-ui/src/models/registry.ts
  web/crux-ui/src/server/crux/mappers/registry-mappers.ts
  web/crux-ui/src/server/crux/registry-service.ts
  web/crux-ui/src/server/registry-api/github-api-client.ts
  web/crux-ui/src/server/registry-api/gitlab-api-client.ts
  web/crux-ui/src/server/registry-api/registry-connections.ts
  web/crux-ui/src/validations/registry.ts
  web/crux/prisma/migrations/20220927131450_add_registry_namespace/migration.sql
  web/crux/prisma/schema.prisma
  web/crux/prisma/seeds/data/demo/registry.ts
  web/crux/prisma/seeds/data/registries.ts
  web/crux/proto/crux.proto
  web/crux/src/app/registry/guards/registry.auth.validation.guard.ts
  web/crux/src/app/registry/registry.mapper.ts
  web/crux/src/grpc/protobuf/proto/crux.ts
Labels: improvement, web

#214 fix(crux-ui): container config path must be string instead of boolean
  web/crux/src/shared/validation.ts
Labels: bug, web

#212 feat(crux-ui): sensitive image config hint
  web/crux-ui/locales/en/images.json
  web/crux-ui/src/components/products/versions/deployments/instances/edit-instance-config.tsx
  web/crux-ui/src/components/products/versions/images/edit-image-config.tsx
  web/crux-ui/src/components/shared/key-value-input.tsx
  web/crux-ui/src/elements/dyo-input.tsx
  web/crux-ui/src/validations/container.ts
Labels: improvement, web
