Repository dyrector-io/dyrectorio, pull requests merged in 2022-10, with the labels that each got.

#226 chore(crux): upgrade prisma client version to 4.4.0
  web/crux/package-lock.json
  web/crux/package.json
Labels: web, upgrade

#225 refactor(crux): use @updatedAt in prisma schema
  web/crux/prisma/migrations/20220929162700_use_updated_at_attribute/migration.sql
  web/crux/prisma/schema.prisma
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/app/image/image.service.ts
  web/crux/src/app/node/node.service.ts
  web/crux/src/app/notification/notification.service.ts
  web/crux/src/app/product/product.service.ts
  web/crux/src/app/registry/registry.service.ts
  web/crux/src/app/team/team.service.ts
  web/crux/src/app/version/version.service.ts
Labels: improvement, web, hacktoberfest

#231 fix(crux): missing secrets from db seeder
  web/crux/package-lock.json
  web/crux/package.json
  web/crux/prisma/seeds/data/container_configs.ts
  web/crux/prisma/seeds/data/instance_container_configs.ts
  web/crux/prisma/seeds/data/registries.ts
  web/crux/prisma/seeds/seeder.ts
Labels: bug

#238 feat: check open/duplicate port when fire up dyrectorio stack with cli
  cli/config_file.go
  cli/runner.go
Labels: issue:enhancement, source:cli, pr:feat, lang:golang

#253 fix(crux): setting secret value in newly installed node
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/domain/agent-installer.ts
  web/crux/src/domain/agent.ts
Labels: source:web, pr:fix, lang:typescript, severity:high

#254 fix: prisma segfault
  CHANGELOG.md
  web/crux-ui/package.json
  web/crux/docker-compose.yaml
  web/crux/package.json
  web/crux/prisma/schema.prisma
Labels: pr:fix, severity:high

#252 chore: fix broken CI - lint/security @ b5abab4
  agent/pkg/builder/container/exec_builder.go
  cli/config_file.go
Labels: issue:bug, source:agent, issue:hacktoberfest, pr:fix, lang:golang, severity:high

#256 fix(crux-ui): redirect to 404 when invalid invite
  web/crux-ui/src/pages/teams/[teamId]/invite.tsx
Labels: issue:bug, source:web, pr:fix, lang:typescript, severity:high

#257 refactor(test): add unit tests for agent/api
  agent/api/v1/deploy_test.go
  agent/internal/util/json.go
  agent/internal/util/json_test.go
Labels: issue:improvement, source:agent, issue:hacktoberfest, pr:feat, lang:golang

#250 chore: update readme with cli changes, add additional instructions
  README.md
Labels: source:documentation, issue:improvement, pr:chore

#248 feat(cli): add traefik to cli
  agent/pkg/builder/container/container_builder.go
  cli/config_file.go
  cli/container_defaults.go
  cli/go.mod
  cli/go.sum
  cli/runner.go
  cli/traefik.yaml.tmpl
Labels: issue:enhancement, source:cli, pr:feat, lang:golang

#265 refactor(test): add unit test for crane resource errors
  agent/pkg/crane/dev/coverage.sh
  agent/pkg/crane/k8s/error_test.go
Labels: issue:improvement, source:agent, pr:refactor, lang:golang

#278 fix(crux-ui): reset agent version after revoke
  web/crux-ui/src/components/nodes/edit-node-card.tsx
Labels: issue:bug, pr:fix, lang:typescript, severity:medium

#227 fix(crux-ui): npm install target script
  web/crux-ui/package.json
Labels: issue:enhancement, source:web, issue:hacktoberfest, pr:fix

#263 refactor(test): add some unit tests for dagent
  agent/pkg/dagent/caps/parser_test.go
  agent/pkg/dagent/dev/coverage.sh
  agent/pkg/dagent/utils/docker_test.go
  agent/pkg/dagent/utils/import_container_test.go
  agent/pkg/dagent/utils/labels_test.go
  agent/pkg/dagent/utils/release_test.go
  agent/pkg/dagent/utils/traefik_test.go
Labels: issue:improvement, pr:refactor, lang:golang

#281 chore: replaced all try-catch's with catch (err)
  web/crux-ui/src/components/shared/json-editor.tsx
  web/crux-ui/src/errors.ts
  web/crux-ui/src/pages/api/products/[productId]/versions/[versionId]/deployments/[deploymentId]/copy.ts
  web/crux-ui/src/pages/auth/recovery.tsx
  web/crux-ui/src/server/captcha.ts
  web/crux-ui/src/server/crux/crux.ts
  web/crux-ui/src/server/crux/grpc-connection.ts
  web/crux-ui/src/server/crux/health-service.ts
  web/crux-ui/src/server/error-middleware.ts
  web/crux-ui/src/server/registry-api/google-api-client.ts
  web/crux-ui/src/server/validation-middleware.ts
  web/crux-ui/src/server/websocket-error-middleware.ts
  web/crux-ui/src/validations/common.ts
  web/crux/prisma/seeds/demo-seeder.ts
  web/crux/prisma/seeds/seeder.ts
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/shared/cert.ts
  web/crux/src/shared/validation.ts
Labels: issue:improvement, source:web, pr:chore, lang:typescript, severity:low

#268 refactor(test): add unit test for crane clients
  agent/pkg/crane/k8s/clients.go
  agent/pkg/crane/k8s/clients_test.go
  agent/pkg/crane/k8s/configmap.go
  agent/pkg/crane/k8s/deployment.go
  agent/pkg/crane/k8s/ingress.go
  agent/pkg/crane/k8s/namespace.go
  agent/pkg/crane/k8s/pvc.go
  agent/pkg/crane/k8s/secret.go
  agent/pkg/crane/k8s/service.go
Labels: issue:improvement, source:agent, pr:feat, lang:golang

#284 fix(cli): named pipe "deprecation", add socket to configuration
  README.md
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
Labels: source:cli, pr:fix, lang:golang

#280 refactor(agent): JWT parsing & custom validation
  golang/api/v1/deploy.go
  golang/api/v1/deploy_test.go
  golang/cmd/crane/crane.go
  golang/cmd/dagent/dagent.go
  golang/go.mod
  golang/go.sum
  golang/internal/config/config.go
  golang/internal/config/jwt.go
  golang/internal/config/jwt_test.go
  golang/internal/config/secret.go
  golang/internal/dogger/dogger.go
  golang/internal/grpc/grpc.go
  golang/internal/mapper/grpc.go
  golang/pkg/builder/container/container_builder.go
  golang/pkg/builder/container/container_builder_test.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/crane/crane.go
  golang/pkg/crane/crux/deploy.go
  golang/pkg/crane/k8s/configmap.go
  golang/pkg/crane/k8s/deploy_facade.go
  golang/pkg/crane/k8s/deployment.go
  golang/pkg/crane/k8s/deployment_export_test.go
  golang/pkg/crane/k8s/ingress.go
  golang/pkg/crane/k8s/namespace.go
  golang/pkg/crane/k8s/pvc.go
  golang/pkg/crane/k8s/secret.go
  golang/pkg/crane/k8s/service.go
  golang/pkg/crane/k8s/wait.go
  golang/pkg/dagent/caps/parser_test.go
  golang/pkg/dagent/dagent.go
  golang/pkg/dagent/utils/container.go
  golang/pkg/dagent/utils/docker.go
  golang/pkg/dagent/utils/docker_test.go
  golang/pkg/dagent/utils/import_container.go
  golang/pkg/dagent/utils/labels_test.go
  golang/pkg/dagent/utils/network.go
  golang/pkg/dagent/utils/release.go
  golang/pkg/dagent/utils/traefik.go
  protobuf/go.mod
  protobuf/go.sum
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/domain/agent-installer.ts
Labels: source:agent, pr:refactor, lang:golang, severity:low

#298 chore: actualize vscode debug paths
  .vscode/launch.json
Labels: issue:improvement, source:agent, source:cli, pr:chore, lang:golang, severity:low

#291 feat(agent): silence containerbuilder's WithoutConflict func, rework WithoutConflict function, extend deleteContainer function
  golang/pkg/builder/container/container_builder.go
  golang/pkg/builder/container/utils.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
Labels: issue:enhancement, source:agent, pr:feat, lang:golang, severity:medium

#300 fix: move pgp test into the correct folder
  agent/internal/crypt/pgp_test.go
  golang/internal/crypt/pgp_test.go
Labels: source:agent, pr:fix, lang:golang, severity:low

#303 fix: port changes in webb and cli log improvement
  golang/pkg/cli/cli.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/runner.go
  web/.env.example
  web/crux-ui/.env.ci
  web/crux-ui/.env.example
  web/crux-ui/e2e/utils/common.ts
  web/crux/.env.example
  web/crux/src/services/template.file.service.ts
  web/crux/templates/strapi.json
  web/docker-compose.dev.yaml
  web/kratos/.env.example
  web/kratos/README.md
  web/kratos/create_default_user.sh
Labels: issue:improvement, source:web, source:cli, pr:fix, lang:golang, lang:typescript, severity:medium

#304 feat(crux-ui): add node connection card
  protobuf/go/crux/crux.pb.go
  protobuf/proto/crux.proto
  web/crux-ui/i18n.json
  web/crux-ui/locales/en/common.json
  web/crux-ui/locales/en/deployments.json
  web/crux-ui/locales/en/nodes.json
  web/crux-ui/public/book.svg
  web/crux-ui/public/done_black_24dp.svg
  web/crux-ui/public/restart.svg
  web/crux-ui/public/start.svg
  web/crux-ui/public/stop.svg
  web/crux-ui/public/trash-can-grey.svg
  web/crux-ui/src/components/nodes/dyo-node-card.tsx
  web/crux-ui/src/components/nodes/dyo-node-connection-info.tsx
  web/crux-ui/src/components/nodes/dyo-node-setup.tsx
  web/crux-ui/src/components/nodes/edit-node-card.tsx
  web/crux-ui/src/components/nodes/node-connection-card.tsx
  web/crux-ui/src/components/nodes/node-status-indicator.tsx
  web/crux-ui/src/components/nodes/use-node-state.ts
  web/crux-ui/src/components/products/versions/deployments/deployment-details-card.tsx
  web/crux-ui/src/components/products/versions/deployments/deployment-details-section.tsx
  web/crux-ui/src/components/products/versions/deployments/use-copy-deployment-confirmation-modal.ts
  web/crux-ui/src/components/products/versions/deployments/use-deployment-state.tsx
  web/crux-ui/src/components/products/versions/version-deployments-section.tsx
  web/crux-ui/src/const.ts
  web/crux-ui/src/elements/dyo-modal.tsx
  web/crux-ui/src/elements/remaining-time-label.tsx
  web/crux-ui/src/hooks/use-ticker.ts
  web/crux-ui/src/hooks/use-timer.ts
  web/crux-ui/src/models/grpc/protobuf/proto/crux.ts
  web/crux-ui/src/models/node.ts
  web/crux-ui/src/pages/deployments.tsx
  web/crux-ui/src/pages/nodes/[nodeId].tsx
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/deployments/[deploymentId].tsx
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/deployments/[deploymentId]/deploy.tsx
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/image/[imageId].tsx
  web/crux-ui/src/server/crux/node-service.ts
  web/crux/Dockerfile
  web/crux/install-docker.sh.hbr
  web/crux/proto/crux.proto
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/domain/agent.ts
  web/crux/src/grpc/protobuf/proto/crux.ts
  web/crux/src/shared/grpc-node-connection.ts
Labels: issue:enhancement, source:web, pr:feat, lang:typescript, severity:medium

#305 feat: merge go package into single module - go install
  go.mod
  go.sum
  go.work
  go.work.sum
  golang/go.mod
  protobuf/go.mod
  protobuf/go.sum
Labels: issue:enhancement, pr:feat, lang:golang

#307 feat(agent): #245, crane init at k8s deployment for shared secret
  golang/manifest/kubernetes/deployment.yaml
Labels: issue:enhancement, source:agent, pr:feat, severity:medium, lang:k8s-manifest

#302 refactor(test): Add unit tests for golang/internal/mapper
  golang/internal/mapper/grpc_test.go
Labels: issue:improvement, source:agent, pr:refactor, lang:golang, severity:low

#309 chore: goair for new watch tool and makefile modified (#155)
  golang/.gitignore
  golang/Makefile
Labels: issue:enhancement, source:agent, pr:feat, lang:golang, severity:medium
