Repository dyrector-io/dyrectorio, pull requests merged in 2022-08, with the labels that each got.

#57 chore: clean README.mds & generate changelog
  .chglog/config.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  agent/CHANGELOG.md
  agent/pkg/crane/NOTES.md
  agent/pkg/crane/README.md
  agent/pkg/dagent/CHANGELOG.md
  agent/pkg/dagent/NOTES.md
  agent/pkg/dagent/README.md
  agent/pkg/dagent/capabilities.md
  protobuf/README.md
Labels: documentation

#111 fix(agent): image pull throttle, package updates, style
  agent/go.mod
  agent/go.sum
  agent/internal/config/config.go
  agent/internal/grpc/grpc.go
  agent/pkg/builder/container/utils.go
Labels: agent

#121 fix: restrict name text length
  web/crux-ui/src/components/nodes/edit-node-card.tsx
  web/crux-ui/src/validation.ts
  web/crux/prisma/migrations/20220829085939_restrict_name_text_length/migration.sql
  web/crux/prisma/schema.prisma
Labels: improvement, web

#124 fix(crux-ui): white error toast
  web/crux-ui/src/components/layout.tsx
  web/crux-ui/tailwind.config.js
Labels: improvement, web

#122 fix(crux-ui): UI glitches
  web/crux-ui/locales/en/products.json
  web/crux-ui/src/components/nodes/container-status-tag.tsx
  web/crux-ui/src/components/products/product-details-card.tsx
  web/crux-ui/src/components/products/versions/deployments/deployment-status-tag.tsx
  web/crux-ui/src/components/shared/paginator.tsx
  web/crux-ui/src/elements/dyo-tag.tsx
  web/crux-ui/src/pages/audit-log.tsx
  web/crux-ui/src/styles/global.css
  web/crux-ui/tailwind.config.js
Labels: improvement, web

#123 chore: add badges dark/light pictures and more documentation to README.md
  README.md
  dyrectorio-dark.png
  dyrectorio-light.png
  dyrectorio.svg
  how-it-works-dark.png
  how-it-works-light.png
  package-lock.json
Labels: documentation, improvement

#127 doc: extend user facing docs
  docs/.gitbook/assets/dyrector-io-cloud-hosted-architecture.png
  docs/.gitbook/assets/dyrector-io-multi-instance-deployments-no-resale.png
  docs/.gitbook/assets/dyrector-io-multi-instance-deployments-outsourcing-dark (1).png
  docs/.gitbook/assets/dyrector-io-multi-instance-deployments-outsourcing.png
  docs/.gitbook/assets/dyrector.io @ decks.png
  docs/basics/how-it-works.md
  docs/tutorials/create-your-product/create-a-complex-product/add-a-version-to-your-complex-product.md
Labels: documentation
