Repository dyrector-io/dyrectorio, pull requests merged in 2023-04, with the labels that each got.

#528 docs: change for to where in README
  README.md
Labels: source:documentation, issue:improvement, pr:doc, severity:medium

#529 fix: run log and trace when the pipeline failed
  .github/workflows/full.yml
Labels: issue:improvement, pr:fix, severity:low, source:ci

#525 refactor: golang integration tests
  .github/workflows/full.yml
  .github/workflows/image-builder.yml
  .github/workflows/image-tester.yml
  Makefile
  go.mod
  golang/.gitignore
  golang/Makefile
  golang/pkg/builder/container/container_builder.go
  golang/pkg/builder/container/container_builder_test.go
  golang/pkg/builder/container/docker_container_test.go
  golang/pkg/builder/container/types.go
  golang/pkg/cli/cli_test.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/crane/crux/deploy_test.go
  golang/pkg/crane/k8s/deploy_facade.go
  golang/pkg/crane/k8s/service_monitor.go
  golang/pkg/crane/k8s/service_monitor_test.go
  golang/pkg/dagent/utils/import_container.go
  golang/pkg/dagent/utils/init_container.go
  images/alpine-proto/Dockerfile
Labels: issue:enhancement, source:agent, source:cli, pr:refactor, lang:golang, lang:makefile, severity:medium, source:ci, source:build

#533 fix: improve the CLI Docker Engine Server errror message
  golang/pkg/cli/config_file.go
Labels: issue:improvement, source:agent, pr:fix, lang:golang, severity:low

#538 fix(crux): controller route params
  web/crux/src/app/deploy/deploy.http.controller.ts
  web/crux/src/app/image/image.http.controller.ts
  web/crux/src/app/version/version.http.controller.ts
Labels: issue:improvement, source:web, pr:fix, severity:high

#536 fix(crux): OpenAPI improvements
  web/crux/src/app/audit/audit.dto.ts
  web/crux/src/app/audit/audit.http.controller.ts
  web/crux/src/app/dashboard/dashboard.http.controller.ts
  web/crux/src/app/deploy/deploy.http.controller.ts
  web/crux/src/app/image/image.http.controller.ts
  web/crux/src/app/metrics/metrics.controller.ts
  web/crux/src/app/node/node.http.controller.ts
  web/crux/src/app/notification/notification.http.controller.ts
  web/crux/src/app/product/product.dto.ts
  web/crux/src/app/product/product.http.controller.ts
  web/crux/src/app/registry/registry.http.controller.ts
  web/crux/src/app/storage/storage.http.controller.ts
  web/crux/src/app/team/team.http.controller.ts
  web/crux/src/app/template/template.http.controller.ts
  web/crux/src/app/token/token.http.controller.ts
  web/crux/src/app/version/version.http.controller.ts
Labels: issue:improvement, source:web, pr:fix, severity:high

#539 fix(crux): changelog should be optional
  web/crux/src/app/version/version.dto.ts
Labels: issue:improvement, pr:fix, lang:typescript, severity:high

#551 fix(web): move notifications & add API optionals
  web/crux-ui/src/pages/_app.tsx
  web/crux/src/app/health/health.dto.ts
  web/crux/src/app/image/image.dto.ts
  web/crux/src/app/node/node.dto.ts
  web/crux/src/app/team/team.dto.ts
  web/crux/src/app/template/template.dto.ts
  web/crux/src/app/version/version.dto.ts
Labels: issue:enhancement, source:web, pr:fix, lang:typescript, severity:medium

#553 testtesttest
  .github/labeler.yml
  .github/workflows/labeler.yml
  golang/build/cli/Dockerfile
  web/crux-ui/tailwind.config.js
Labels: lang:typescript, source:build

#554 fix(crux): add missing optionals to DTOs
  web/crux/src/app/audit/audit.dto.ts
  web/crux/src/app/deploy/deploy.dto.ts
  web/crux/src/app/image/image.dto.ts
  web/crux/src/app/node/node.dto.ts
  web/crux/src/app/shared/shared.dto.ts
Labels: issue:enhancement, source:web, pr:fix, lang:typescript, severity:medium

#556 feat(ci): add pr labeler
  .github/labeler.yml
  .github/workflows/full.yml
  .github/workflows/image-builder.yml
  .github/workflows/image-tester.yml
  .github/workflows/labeler.yml
  golang/build/cli/Dockerfile
  web/crux-ui/tailwind.config.js
Labels: issue:improvement, pr:feat, lang:typescript, severity:low, source:build

#558 chore: add offline bundle Makefile target
  .gitignore
  .golangci.yml
  .vscode/launch.json
  Makefile
  go.mod
  go.sum
  golang/api/v1/deploy.go
  golang/internal/helper/docker/container.go
  golang/internal/helper/docker/container_test.go
  golang/internal/helper/docker/network.go
  golang/internal/helper/docker/network_test.go
  golang/internal/helper/image/image.go
  golang/internal/helper/image/image_integration_test.go
  golang/internal/helper/image/image_test.go
  golang/internal/helper/image/types.go
  golang/internal/mapper/grpc.go
  golang/internal/mapper/grpc_test.go
  golang/internal/util/array.go
  golang/internal/util/array_test.go
  golang/pkg/builder/container/container_builder.go
  golang/pkg/builder/container/container_builder_test.go
  golang/pkg/cli/cli_test.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/runner.go
  golang/pkg/crane/k8s/deploy_facade.go
  golang/pkg/crane/k8s/secret.go
  golang/pkg/dagent/update/update.go
  golang/pkg/dagent/utils/container.go
  golang/pkg/dagent/utils/docker.go
  golang/pkg/dagent/utils/dockerhelper.go
  golang/pkg/dagent/utils/import_container.go
  golang/pkg/dagent/utils/init_container.go
  golang/pkg/dagent/utils/preflight.go
  golang/pkg/helper/image/image.go
  offline/.gitignore
  offline/import.sh
Labels: issue:enhancement, pr:chore, lang:golang, lang:makefile, lang:shell, severity:medium, source:build

#532 feat(crux): validate all HTTP UUID Params
  web/crux-ui/setup_e2e_env.sh
  web/crux/src/app/deploy/deploy.http.controller.ts
  web/crux/src/app/image/image.http.controller.ts
  web/crux/src/app/node/node.const.ts
  web/crux/src/app/node/node.global-container.http.controller.ts
  web/crux/src/app/node/node.http.controller.ts
  web/crux/src/app/node/node.prefix-container.http.controller.ts
  web/crux/src/app/notification/notification.http.controller.ts
  web/crux/src/app/product/product.http.controller.ts
  web/crux/src/app/registry/registry.http.controller.ts
  web/crux/src/app/storage/storage.http.controller.ts
  web/crux/src/app/team/team.http.controller.ts
  web/crux/src/app/team/user.http.controller.ts
  web/crux/src/app/template/template.http.controller.ts
  web/crux/src/app/token/token.http.controller.ts
  web/crux/src/app/version/version.http.controller.ts
  web/crux/src/decorators/api-params.decorator.ts
  web/crux/src/guards/uuid-params.validation.guard.ts
  web/crux/src/interceptors/prisma-error-interceptor.ts
  web/crux/src/main.ts
Labels: issue:enhancement, pr:feat, lang:typescript, lang:shell, severity:medium

#549 feat(crux): OpenAPI description improvements
  web/crux/src/app/audit/audit.http.controller.ts
  web/crux/src/app/dashboard/dashboard.http.controller.ts
  web/crux/src/app/deploy/deploy.http.controller.ts
  web/crux/src/app/health/health.http.controller.ts
  web/crux/src/app/image/image.http.controller.ts
  web/crux/src/app/node/node.global-container.http.controller.ts
  web/crux/src/app/node/node.http.controller.ts
  web/crux/src/app/node/node.prefix-container.http.controller.ts
  web/crux/src/app/notification/notification.http.controller.ts
  web/crux/src/app/product/product.dto.ts
  web/crux/src/app/product/product.http.controller.ts
  web/crux/src/app/registry/registry.http.controller.ts
  web/crux/src/app/storage/storage.http.controller.ts
  web/crux/src/app/team/team.http.controller.ts
  web/crux/src/app/team/user.http.controller.ts
  web/crux/src/app/template/template.http.controller.ts
  web/crux/src/app/token/token.http.controller.ts
  web/crux/src/app/version/version.http.controller.ts
Labels: issue:improvement, pr:feat, lang:typescript, severity:medium

#560 feat(crux): OpenAPI description and summary extensions
  web/crux/src/app/audit/audit.http.controller.ts
  web/crux/src/app/dashboard/dashboard.http.controller.ts
  web/crux/src/app/deploy/deploy.http.controller.ts
  web/crux/src/app/health/health.http.controller.ts
  web/crux/src/app/image/image.http.controller.ts
  web/crux/src/app/node/node.global-container.http.controller.ts
  web/crux/src/app/node/node.http.controller.ts
  web/crux/src/app/node/node.prefix-container.http.controller.ts
  web/crux/src/app/notification/notification.http.controller.ts
  web/crux/src/app/product/product.http.controller.ts
  web/crux/src/app/registry/registry.http.controller.ts
  web/crux/src/app/storage/storage.http.controller.ts
  web/crux/src/app/team/team.http.controller.ts
  web/crux/src/app/team/user.http.controller.ts
  web/crux/src/app/template/template.http.controller.ts
  web/crux/src/app/token/token.http.controller.ts
  web/crux/src/app/version/version.http.controller.ts
  web/crux/src/main.ts
Labels: issue:improvement, pr:feat, lang:typescript, severity:medium

#561 feat(docs): add open collective link to the repository
  .github/FUNDING.yml
Labels: issue:improvement, severity:medium
