Repository dyrector-io/dyrectorio, pull requests merged in 2023-05, with the labels that each got.

#557 feat(ci): validate title of the PR
  .github/workflows/full.yml
  .github/workflows/title_validation.sh
Labels: issue:enhancement, pr:feat, severity:low, pr: build

#562 feat(ci): add PR labeling based on title
  .github/labeler.yml
  .github/title_labeler.yml
  .github/workflows/labeler.yml
Labels: issue:enhancement, pr:feat, severity:low, source:ci, pr: build

#565 fix(ci): PR labeling based on changes
  .github/labeler.yml
  images/alpine-proto/Dockerfile
  images/playwright/Dockerfile
  web/.env.example
  web/kratos/Dockerfile
Labels: issue:bug, source:web, pr:fix, severity:low, source:build, source:kratos

#566 refactor(web): registry connections
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/app/deploy/deploy.mapper.ts
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/app/deploy/deploy.ws.gateway.ts
  web/crux/src/app/deploy/guards/deploy.get-by-version.team-access.guard.ts
  web/crux/src/app/image/image.mapper.ts
  web/crux/src/app/node/node.ws.gateway.ts
  web/crux/src/app/registry/registry-client.provider.ts
  web/crux/src/app/registry/registry-clients/caches/hub-api-cache.ts
  web/crux/src/app/registry/registry-clients/github-api-client.ts
  web/crux/src/app/registry/registry-clients/gitlab-api-client.ts
  web/crux/src/app/registry/registry-clients/google-api-client.ts
  web/crux/src/app/registry/registry-clients/hub-api-client.ts
  web/crux/src/app/registry/registry-clients/registry-api-client.ts
  web/crux/src/app/registry/registry-clients/v2-api-client.ts
  web/crux/src/app/registry/registry.const.ts
  web/crux/src/app/registry/registry.mapper.ts
  web/crux/src/app/registry/registry.module.ts
  web/crux/src/app/registry/registry.service.ts
  web/crux/src/app/registry/registry.ws.gateway.ts
  web/crux/src/app/shared/shared.mapper.ts
  web/crux/src/app/template/template.service.ts
  web/crux/src/app/version/version.mapper.ts
  web/crux/src/domain/agent.ts
  web/crux/src/domain/deployment.ts
  web/crux/src/grpc/protobuf/proto/crux.ts
  web/crux/src/services/template.file.service.ts
  web/crux/src/shared/grpc-node-connection.ts
  web/crux/src/shared/mapper.ts
  web/crux/src/websockets/common.ts
  web/crux/src/websockets/interceptors/ws.redirect.interceptor.ts
  web/crux/src/websockets/namespace.ts
  web/crux/src/websockets/route.ts
Labels: issue:improvement, source:web, pr:refactor, lang:typescript, severity:high

#567 refactor: remove /new tag from crux api
  docker-compose.http-only.yaml
  docker-compose.yaml
  golang/pkg/cli/container_defaults.go
  golang/pkg/cli/traefik.yaml.tmpl
  web/crux-ui/e2e/utils/websocket.ts
  web/crux-ui/src/routes.ts
  web/crux-ui/src/websockets/websocket-client.ts
  web/crux/src/domain/agent-installer.ts
  web/crux/src/main.ts
  web/crux/src/swagger.ts
  web/traefik.dev.yml
Labels: source:web, source:cli, lang:golang, lang:typescript

#571 fix(ci): labeling by title
  .github/title_labeler.yml
  .github/workflows/title_validation.sh
Labels: pr:fix, severity:low, source:ci

#572 feat(ci): add .md files to documentation source
  .editorconfig
  .github/labeler.yml
  .vscode/settings.json
Labels: issue:improvement, pr:feat, severity:low, source:ci

#575 fix: labeler refactor
  .github/config/labeler.yml
  .github/config/title_label_config.yml
  .github/title_labeler.yml
  .github/workflows/full.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr_title_validation.sh
Labels: pr:fix, source:ci

#569 fix: swagger path
  docker-compose.http-only.yaml
  docker-compose.yaml
  golang/pkg/cli/container_defaults.go
  golang/pkg/cli/traefik.yaml.tmpl
  web/crux/src/main.ts
  web/traefik.dev.yml
Labels: source:web, source:cli, pr:fix, lang:golang, lang:typescript

#573 fix: reorder some of the sections in the README.md
  README.md
Labels: severity:high

#576 fix: nodejs dns resolution
  golang/pkg/cli/container_defaults.go
  web/crux-ui/next.config.js
  web/crux/src/app/deploy/deploy.http.controller.ts
  web/crux/src/app/health/health.http.controller.ts
  web/crux/src/app/node/node.global-container.http.controller.ts
  web/crux/src/app/token/jwt-auth.guard.ts
  web/crux/src/services/kratos.service.ts
Labels: source:web, source:cli, pr:fix, lang:golang, lang:typescript

#579 docs(web): improve descriptions of the api
  web/crux-ui/src/routes.ts
  web/crux/src/app/audit/audit.http.controller.ts
  web/crux/src/app/deploy/deploy.http.controller.ts
  web/crux/src/app/health/health.http.controller.ts
  web/crux/src/app/image/image.http.controller.ts
  web/crux/src/app/node/node.global-container.http.controller.ts
  web/crux/src/app/node/node.http.controller.ts
  web/crux/src/app/node/node.prefix-container.http.controller.ts
  web/crux/src/app/notification/notification.http.controller.ts
  web/crux/src/app/product/product.http.controller.ts
  web/crux/src/app/registry/registry.http.controller.ts
  web/crux/src/app/storage/storage.http.controller.ts
  web/crux/src/app/team/team.http.controller.ts
  web/crux/src/app/template/template.http.controller.ts
  web/crux/src/app/token/token.http.controller.ts
  web/crux/src/app/version/version.http.controller.ts
Labels: source:web, pr:doc, lang:typescript

#577 fix: production compose database healthcheck user
  .env.example
  docker-compose.http-only.yaml
  docker-compose.yaml
Labels: pr:fix, severity:medium

#582 fix(cli): rename emails in default config
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
Labels: source:cli, pr:fix, lang:golang

#580 feat: introduce yamlfmt and apply formatting
  .editorconfig
  .github/config/labeler.yml
  .github/config/title_label_config.yml
  .github/labeler.yml
  .github/workflows/full.yml
  .github/workflows/image-builder.yml
  .github/workflows/image-tester.yml
  .github/workflows/pr-labeler.yml
  .golangci.yml
  Makefile
  golang/Makefile
  golang/manifest/kubernetes/configmap.yaml
  golang/manifest/kubernetes/deployment.yaml
  golang/manifest/kubernetes/namespace.yaml
  golang/manifest/kubernetes/rolebinding.yaml
  web/crux-ui/docker-compose.yaml
  web/crux/docker-compose.yaml
  web/docker-compose.dev.yaml
  web/kratos/kratos.template.yaml
  web/traefik.dev.yml
Labels: source:web, pr:feat, lang:makefile, source:ci, source:build, source:kratos

#590 fix(crux): nestjs clientStream workaround
  web/crux/src/app/agent/agent.grpc.controller.ts
  web/crux/src/app/agent/guards/agent.auth.guard.ts
  web/crux/src/app/agent/interceptors/agent.error.interceptor.ts
  web/crux/src/filters/crux.exception-filter.ts
  web/crux/src/filters/grpc.exception-filter.ts
Labels: source:web, pr:fix, lang:typescript

#586 fix(ci): image builder
  .github/workflows/image-builder.yml
  golang/Makefile
  images/alpine-proto/Dockerfile
Labels: issue:improvement, pr:fix, lang:makefile, severity:medium, source:ci, source:build

#593 docs: remove unused texts from README.md
  README.md
Labels: source:documentation, issue:improvement, pr:fix, pr:doc, severity:low

#591 fix(web): websocket connection issues
  web/crux-ui/.env.example
  web/crux-ui/next.config.js
  web/crux-ui/src/websockets/websocket-client.ts
  web/crux/.env.example
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/app/team/team.http.controller.ts
  web/crux/src/app/version/version.service.ts
  web/crux/src/domain/agent-installer.ts
  web/crux/src/services/kratos.service.ts
  web/crux/src/websockets/client-setup.ts
  web/crux/src/websockets/common.ts
  web/crux/src/websockets/dyo.ws.adapter.ts
Labels: source:web, pr:fix, lang:typescript

#587 feat(web): container config annotations
  web/crux-ui/e2e/utils/node-helper.ts
  web/crux/src/app.module.ts
  web/crux/src/app/agent/agent.module.ts
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/app/container/container.dto.ts
  web/crux/src/app/container/container.mapper.ts
  web/crux/src/app/container/container.module.ts
  web/crux/src/app/deploy/deploy.dto.ts
  web/crux/src/app/deploy/deploy.mapper.spec.ts
  web/crux/src/app/deploy/deploy.mapper.ts
  web/crux/src/app/deploy/deploy.message.ts
  web/crux/src/app/deploy/deploy.module.ts
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/app/deploy/interceptors/deploy.start.interceptor.ts
  web/crux/src/app/editor/editor.service.ts
  web/crux/src/app/image/image.dto.ts
  web/crux/src/app/image/image.mapper.ts
  web/crux/src/app/image/image.module.ts
  web/crux/src/app/image/image.service.ts
  web/crux/src/app/node/node.dto.ts
  web/crux/src/app/node/node.mapper.ts
  web/crux/src/app/node/node.message.ts
  web/crux/src/app/notification/notification.mapper.ts
  web/crux/src/app/shared/shared.module.ts
  web/crux/src/app/team/team.mapper.ts
  web/crux/src/app/team/team.module.ts
  web/crux/src/app/team/team.service.ts
  web/crux/src/app/template/template.service.ts
  web/crux/src/app/token/jwt-auth.guard.ts
  web/crux/src/app/token/jwt.strategy.ts
  web/crux/src/app/token/token.service.ts
  web/crux/src/builders/email.builder.ts
  web/crux/src/domain/container.ts
  web/crux/src/domain/deployment.ts
  web/crux/src/domain/identity.ts
  web/crux/src/domain/utils.ts
  web/crux/src/domain/validation.ts
  web/crux/src/interceptors/audit-logger.interceptor.ts
  web/crux/src/interceptors/helper.interceptor.ts
  web/crux/src/services/domain.notification.service.ts
  web/crux/src/services/kratos.service.ts
  web/crux/src/services/template.file.service.ts
  web/crux/src/shared/dtos/paginating.ts
  web/crux/src/shared/mapper.ts
  web/crux/src/shared/models/common.ts
  web/crux/src/shared/models/index.ts
  web/crux/src/shared/user-access.guard.ts
Labels: source:web, pr:feat, lang:typescript

#595 docs: add CLI docs link to readme
  README.md
  web/crux/README.md
Labels: source:web, pr:doc

#596 fix(cli): invalid gRPC port
  golang/pkg/cli/cli.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
Labels: issue:improvement, source:cli, pr:fix, lang:golang, severity:medium

#600 fix: improve release target in makefile
  Makefile
  web/crux-ui/package.json
  web/crux/package.json
Labels: source:web, pr:fix, lang:makefile, source:build

#601 fix(ci): rebuild everything on release
  .github/workflows/full.yml
Labels: pr:fix, severity:high, source:ci

#603 fix(ci): check_version.sh sh compilance
  .github/workflows/check_version.sh
Labels: issue:improvement, pr:fix, severity:high, source:ci

#604 refactor(cli): add documentation, clean up, fix minor bugs
  golang/cmd/dyo/main.go
  golang/pkg/cli/cli.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/cli/display.go
  golang/pkg/cli/runner.go
Labels: issue:improvement, source:cli, pr:refactor, lang:golang, severity:medium

#607 fix(ci): fix stable push on main branch
  .github/workflows/full.yml
  .github/workflows/pipeline_set_output_tag.sh
Labels: pr:fix, source:ci

#594 feat(crux): add pino logger, and small config refactors
  golang/pkg/cli/container_defaults.go
  web/crux-ui/src/utils.ts
  web/crux/.env.example
  web/crux/package-lock.json
  web/crux/package.json
  web/crux/src/app.module.ts
  web/crux/src/config/app.config.ts
  web/crux/src/config/pino.logger.config.ts
  web/crux/src/config/swagger.config.ts
  web/crux/src/domain/agent-installer.ts
  web/crux/src/interceptors/http.logger.interceptor.ts
  web/crux/src/main.ts
  web/crux/src/services/application.shutdown.service.ts
  web/crux/src/services/kratos.service.ts
  web/crux/src/shared/const.ts
Labels: source:web, source:cli, pr:feat, lang:golang, lang:typescript, severity:medium

#598 feat: append git short hash to crux and ui versions
  .github/workflows/full.yml
  .github/workflows/image-tester.yml
  .github/workflows/update-package-version.sh
  Makefile
  images/alpine-proto/Dockerfile
  web/crux/Dockerfile
Labels: source:web, pr:feat, lang:makefile, source:ci, source:build

#588 feat(ci): add yaml validation to the pipeline
  .github/workflows/full.yml
  .github/workflows/image-builder.yml
  .github/workflows/image-tester.yml
  .yamlfmt
Labels: issue:bug, issue:enhancement, pr:feat, source:ci, pr: build

#610 fix(ci): labeler fork repository dependency
  .github/workflows/pr-labeler.yml
Labels: issue:enhancement, pr:fix, severity:medium, source:ci

#609 test: ws namespace getParameter, onSubscribe
  web/crux/src/websockets/common.ts
  web/crux/src/websockets/namespace.spec.ts
  web/crux/src/websockets/namespace.ts
Labels: source:web, lang:typescript, pr:test

#613 docs: add back the how it works image
  README.md
Labels: pr:doc

#614 test(crux): WsNamespace onUnsubscribe unit tests
  web/crux/src/websockets/namespace.spec.ts
  web/crux/src/websockets/namespace.ts
Labels: source:web, lang:typescript, pr:test

#620 feat(ci): add auto assignes to PR
  .github/config/auto-assign.yml
  .github/workflows/pr-labeler.yml
Labels: pr:feat, source:ci

#621 fix(crux): nullpointer in ContainerStateMessage mapping
  web/crux/src/app/node/node.mapper.ts
Labels: source:web, pr:fix, lang:typescript

#635 feat(crux): use proxy headers to determine the node ip
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/main.ts
  web/crux/src/shared/grpc-node-connection.spec.ts
  web/crux/src/shared/grpc-node-connection.ts
Labels: source:web, pr:feat, lang:typescript

#638 fix: add missing LOG_LEVEL for the project
  .env.example
  docker-compose.http-only.yaml
  docker-compose.yaml
  web/.env.example
Labels: pr:fix

#641 docs: Use the correct url for app.dyrectorio.com
  README.md
Labels: source:documentation, issue:improvement, pr:doc, severity:medium

#644 fix: rename dyrectorio to dyrector.io in docs
  CONTRIBUTING.md
  web/crux-ui/locales/en/register.json
  web/crux/src/app/node/node.prefix-container.http.controller.ts
  web/crux/src/app/registry/registry.http.controller.ts
  web/crux/src/app/storage/storage.http.controller.ts
  web/crux/src/config/swagger.config.ts
Labels: source:web, pr:fix, lang:typescript

#645 fix(web): node builds
  web/crux-ui/Dockerfile
  web/crux/Dockerfile
Labels: source:web, pr:fix, source:build

#642 feat(web): improve audit log
  web/crux-ui/locales/en/common.json
  web/crux-ui/src/models/audit.ts
  web/crux-ui/src/pages/audit-log.tsx
  web/crux-ui/src/pages/dashboard.tsx
  web/crux/prisma/migrations/20230524131252_audit_log_refinement/migration.sql
  web/crux/prisma/schema.prisma
  web/crux/src/app/audit.logger/audit.logger.interceptor.ts
  web/crux/src/app/audit.logger/audit.logger.service.ts
  web/crux/src/app/audit/audit.dto.ts
  web/crux/src/app/audit/audit.http.controller.ts
  web/crux/src/app/audit/audit.service.ts
  web/crux/src/app/deploy/deploy.ws.gateway.ts
  web/crux/src/app/node/node.container.ws.gateway.ts
  web/crux/src/app/registry/registry.ws.gateway.ts
  web/crux/src/app/version/version.ws.gateway.ts
Labels: source:web, pr:feat, lang:typescript, lang:sql

#646 feat(ci): minor versions should always point at the latest patchversion
  .github/workflows/full.yml
  .github/workflows/pipeline_set_output_tag.sh
Labels: pr:feat, severity:medium, source:ci

#648 build: add hardcoded agent and cli versions
  .github/workflows/check_version.sh
  .github/workflows/full.yml
  golang/Makefile
  golang/internal/version/version.go
Labels: lang:golang, lang:makefile, source:ci, source:build, pr:build

#647 feat: change the version in version.go when using make release command
  .github/workflows/check_version.sh
  Makefile
  golang/internal/version/version.go
Labels: pr:feat, lang:golang, lang:makefile, source:ci, source:build

#652 fix(crux): add default for pino logger
  web/crux/src/config/pino.logger.config.ts
Labels: source:web, pr:fix, lang:typescript
