Repository dyrector-io/dyrectorio, pull requests merged in 2023-03, with the labels that each got.

#483 feat: add production ready compose file
  .env.example
  docker-compose.yaml
Labels: issue:enhancement, pr:feat, severity:medium

#490 feat(crane): crane init & delete functions small fixes
  .vscode/launch.json
  golang/cmd/crane/crane.go
  golang/internal/mapper/pipe.go
  golang/internal/mapper/pipe_test.go
  golang/pkg/builder/container/container_builder_test.go
  golang/pkg/crane/crane.go
  golang/pkg/crane/k8s/clients.go
  golang/pkg/crane/k8s/delete_facade.go
  golang/pkg/crane/k8s/deploy_facade.go
  golang/pkg/crane/k8s/secret.go
  golang/pkg/dagent/utils/docker.go
  golang/pkg/dagent/utils/docker_test.go
  golang/pkg/helper/docker/container_test.go
  golang/pkg/helper/docker/network_test.go
Labels: issue:enhancement, source:agent, pr:feat, lang:golang, severity:medium

#492 fix(crux): grpc identity illegal characters
  .github/workflows/full.yml
  web/crux/src/app/audit/audit.controller.ts
  web/crux/src/app/dashboard/dashboard.controller.ts
  web/crux/src/app/deploy/deploy.controller.ts
  web/crux/src/app/image/image.controller.ts
  web/crux/src/app/node/node.controller.ts
  web/crux/src/app/notification/notification.controller.ts
  web/crux/src/app/product/product.controller.ts
  web/crux/src/app/registry/registry.controller.ts
  web/crux/src/app/team/guards/team.select.guard.ts
  web/crux/src/app/team/team.controller.ts
  web/crux/src/app/team/team.service.ts
  web/crux/src/app/template/template.controller.ts
  web/crux/src/app/token/token.controller.ts
  web/crux/src/app/version/version.controller.ts
  web/crux/src/app/version/version.http.controller.ts
  web/crux/src/decorators/grpc-interceptors.decorator.ts
  web/crux/src/interceptors/grpc.user.interceptor.ts
  web/crux/src/interceptors/helper.interceptor.ts
  web/crux/src/shared/user-access.guard.ts
Labels: issue:bug, source:web, pr:fix, lang:typescript, severity:critical

#496 fix: change to tags to use stable everywhere
  golang/Makefile
  golang/manifest/kubernetes/deployment.yaml
  golang/pkg/cli/cli.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/crane/external/crane-v1-uml-diagram.uxf
  golang/pkg/crane/external/grpc-test.sh
  golang/pkg/crane/external/post-update.sh
  golang/pkg/crane/external/pre-update.sh
  golang/pkg/dagent/README.md
  golang/pkg/dagent/docker-compose.yaml
  web/crux/assets/install-script/install-docker.ps1.hbr
  web/crux/assets/install-script/install-docker.sh.hbr
  web/docker-compose.dev.yaml
Labels: issue:bug, source:agent, source:web, source:cli, pr:fix, lang:golang, lang:makefile, lang:shell, severity:critical, lang:k8s-manifest

#495 feat: implement Audit and Dashboard APIs
  .github/workflows/full.yml
  docker-compose.yaml
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/cli/runner.go
  golang/pkg/cli/traefik.yaml.tmpl
  images/playwright/package-lock.json
  images/playwright/package.json
  package-lock.json
  web/crux-ui/.env.ci
  web/crux-ui/.env.example
  web/crux-ui/.eslintrc.js
  web/crux-ui/package-lock.json
  web/crux-ui/package.json
  web/crux-ui/src/models/audit.ts
  web/crux-ui/src/pages/api/audit.ts
  web/crux-ui/src/pages/api/audit/count.ts
  web/crux-ui/src/pages/api/dashboard.ts
  web/crux-ui/src/pages/audit-log.tsx
  web/crux-ui/src/pages/dashboard.tsx
  web/crux-ui/src/routes.ts
  web/crux-ui/src/server/crux/audit-service.ts
  web/crux-ui/src/server/crux/crux.ts
  web/crux-ui/src/server/crux/dashboard-service.ts
  web/crux-ui/src/utils.ts
  web/crux/.env.example
  web/crux/.eslintrc.js
  web/crux/src/app/audit/audit.controller.ts
  web/crux/src/app/audit/audit.dto.ts
  web/crux/src/app/audit/audit.http.controller.ts
  web/crux/src/app/audit/audit.module.ts
  web/crux/src/app/audit/audit.service.ts
  web/crux/src/app/dashboard/dashboard.controller.ts
  web/crux/src/app/dashboard/dashboard.dto.ts
  web/crux/src/app/dashboard/dashboard.http.controller.ts
  web/crux/src/app/dashboard/dashboard.module.ts
  web/crux/src/app/dashboard/dashboard.service.ts
  web/crux/src/app/notification/notification.service.ts
  web/crux/src/app/team/team.service.ts
  web/crux/src/app/template/template.service.ts
  web/crux/src/app/token/jwt-auth.guard.ts
  web/crux/src/app/token/token.module.ts
  web/crux/src/services/kratos.service.ts
  web/crux/src/shared/paginating.ts
  web/traefik.dev.yml
Labels: issue:enhancement, source:web, pr:feat, lang:typescript, severity:medium

#499 fix(crux): joining script for nodes when using podman
  web/crux/assets/install-script/install-docker.sh.hbr
Labels: issue:bug, source:web, pr:fix, severity:medium

#482 feat(cli): add kratos rate limit
  golang/pkg/cli/container_defaults.go
Labels: source:cli, pr:feat, severity:medium

#502 feat(crane): add deployment commands (start, stop, restart)
  golang/pkg/crane/crane.go
  golang/pkg/crane/crux/deploy.go
  golang/pkg/crane/k8s/deployment.go
Labels: issue:enhancement, source:agent, pr:feat, lang:golang, severity:medium

#504 refactor(web): refactor product to HTTP API
  web/crux-ui/src/components/products/edit-product-card.tsx
  web/crux-ui/src/components/products/product-card.tsx
  web/crux-ui/src/components/products/product-view-list.tsx
  web/crux-ui/src/components/products/product-view-tile.tsx
  web/crux-ui/src/components/products/versions/edit-version-card.tsx
  web/crux-ui/src/components/products/versions/increase-version-card.tsx
  web/crux-ui/src/models/product.ts
  web/crux-ui/src/pages/products.tsx
  web/crux-ui/src/pages/products/[productId].tsx
  web/crux-ui/src/routes.ts
  web/crux-ui/src/server/crux/product-service.ts
  web/crux/src/app/audit/audit.dto.ts
  web/crux/src/app/product/product.controller.ts
  web/crux/src/app/product/product.dto.ts
  web/crux/src/app/product/product.http.controller.ts
  web/crux/src/app/product/product.mapper.ts
  web/crux/src/app/product/product.module.ts
  web/crux/src/app/product/product.service.ts
  web/crux/src/app/template/template.controller.ts
  web/crux/src/app/template/template.service.ts
  web/crux/src/app/version/version.dto.ts
  web/crux/src/app/version/version.mapper.ts
  web/crux/src/shared/dtos/audit-dates.ts
  web/crux/src/shared/dtos/common.ts
  web/crux/src/shared/dtos/paginating.ts
Labels: issue:enhancement, source:web, pr:refactor, lang:typescript, severity:high

#508 refactor: change dynamic crane manifests & dynamic tags
  .env.example
  README.md
  docker-compose.yaml
  golang/manifest/kubernetes/configmap.yaml
  golang/manifest/kubernetes/deployment.yaml
  golang/manifest/kubernetes/namespace.yaml
  golang/manifest/kubernetes/rolebinding.yaml
  golang/pkg/crane/external/crane-v1-uml-diagram.uxf
  golang/pkg/crane/external/grpc-test.sh
  golang/pkg/crane/external/post-update.sh
  golang/pkg/crane/external/pre-update.sh
  web/crux/.env.example
  web/crux/assets/install-script/install-docker.ps1.hbr
  web/crux/assets/install-script/install-docker.sh.hbr
  web/crux/assets/install-script/install-k8s.sh.hbr
  web/crux/src/domain/agent-installer.ts
Labels: issue:improvement, source:web, pr:refactor, lang:makefile, lang:k8s-manifest, source:ci, source:build

#511 feat(dagent): add init container implementation
  golang/api/v1/deploy.go
  golang/pkg/dagent/utils/docker.go
  golang/pkg/dagent/utils/import_container.go
  golang/pkg/dagent/utils/import_container_test.go
  golang/pkg/dagent/utils/init_container.go
  golang/pkg/dagent/utils/volume.go
Labels: issue:improvement, source:agent, pr:feat, lang:golang, severity:medium

#510 ci: fix pipeline image push
  .chglog/config.yml
  .github/workflows/full.yml
  golang/pkg/cli/container_defaults.go
Labels: issue:improvement, pr:fix, severity:critical, source:ci

#491 feat: add container runtime version checking
  golang/internal/runtime/container/container.go
  golang/internal/runtime/container/container_test.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/runner.go
  golang/pkg/dagent/config/config.go
  golang/pkg/dagent/utils/docker.go
  golang/pkg/dagent/utils/preflight.go
  golang/pkg/helper/image/image_integration_test.go
  golang/pkg/helper/image/image_test.go
Labels: issue:enhancement, source:cli, pr:feat, lang:golang

#516 fix: dyrectorio compose traefik has missing labels
  docker-compose.yaml
Labels: pr:fix, severity:high

#517 refactor: add Container better builder interfacing
  .github/workflows/full.yml
  .github/workflows/image-builder.yml
  .github/workflows/image-tester.yml
  Makefile
  go.mod
  go.sum
  golang/Makefile
  golang/internal/grpc/grpc.go
  golang/internal/logdefer/errhandlr.go
  golang/pkg/builder/container/container_builder.go
  golang/pkg/builder/container/container_builder_test.go
  golang/pkg/builder/container/docker_container.go
  golang/pkg/builder/container/docker_container_test.go
  golang/pkg/builder/container/exec_builder_test.go
  golang/pkg/builder/container/types.go
  golang/pkg/cli/cli.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/cli/display.go
  golang/pkg/cli/runner.go
  golang/pkg/dagent/update/update.go
  golang/pkg/dagent/utils/container.go
  golang/pkg/dagent/utils/docker.go
  golang/pkg/dagent/utils/import_container.go
  golang/pkg/dagent/utils/init_container.go
  golang/pkg/helper/docker/container.go
  golang/pkg/helper/docker/container_test.go
  golang/pkg/helper/docker/network_test.go
  golang/pkg/helper/image/image.go
  golang/pkg/helper/image/image_integration_test.go
  images/alpine-proto/Dockerfile
Labels: issue:improvement, source:agent, source:cli, pr:refactor, lang:golang, lang:makefile, severity:medium

#518 feat(cli): add silent mode, hiding welcome message
  golang/pkg/cli/cli.go
  golang/pkg/cli/config_file.go
Labels: issue:enhancement, source:cli, pr:feat, lang:golang, severity:low

#521 fix(cli): add missing protocol for CRUX_UI_URL
  golang/pkg/cli/container_defaults.go
Labels: issue:bug, source:cli, lang:golang, severity:high

#523 doc: refactor the README.md & add some FAQs from users
  README.md
Labels: source:documentation, issue:improvement, pr:doc, severity:medium
