Repository dyrector-io/dyrectorio, pull requests merged in 2023-08, with the labels that each got.

#775 refactor(crane): use deployment, add RBAC changes
  golang/internal/health/server.go
  golang/internal/health/types.go
  golang/pkg/crane/config/config.go
  golang/pkg/crane/crane.go
  golang/pkg/crane/k8s/namespace.go
  web/crux/assets/install-script/install-k8s.sh.hbr
Labels: source:agent, source:web, pr:refactor, lang:golang, lang:shell

#776 chore: new export dyrectorio offline bundle
  .gitignore
  Makefile
  offline/import.sh
Labels: pr:chore, lang:makefile, lang:shell, source:build

#766 fix(web): docker log config default value
  Makefile
  golang/internal/mapper/grpc.go
  golang/internal/mapper/grpc_test.go
  golang/pkg/dagent/utils/container.go
  protobuf/go/common/common.pb.go
  protobuf/proto/common.proto
  web/crux-ui/locales/en/container.json
  web/crux-ui/src/components/projects/versions/images/config/dagent-config-section.tsx
  web/crux-ui/src/models/container.ts
  web/crux-ui/src/validations/container.ts
  web/crux/proto/common.proto
  web/crux/src/app/deploy/deploy.mapper.spec.ts
  web/crux/src/app/deploy/deploy.mapper.ts
  web/crux/src/domain/container.ts
  web/crux/src/domain/validation.ts
  web/crux/src/grpc/protobuf/proto/common.ts
Labels: source:agent, source:web, pr:fix, lang:golang, lang:typescript, lang:makefile, source:build, source:proto

#777 fix: container list watching with multiple users
  web/crux/src/domain/container-status-watcher.ts
Labels: source:web, lang:typescript

#772 feat(crux-ui): save view mode for projects, deployment state, version state pages
  web/crux-ui/src/components/projects/versions/deployments/use-deployment-state.tsx
  web/crux-ui/src/components/projects/versions/use-version-state.ts
  web/crux-ui/src/hooks/use-persisted-view-mode.ts
  web/crux-ui/src/pages/[teamSlug]/projects.tsx
  web/crux-ui/src/websockets/websocket-client.ts
Labels: source:web, pr:feat, lang:typescript

#787 doc: update readme
  README.md
Labels: pr:doc, severity:low

#782 feat(crux-ui): deployment page create card
  web/crux-ui/e2e/with-login/deployment/deployment.spec.ts
  web/crux-ui/locales/en/deployments.json
  web/crux-ui/src/components/deployments/add-deployment-card.tsx
  web/crux-ui/src/components/projects/versions/deployments/add-deployment-card.tsx
  web/crux-ui/src/const.ts
  web/crux-ui/src/models/deployment.ts
  web/crux-ui/src/pages/[teamSlug]/deployments.tsx
  web/crux-ui/src/validations/deployment.ts
Labels: source:web, pr:feat, lang:typescript

#789 fix(crux-ui): image config error text
  web/crux-ui/locales/en/container.json
  web/crux-ui/src/components/projects/versions/images/config/common-config-section.tsx
  web/crux-ui/src/components/projects/versions/images/config/crane-config-section.tsx
  web/crux-ui/src/components/projects/versions/images/config/dagent-config-section.tsx
  web/crux-ui/src/components/shared/secret-key-value-input.tsx
  web/crux-ui/src/pages/[teamSlug]/deployments/[deploymentId]/instances/[instanceId].tsx
  web/crux-ui/src/pages/[teamSlug]/projects/[projectId]/versions/[versionId]/images/[imageId].tsx
  web/crux-ui/src/validations/container.ts
  web/crux/src/domain/validation.ts
Labels: source:web, pr:fix, lang:typescript

#790 feat(crux-ui): separate image and instance config buttons
  web/crux-ui/e2e/utils/projects.ts
  web/crux-ui/e2e/with-login/deployment/deployment-mutability-versioned.spec.ts
  web/crux-ui/e2e/with-login/deployment/deployment-mutability-versionless.spec.ts
  web/crux-ui/e2e/with-login/nodes-deploy.spec.ts
  web/crux-ui/locales/en/common.json
  web/crux-ui/locales/en/storages.json
  web/crux-ui/public/image_config_icon.svg
  web/crux-ui/public/instance_config_icon.svg
  web/crux-ui/src/components/nodes/dyo-node-card.tsx
  web/crux-ui/src/components/nodes/dyo-node-setup.tsx
  web/crux-ui/src/components/nodes/node-containers-list.tsx
  web/crux-ui/src/components/notifications/notification-card.tsx
  web/crux-ui/src/components/projects/versions/deployments/deployment-container-status-list.tsx
  web/crux-ui/src/components/projects/versions/deployments/deployment-view-list.tsx
  web/crux-ui/src/components/projects/versions/version-card.tsx
  web/crux-ui/src/components/projects/versions/version-deployments-section.tsx
  web/crux-ui/src/components/projects/versions/version-view-list.tsx
  web/crux-ui/src/components/registries/registry-card.tsx
  web/crux-ui/src/components/storages/storage-card.tsx
  web/crux-ui/src/components/team/team-card.tsx
  web/crux-ui/src/elements/web-socket-save-indicator.tsx
  web/crux-ui/src/pages/[teamSlug]/deployments.tsx
Labels: source:web, pr:feat, lang:typescript

#793 chore(crux): fix vm2 critical vuln using npm audit fix
  web/crux/package-lock.json
  web/crux/package.json
Labels: source:web, pr:chore

#784 fix(crux-ui): register and team card validation
  web/crux-ui/i18n.json
  web/crux-ui/locales/en/register.json
  web/crux-ui/src/components/team/create-team-card.tsx
  web/crux-ui/src/pages/auth/register-oidc.tsx
  web/crux-ui/src/pages/auth/register.tsx
  web/crux-ui/src/validations/auth.ts
  web/crux-ui/src/validations/common.ts
  web/crux-ui/src/validations/team.ts
Labels: source:web, pr:fix, lang:typescript

#792 feat(crux): add mlops template
  web/crux-ui/src/validations/container.ts
  web/crux/assets/templates/mlflow.jpg
  web/crux/assets/templates/mlflow.json
  web/crux/src/domain/validation.ts
Labels: source:web, pr:feat, lang:typescript

#794 chore: readme styling
  README.md
Labels: pr:chore

#791 feat(crux-ui): image list in registry page
  web/crux-ui/e2e/with-login/registry.spec.ts
  web/crux-ui/locales/en/common.json
  web/crux-ui/src/components/shared/paginator.tsx
  web/crux-ui/src/pages/[teamSlug]/registries/[registryId].tsx
Labels: source:web, pr:feat, lang:typescript

#795 cicd: remove hardcoded values and small changes
  .github/workflows/deploy_external.yaml
  CONTRIBUTING.md
  GETTING_STARTED.md
  MAINTAINERS.md
  SECURITY.md
Labels: source:ci, pr:cicd

#706 test(crux-ui): add e2e test for version and deployment deletes and fix test flakyness
  .github/workflows/product_builder.yaml
  web/crux-ui/e2e/utils/common.ts
  web/crux-ui/e2e/utils/config-bundle.ts
  web/crux-ui/e2e/utils/container-config.ts
  web/crux-ui/e2e/utils/global.setup.spec.ts
  web/crux-ui/e2e/utils/global.teardown.spec.ts
  web/crux-ui/e2e/utils/global.teardown.ts
  web/crux-ui/e2e/utils/node-helper.ts
  web/crux-ui/e2e/utils/nodes.ts
  web/crux-ui/e2e/utils/projects.ts
  web/crux-ui/e2e/utils/storages.ts
  web/crux-ui/e2e/utils/teams.ts
  web/crux-ui/e2e/utils/templates.ts
  web/crux-ui/e2e/utils/test.fixture.ts
  web/crux-ui/e2e/utils/websocket.ts
  web/crux-ui/e2e/with-login/dashboard.spec.ts
  web/crux-ui/e2e/with-login/deployment/deployment-copyability-versioned.spec.ts
  web/crux-ui/e2e/with-login/deployment/deployment-copyability-versionless.spec.ts
  web/crux-ui/e2e/with-login/deployment/deployment-deletability.spec.ts
  web/crux-ui/e2e/with-login/deployment/deployment-mutability-versioned.spec.ts
  web/crux-ui/e2e/with-login/deployment/deployment-mutability-versionless.spec.ts
  web/crux-ui/e2e/with-login/deployment/deployment-protection.spec.ts
  web/crux-ui/e2e/with-login/deployment/deployment.spec.ts
  web/crux-ui/e2e/with-login/image-config.spec.ts
  web/crux-ui/e2e/with-login/image-config/common-editor.spec.ts
  web/crux-ui/e2e/with-login/image-config/common-json.spec.ts
  web/crux-ui/e2e/with-login/image-config/docker-editor.spec.ts
  web/crux-ui/e2e/with-login/image-config/docker-json.spec.ts
  web/crux-ui/e2e/with-login/image-config/image-config-filters.spec.ts
  web/crux-ui/e2e/with-login/image-config/image-config-view-state.spec.ts
  web/crux-ui/e2e/with-login/image-config/kubernetes-editor.spec.ts
  web/crux-ui/e2e/with-login/image-config/kubernetes-json.spec.ts
  web/crux-ui/e2e/with-login/nodes-deploy.spec.ts
  web/crux-ui/e2e/with-login/nodes.spec.ts
  web/crux-ui/e2e/with-login/notification.spec.ts
  web/crux-ui/e2e/with-login/project.spec.ts
  web/crux-ui/e2e/with-login/registry.spec.ts
  web/crux-ui/e2e/with-login/resource-copy.spec.ts
  web/crux-ui/e2e/with-login/storage.spec.ts
  web/crux-ui/e2e/with-login/team.spec.ts
  web/crux-ui/e2e/with-login/template.spec.ts
  web/crux-ui/e2e/with-login/version.spec.ts
  web/crux-ui/e2e/without-login/login.spec.ts
  web/crux-ui/e2e/without-login/register.spec.ts
  web/crux-ui/e2e/without-login/verify.spec.ts
  web/crux-ui/playwright.config.ts
  web/crux-ui/src/components/projects/versions/edit-version-card.tsx
  web/crux-ui/src/components/projects/versions/version-deployments-section.tsx
  web/crux-ui/src/hooks/use-websocket-translation.ts
  web/crux-ui/src/pages/[teamSlug]/projects/[projectId]/versions/[versionId].tsx
  web/crux/assets/notificationTemplates/failed-deploy.json
  web/crux/assets/notificationTemplates/successful-deploy.json
Labels: source:web, lang:typescript, pr:test, source:ci
