Repository dyrector-io/dyrectorio, pull requests merged in 2023-02, with the labels that each got.

#461 fix(deps): update prisma to 4.10.1
  web/crux/package-lock.json
  web/crux/package.json
Labels: issue:improvement, source:web, pr:fix, severity:critical, dependencies

#458 feat(cli): add welcome message
  golang/pkg/cli/cli.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/cli/runner.go
Labels: issue:enhancement, source:cli, pr:feat, severity:low

#460 fix(crux-ui): volume ids, chips
  web/crux-ui/src/components/nodes/dyo-node-setup.tsx
  web/crux-ui/src/components/notifications/edit-notification-card.tsx
  web/crux-ui/src/components/products/edit-product-card.tsx
  web/crux-ui/src/components/products/versions/deployments/add-deployment-card.tsx
  web/crux-ui/src/components/products/versions/edit-version-card.tsx
  web/crux-ui/src/components/products/versions/images/config/common-config-section.tsx
  web/crux-ui/src/components/products/versions/images/config/crane-config-section.tsx
  web/crux-ui/src/components/products/versions/images/config/dagent-config-section.tsx
  web/crux-ui/src/components/products/versions/images/select-images-card.tsx
  web/crux-ui/src/components/products/versions/version-deployments-section.tsx
  web/crux-ui/src/components/registries/edit-registry-card.tsx
  web/crux-ui/src/components/registries/registry-fields/github-registry-field.tsx
  web/crux-ui/src/components/registries/registry-fields/gitlab-registry-field.tsx
  web/crux-ui/src/components/settings/create-token-card.tsx
  web/crux-ui/src/components/templates/apply-template-card.tsx
  web/crux-ui/src/elements/dyo-chips.tsx
  web/crux-ui/src/elements/dyo-filter-chips.tsx
  web/crux-ui/src/pages/deployments.tsx
  web/crux-ui/src/pages/nodes.tsx
  web/crux-ui/src/pages/products.tsx
  web/crux-ui/src/pages/registries.tsx
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:high

#464 fix: fix config mapping, default filters
  go.mod
  golang/Makefile
  web/crux-ui/src/components/products/versions/deployments/instances/use-instance-state.ts
  web/crux-ui/src/components/products/versions/images/config/common-config-section.tsx
  web/crux-ui/src/components/products/versions/images/config/crane-config-section.tsx
  web/crux-ui/src/components/products/versions/images/config/dagent-config-section.tsx
  web/crux-ui/src/components/products/versions/images/image-config-filters.tsx
  web/crux-ui/src/models/image.ts
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/deployments/[deploymentId]/instance/[instanceId].tsx
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/image/[imageId].tsx
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/app/deploy/deploy.mapper.ts
  web/crux/src/app/deploy/deploy.service.ts
Labels: source:web, pr:fix, lang:typescript, lang:makefile, severity:critical

#465 fix(crux-ui): add privacy to registry screen
  web/crux-ui/locales/en/common.json
  web/crux-ui/locales/en/register.json
  web/crux-ui/src/pages/auth/register.tsx
Labels: issue:enhancement, source:web, pr:fix, lang:typescript, severity:high

#466 fix(crane): remove old crane volume manifest
  web/crux/assets/install-script/install-k8s.sh.hbr
Labels: source:web, pr:fix, severity:critical, lang:k8s-manifest

#469 fix(crux): various fixes and refinements of templates
  golang/manifest/kubernetes/deployment.yaml
  web/crux-ui/package-lock.json
  web/crux-ui/src/components/products/versions/images/config/common-config-section.tsx
  web/crux-ui/src/validations/container.ts
  web/crux/package-lock.json
  web/crux/src/app/image/image.mapper.ts
  web/crux/src/app/template/template.service.ts
  web/crux/src/shared/validation.ts
  web/crux/templates/cal-com.json
  web/crux/templates/gitea.json
  web/crux/templates/linkace.json
  web/crux/templates/strapi.json
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:high

#470 fix: rename rw to rwo globally
  golang/api/v1/deploy.go
  golang/pkg/crane/k8s/deploy_facade.go
  protobuf/go/common/common.pb.go
  protobuf/proto/common.proto
  web/crux-ui/locales/en/container.json
  web/crux-ui/src/components/products/versions/images/config/common-config-section.tsx
  web/crux-ui/src/models/container.ts
  web/crux-ui/src/models/grpc/protobuf/proto/common.ts
  web/crux-ui/src/validations/container.ts
  web/crux/proto/common.proto
  web/crux/src/app/deploy/deploy.mapper.spec.ts
  web/crux/src/app/image/image.mapper.ts
  web/crux/src/app/template/template.service.ts
  web/crux/src/grpc/protobuf/proto/common.ts
  web/crux/src/shared/models/container.ts
  web/crux/src/shared/validation.ts
  web/crux/templates/linkace.json
Labels: source:agent, source:web, pr:fix, lang:golang, lang:typescript, severity:high

#472 feat: add technology labels to templates
  protobuf/go/crux/crux.pb.go
  protobuf/proto/crux.proto
  web/crux-ui/src/components/templates/template-card.tsx
  web/crux-ui/src/models/grpc/protobuf/proto/crux.ts
  web/crux-ui/src/models/template.ts
  web/crux-ui/src/pages/templates.tsx
  web/crux/proto/crux.proto
  web/crux/src/grpc/protobuf/proto/crux.ts
  web/crux/src/services/template.file.service.ts
  web/crux/src/shared/validation.ts
  web/crux/templates/cal-com.json
  web/crux/templates/gitea.json
  web/crux/templates/google-microservices.json
  web/crux/templates/linkace.json
  web/crux/templates/minecraft.json
  web/crux/templates/self-hosted-gitlab.json
  web/crux/templates/strapi.json
  web/crux/templates/vaultwarden.json
  web/crux/templates/wordpress.json
Labels: issue:enhancement, source:web, pr:feat, severity:high

#475 fix(crux): remove gitea ssh port until smarter traefik usage
  web/crux/templates/gitea.json
Labels: source:web, pr:fix, severity:medium

#463 feat(crux): swagger @ApiBody({}) DTO generator
  web/crux/nest-cli.json
  web/crux/package.json
  web/crux/src/app/deploy/deploy.http.controller.ts
  web/crux/src/app/image/image.http.controller.ts
  web/crux/src/app/node/node.http.controller.ts
  web/crux/src/app/product/product.http.controller.ts
  web/crux/src/app/registry/registry.http.controller.ts
  web/crux/src/app/version/version.http.controller.ts
  web/crux/src/main.ts
  web/crux/src/swagger/crux.dto.ts
  web/crux/src/swagger/generator.ts
Labels: issue:enhancement, source:web, pr:feat, lang:typescript, severity:high

#467 feat(web): reset container field buttons
  package-lock.json
  protobuf/go/crux/crux.pb.go
  protobuf/proto/crux.proto
  web/crux-ui/locales/en/container.json
  web/crux-ui/src/components/products/versions/deployments/instances/use-instance-state.ts
  web/crux-ui/src/components/products/versions/images/config/common-config-section.tsx
  web/crux-ui/src/components/products/versions/images/config/config-section-label.tsx
  web/crux-ui/src/components/products/versions/images/config/crane-config-section.tsx
  web/crux-ui/src/components/products/versions/images/config/dagent-config-section.tsx
  web/crux-ui/src/components/products/versions/images/config/extendable-item-list.tsx
  web/crux-ui/src/components/products/versions/images/image-config-filters.tsx
  web/crux-ui/src/components/shared/key-only-input.tsx
  web/crux-ui/src/components/shared/key-value-input.tsx
  web/crux-ui/src/components/shared/secret-key-input.tsx
  web/crux-ui/src/components/shared/secret-key-value-input.tsx
  web/crux-ui/src/elements/dyo-switch.tsx
  web/crux-ui/src/models/common.ts
  web/crux-ui/src/models/deployment.ts
  web/crux-ui/src/models/grpc/protobuf/proto/crux.ts
  web/crux-ui/src/models/image.ts
  web/crux-ui/src/models/instance.ts
  web/crux-ui/src/pages/api/products/[productId]/versions/[versionId]/deployments/[deploymentId]/connect.ts
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/deployments/[deploymentId]/instance/[instanceId].tsx
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/image/[imageId].tsx
  web/crux-ui/src/server/crux/deployment-service.ts
  web/crux-ui/src/server/crux/mappers/deployment-mappers.ts
  web/crux-ui/src/server/crux/mappers/image-mappers.ts
  web/crux-ui/src/utils.ts
  web/crux/proto/crux.proto
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/app/deploy/deploy.mapper.ts
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/app/image/image.mapper.ts
  web/crux/src/app/image/image.service.ts
  web/crux/src/domain/agent.ts
  web/crux/src/grpc/protobuf/proto/crux.ts
  web/crux/src/shared/models/container.ts
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:high

#484 feat(crux): add deployment events API & path image
  web/crux/src/app/deploy/deploy.http.controller.ts
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/app/image/image.http.controller.ts
  web/crux/src/app/node/node.http.controller.ts
  web/crux/src/app/product/product.http.controller.ts
  web/crux/src/app/registry/registry.http.controller.ts
  web/crux/src/app/version/version.http.controller.ts
  web/crux/src/filters/http-exception.filter.ts
  web/crux/src/interceptors/prisma-error-interceptor.ts
  web/crux/src/services/prisma.service.ts
  web/crux/src/swagger/crux.dto.ts
Labels: issue:enhancement, source:web, pr:feat, lang:typescript, severity:high
