Repository dyrector-io/dyrectorio, pull requests merged in 2023-07, with the labels that each got.

#721 feat(dagent): add useParent functionality to dagent
  golang/Makefile
  golang/internal/helper/image/image.go
  golang/internal/helper/image/image_export_test.go
  golang/internal/helper/image/image_integration_test.go
  golang/internal/helper/image/image_test.go
  golang/internal/helper/image/image_unit_test.go
  golang/internal/mapper/grpc.go
  golang/pkg/builder/container/container_builder.go
  golang/pkg/builder/container/container_builder_test.go
  golang/pkg/builder/container/docker_container.go
  golang/pkg/builder/container/types.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/dagent/utils/docker.go
  golang/pkg/dagent/utils/import_container.go
  golang/pkg/dagent/utils/init_container.go
Labels: source:agent, source:cli, pr:feat, lang:golang, lang:makefile, source:build

#722 feat(web): social sign-in
  README.md
  golang/pkg/cli/cli.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
  web/crux-ui/locales/en/common.json
  web/crux-ui/locales/en/login.json
  web/crux-ui/locales/en/register.json
  web/crux-ui/locales/en/settings.json
  web/crux-ui/package-lock.json
  web/crux-ui/package.json
  web/crux-ui/public/github-icon.svg
  web/crux-ui/public/google-icon.svg
  web/crux-ui/public/oidc/azure.svg
  web/crux-ui/public/oidc/github.svg
  web/crux-ui/public/oidc/gitlab.svg
  web/crux-ui/public/oidc/google.svg
  web/crux-ui/src/components/settings/oidc-connector.tsx
  web/crux-ui/src/models/auth.ts
  web/crux-ui/src/pages/api/auth/create-account.ts
  web/crux-ui/src/pages/api/auth/login.ts
  web/crux-ui/src/pages/api/auth/recovery.ts
  web/crux-ui/src/pages/api/auth/register.ts
  web/crux-ui/src/pages/api/auth/settings/oidc.ts
  web/crux-ui/src/pages/api/auth/verify.ts
  web/crux-ui/src/pages/auth/auth/register.tsx
  web/crux-ui/src/pages/auth/login.tsx
  web/crux-ui/src/pages/auth/register.tsx
  web/crux-ui/src/pages/auth/registration.tsx
  web/crux-ui/src/pages/auth/settings.tsx
  web/crux-ui/src/pages/error.tsx
  web/crux-ui/src/pages/teams/[teamId].tsx
  web/crux-ui/src/routes.ts
  web/crux-ui/src/utils.ts
  web/crux-ui/src/validations/auth.ts
  web/crux/package-lock.json
  web/crux/package.json
  web/kratos/Dockerfile
  web/kratos/entrypoint.sh
  web/kratos/kratos.template.yaml
  web/kratos/oidc/azure.schema.jsonnet
  web/kratos/oidc/gitlabhub.schema.jsonnet
  web/kratos/oidc/google.schema.jsonnet
Labels: source:web, source:cli, pr:feat, lang:golang, lang:typescript, lang:shell, source:build, source:kratos

#724 fix(agent): change agent start directive from CMD to ENTRYPOINT
  golang/build/Dockerfile
Labels: pr:fix, source:build

#726 feat(web): websocket save indicator refinement
  web/crux-ui/locales/en/common.json
  web/crux-ui/package-lock.json
  web/crux-ui/src/components/projects/versions/deployments/use-deployment-state.tsx
  web/crux-ui/src/components/projects/versions/use-version-state.ts
  web/crux-ui/src/elements/web-socket-save-indicator.tsx
  web/crux-ui/src/hooks/use-interval.ts
  web/crux-ui/src/hooks/use-timer.ts
  web/crux-ui/src/models/common.ts
  web/crux-ui/src/pages/projects/[projectId].tsx
  web/crux-ui/src/pages/projects/[projectId]/versions/[versionId]/images/[imageId].tsx
  web/crux-ui/tailwind.config.js
  web/crux/package-lock.json
Labels: source:web, pr:feat, lang:typescript, lang:javascript

#727 fix(dagent): if useParent is toggled containers share network too
  golang/internal/helper/docker/network_ingegration_test.go
  golang/pkg/builder/container/container_builder.go
  golang/pkg/builder/container/docker_container.go
  golang/pkg/builder/container/types.go
  golang/pkg/dagent/utils/docker.go
  golang/pkg/dagent/utils/init_container.go
Labels: source:agent, pr:fix, lang:golang

#728 refactor(crux): use @updatedAt without optional in prisma schema
  web/crux/prisma/migrations/20230705134518_updatedat_without_optional/migration.sql
  web/crux/prisma/schema.prisma
Labels: source:web, pr:refactor, lang:sql

#729 fix(dagent): correct entrypoint and cmd for init containers
  golang/pkg/dagent/utils/init_container.go
Labels: source:agent, pr:fix, lang:golang

#734 cicd: add deploy_external workflow for external webhooks & sundyo
  .github/workflows/deploy_external.yaml
Labels: source:ci, pr:cicd

#733 refactor(crux): refactor http response status codes for request handlers
  web/crux/src/app/audit/audit.http.controller.ts
  web/crux/src/app/dashboard/dashboard.http.controller.ts
  web/crux/src/app/deploy/deploy.http.controller.ts
  web/crux/src/app/image/image.http.controller.ts
  web/crux/src/app/metrics/metrics.controller.ts
  web/crux/src/app/node/node.global-container.http.controller.ts
  web/crux/src/app/node/node.http.controller.ts
  web/crux/src/app/node/node.prefix-container.http.controller.ts
  web/crux/src/app/notification/notification.http.controller.ts
  web/crux/src/app/project/project.http.controller.ts
  web/crux/src/app/registry/registry.http.controller.ts
  web/crux/src/app/storage/storage.http.controller.ts
  web/crux/src/app/team/team.http.controller.ts
  web/crux/src/app/team/user.http.controller.ts
  web/crux/src/app/template/template.http.controller.ts
  web/crux/src/app/token/token.http.controller.ts
  web/crux/src/app/version/version.http.controller.ts
Labels: source:web, pr:refactor, lang:typescript

#736 feat: add deployment token name
  web/crux-ui/locales/en/audit.json
  web/crux-ui/locales/en/common.json
  web/crux-ui/public/default_avatar.svg
  web/crux-ui/public/robot-avatar.svg
  web/crux-ui/public/user-avatar.svg
  web/crux-ui/src/components/projects/versions/deployments/create-deployment-token-card.tsx
  web/crux-ui/src/components/projects/versions/deployments/deployment-token-card.tsx
  web/crux-ui/src/components/projects/versions/deployments/use-deployment-state.tsx
  web/crux-ui/src/components/team/user-default-avatar.tsx
  web/crux-ui/src/elements/dyo-icon.tsx
  web/crux-ui/src/models/audit.ts
  web/crux-ui/src/models/deployment.ts
  web/crux-ui/src/pages/audit-log.tsx
  web/crux-ui/src/pages/deployments/[deploymentId].tsx
  web/crux-ui/src/validations/deployment.ts
  web/crux/prisma/migrations/20230705131535_deployment_token_audit/migration.sql
  web/crux/prisma/schema.prisma
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/app/audit.logger/audit.logger.interceptor.ts
  web/crux/src/app/audit.logger/audit.logger.service.ts
  web/crux/src/app/audit/audit.dto.ts
  web/crux/src/app/audit/audit.mapper.ts
  web/crux/src/app/audit/audit.service.ts
  web/crux/src/app/deploy/deploy.dto.ts
  web/crux/src/app/deploy/deploy.http.controller.ts
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/app/deploy/guards/deploy.jwt-auth.guard.ts
  web/crux/src/app/deploy/guards/deploy.team-access.guard.ts
  web/crux/src/app/deploy/interceptors/deploy.create-deploy-token.interceptor.ts
  web/crux/src/app/node/node.service.ts
  web/crux/src/app/team/team.http.controller.ts
  web/crux/src/app/team/team.service.ts
  web/crux/src/app/token/jwt-auth.guard.ts
  web/crux/src/app/token/jwt.strategy.ts
  web/crux/src/app/token/token.service.ts
  web/crux/src/app/version/version.service.ts
  web/crux/src/domain/audit.ts
  web/crux/src/domain/deployment.ts
  web/crux/src/domain/identity.ts
  web/crux/src/domain/notification-templates.ts
  web/crux/src/domain/token.ts
  web/crux/src/services/domain.notification.service.ts
Labels: source:web, pr:feat, lang:typescript, lang:sql

#738 refactor(crux): error statuses for route handlers
  web/crux/src/app/audit/audit.http.controller.ts
  web/crux/src/app/dashboard/dashboard.http.controller.ts
  web/crux/src/app/deploy/deploy.http.controller.ts
  web/crux/src/app/image/image.http.controller.ts
  web/crux/src/app/metrics/metrics.controller.ts
  web/crux/src/app/node/node.global-container.http.controller.ts
  web/crux/src/app/node/node.http.controller.ts
  web/crux/src/app/node/node.prefix-container.http.controller.ts
  web/crux/src/app/notification/notification.http.controller.ts
  web/crux/src/app/project/project.http.controller.ts
  web/crux/src/app/registry/registry.http.controller.ts
  web/crux/src/app/storage/storage.http.controller.ts
  web/crux/src/app/team/team.http.controller.ts
  web/crux/src/app/team/user.http.controller.ts
  web/crux/src/app/template/template.http.controller.ts
  web/crux/src/app/token/token.http.controller.ts
  web/crux/src/app/version/version.http.controller.ts
Labels: source:web, pr:refactor, lang:typescript

#739 fix(crux): remove unused ApiPreconditionFailedResponse import
  web/crux/src/app/deploy/deploy.http.controller.ts
Labels: source:web, lang:typescript

#740 fix(crux): deployment token name validation
  web/crux/src/app/deploy/deploy.dto.ts
Labels: source:web, pr:fix, lang:typescript

#747 fix(crux-ui): change confirm button color
  web/crux-ui/src/components/team/user-role-action.tsx
  web/crux-ui/src/pages/projects/[projectId].tsx
Labels: source:web, pr:fix, lang:typescript

#743 fix(crux-ui): add view buttons to deployment list rows
  web/crux-ui/src/components/projects/project-view-list.tsx
  web/crux-ui/src/components/projects/versions/version-deployments-section.tsx
  web/crux-ui/src/pages/deployments.tsx
Labels: source:web, pr:fix, lang:typescript

#750 fix(crux): failing deployment token migration
  web/crux/prisma/migrations/20230705131535_deployment_token_audit/migration.sql
Labels: source:web, pr:fix, lang:sql

#751 fix(crux-ui): change rolling version deployment error to warning
  web/crux-ui/src/components/projects/versions/deployments/add-deployment-card.tsx
  web/crux-ui/src/components/projects/versions/images/config/common-config-section.tsx
  web/crux-ui/src/pages/storages/[storageId].tsx
Labels: source:web, pr:fix, lang:typescript

#753 fix(dagent): use none network mode & add unit tests
  .vscode/settings.json
  golang/pkg/builder/container/container_builder.go
  golang/pkg/builder/container/container_builder_export_test.go
  golang/pkg/builder/container/container_builder_integration_test.go
  golang/pkg/builder/container/container_builder_test.go
  golang/pkg/builder/container/docker_container_test.go
  golang/pkg/cli/runner.go
  protobuf/go/common/common.pb.go
  protobuf/proto/common.proto
  web/crux-ui/locales/en/container.json
  web/crux-ui/package-lock.json
  web/crux-ui/src/models/container.ts
  web/crux/package-lock.json
  web/crux/prisma/migrations/20230719085556_remove_unused_network_modes/migration.sql
  web/crux/prisma/schema.prisma
  web/crux/proto/agent.pb.go
  web/crux/proto/common.pb.go
  web/crux/proto/common.proto
  web/crux/src/domain/container.ts
  web/crux/src/grpc/protobuf/proto/common.ts
Labels: source:web, source:cli, pr:fix, lang:golang, lang:typescript, lang:sql, source:proto

#756 fix(dagent): handle pointers correctly in route mapping
  .golangci.yml
  golang/internal/mapper/grpc.go
Labels: pr:fix, lang:golang

#755 fix: improve release makefile command and update modules
  Makefile
  web/crux-ui/package-lock.json
  web/crux/package-lock.json
  web/crux/package.json
Labels: source:web, pr:fix, lang:makefile, source:build

#757 fix(crux-ui): change the resource config label example values
  web/crux-ui/locales/en/container.json
Labels: source:web, pr:fix

#762 fix(dagent): remove host Rule if no root domain is given
  golang/internal/helper/docker/container.go
  golang/internal/helper/string.go
  golang/internal/helper/string_test.go
  golang/pkg/dagent/utils/docker.go
  golang/pkg/dagent/utils/traefik.go
  golang/pkg/dagent/utils/traefik_test.go
Labels: source:agent, pr:fix, lang:golang

#767 feat: add HEALTHCHECK directives to every platform image
  web/crux-ui/Dockerfile
  web/crux/Dockerfile
  web/kratos/Dockerfile
Labels: source:web, pr:feat, source:build, source:kratos

#768 doc: add GETTING_STARTED.md, small section rewrites
  CONTRIBUTING.md
  GETTING_STARTED.md
  README.md
Labels: pr:doc

#769 feat(crane): add prefix routing & stripping
  golang/internal/domain/domain.go
  golang/internal/domain/domain_test.go
  golang/internal/mapper/grpc.go
  golang/internal/mapper/grpc_test.go
  golang/internal/util/string.go
  golang/pkg/crane/k8s/deploy_facade.go
  golang/pkg/crane/k8s/ingress.go
  golang/pkg/dagent/utils/traefik.go
Labels: source:agent, pr:feat, lang:golang

#758 test(crux-ui): image config, projects, teams, storage tests
  web/crux-ui/e2e/utils/mail-slurper.ts
  web/crux-ui/e2e/utils/projects.ts
  web/crux-ui/e2e/utils/storages.ts
  web/crux-ui/e2e/utils/teams.ts
  web/crux-ui/e2e/utils/websocket-match.ts
  web/crux-ui/e2e/with-login/dashboard.spec.ts
  web/crux-ui/e2e/with-login/deployment/deployment-deletability.spec.ts
  web/crux-ui/e2e/with-login/image-config/common-editor.spec.ts
  web/crux-ui/e2e/with-login/image-config/common-json.spec.ts
  web/crux-ui/e2e/with-login/image-config/docker-editor.spec.ts
  web/crux-ui/e2e/with-login/image-config/docker-json.spec.ts
  web/crux-ui/e2e/with-login/image-config/image-config.spec.ts
  web/crux-ui/e2e/with-login/image-config/kubernetes-editor.spec.ts
  web/crux-ui/e2e/with-login/image-config/kubernetes-json.spec.ts
  web/crux-ui/e2e/with-login/nodes-deploy.spec.ts
  web/crux-ui/e2e/with-login/project.spec.ts
  web/crux-ui/e2e/with-login/storage.spec.ts
  web/crux-ui/e2e/with-login/team.spec.ts
  web/crux-ui/e2e/with-login/version.spec.ts
  web/crux-ui/e2e/without-login/verify.spec.ts
  web/crux-ui/playwright.config.ts
  web/crux/src/app/team/team.service.ts
Labels: source:web, lang:typescript, severity:medium, pr:test
