Repository dyrector-io/dyrectorio, pull requests merged in 2023-11, with the labels that each got.

#875 chore(web): remove deprecated development environment files
  web/.env.example
  web/docker-compose.dev.yaml
  web/kratos/.env.example
  web/traefik.dev.yml
Labels: source:web, pr:chore

#879 feat: add working directory to container config
  golang/api/v1/deploy.go
  golang/internal/mapper/grpc.go
  golang/pkg/builder/container/container_builder.go
  golang/pkg/crane/k8s/deployment.go
  golang/pkg/dagent/utils/docker.go
  protobuf/go/agent/agent.pb.go
  protobuf/proto/agent.proto
  web/crux-ui/locales/en/container.json
  web/crux-ui/src/components/projects/versions/images/config/common-config-section.tsx
  web/crux-ui/src/models/container.ts
  web/crux-ui/src/models/image.ts
  web/crux-ui/src/validations/container.ts
  web/crux/prisma/migrations/20231103155210_working_directory/migration.sql
  web/crux/prisma/schema.prisma
  web/crux/proto/agent.proto
  web/crux/src/app/container/container.dto.ts
  web/crux/src/app/container/container.mapper.ts
  web/crux/src/app/deploy/deploy.mapper.ts
  web/crux/src/app/image/image.mapper.ts
  web/crux/src/domain/container.ts
  web/crux/src/domain/validation.ts
  web/crux/src/grpc/protobuf/proto/agent.ts
Labels: source:agent, source:web, pr:feat, lang:golang, lang:typescript, lang:sql, source:proto

#880 fix(crux-ui): sidebar vertical grow
  web/crux-ui/src/components/layout.tsx
  web/crux-ui/src/components/main/sidebar.tsx
Labels: source:web, pr:fix, lang:typescript

#884 feat(web): add private docker hub registry support
  .github/workflows/product_builder.yaml
  web/crux-ui/locales/en/registries.json
  web/crux-ui/package-lock.json
  web/crux-ui/src/components/registries/registry-fields/hub-registry-fields.tsx
  web/crux-ui/src/error-responses.ts
  web/crux-ui/src/models/registry.ts
  web/crux-ui/src/validations/registry.ts
  web/crux/src/app/registry/guards/registry.auth.validation.guard.ts
  web/crux/src/app/registry/registry-client.provider.ts
  web/crux/src/app/registry/registry-clients/cached-hub-api-client.ts
  web/crux/src/app/registry/registry-clients/hub-api-client.ts
  web/crux/src/app/registry/registry-clients/private-hub-api-client.ts
  web/crux/src/app/registry/registry.dto.ts
  web/crux/src/app/registry/registry.mapper.ts
  web/crux/src/exception/crux-exception.ts
Labels: source:web, pr:feat, lang:typescript, source:ci

#883 doc: add docs link to the top page of readme
  README.md
Labels: pr:feat, pr:doc
