Repository dyrector-io/dyrectorio, pull requests merged in 2023-12, with the labels that each got.

#888 refactor(crux-ui): title hrefs
  web/crux-ui/src/components/config-bundles/config-bundle-card.tsx
  web/crux-ui/src/components/nodes/dyo-node-card.tsx
  web/crux-ui/src/components/notifications/notification-card.tsx
  web/crux-ui/src/components/projects/project-card.tsx
  web/crux-ui/src/components/projects/project-versions-section.tsx
  web/crux-ui/src/components/projects/project-view-tile.tsx
  web/crux-ui/src/components/projects/versions/version-card.tsx
  web/crux-ui/src/components/registries/registry-card.tsx
  web/crux-ui/src/components/storages/storage-card.tsx
  web/crux-ui/src/pages/[teamSlug]/config-bundles.tsx
  web/crux-ui/src/pages/[teamSlug]/nodes.tsx
  web/crux-ui/src/pages/[teamSlug]/nodes/[nodeId].tsx
  web/crux-ui/src/pages/[teamSlug]/notifications.tsx
  web/crux-ui/src/pages/[teamSlug]/notifications/[notificationId].tsx
  web/crux-ui/src/pages/[teamSlug]/registries.tsx
  web/crux-ui/src/pages/[teamSlug]/registries/[registryId].tsx
  web/crux-ui/src/pages/[teamSlug]/storages.tsx
  web/crux-ui/src/pages/[teamSlug]/storages/[storageId].tsx
Labels: source:web, pr:refactor, lang:typescript

#890 feat(dagent): add permanent global envs and traefik upload limit
  go.mod
  go.sum
  golang/internal/domain/domain.go
  golang/internal/domain/domain_test.go
  golang/pkg/dagent/utils/docker.go
  golang/pkg/dagent/utils/environment.go
  golang/pkg/dagent/utils/environment_test.go
  golang/pkg/dagent/utils/traefik.go
  golang/pkg/dagent/utils/traefik_test.go
Labels: source:agent, pr:feat, lang:golang

#893 fix(crux-ui): hide change credentials field when creating a registry or a storage
  web/crux-ui/src/components/registries/registry-fields/github-registry-field.tsx
  web/crux-ui/src/components/registries/registry-fields/gitlab-registry-field.tsx
  web/crux-ui/src/components/registries/registry-fields/google-registry-field.tsx
  web/crux-ui/src/components/registries/registry-fields/hub-registry-fields.tsx
  web/crux-ui/src/components/registries/registry-fields/v2-registry-field.tsx
  web/crux-ui/src/components/storages/edit-storage-card.tsx
Labels: source:web, lang:typescript
