Repository dyrector-io/dyrectorio, pull requests merged in 2023-09, with the labels that each got.

#804 fix(ci): fix the trailing whitespace error
  .github/workflows/deploy_external.yaml
Labels: pr:fix, source:ci

#802 doc: update readme
  README.md
Labels: pr:doc, severity:low

#810 refactor(web): optimize ws client routing
  web/crux-ui/src/websockets/websocket-client-route.ts
  web/crux-ui/src/websockets/websocket-client.ts
  web/crux/src/app/deploy/deploy.http.controller.ts
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/app/deploy/deploy.ws.gateway.ts
Labels: source:web, pr:refactor, lang:typescript

#809 fix: port range exposing and various bugfixes
  DEVELOPMENT.md
  GETTING_STARTED.md
  docker-compose.yaml
  golang/pkg/builder/container/container_builder.go
  web/crux-ui/e2e/utils/node-helper.ts
  web/crux-ui/src/components/projects/versions/images/config/common-config-section.tsx
  web/crux-ui/src/models/container.spec.ts
  web/crux-ui/src/models/container.ts
  web/crux-ui/src/validations/container.ts
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/app/image/image.service.ts
  web/crux/src/domain/validation.ts
  web/crux/src/shared/const.ts
  web/crux/src/websockets/route.ts
Labels: source:web, pr:fix, lang:golang, lang:typescript

#808 feat: add explicit port routing & go tools bump
  .github/workflows/builder_image_golang.yaml
  .github/workflows/product_builder.yaml
  .golangci.yml
  go.mod
  go.sum
  golang/Makefile
  golang/api/v1/deploy.go
  golang/cmd/crane/crane.go
  golang/cmd/dagent/.env.example
  golang/cmd/dagent/dagent.go
  golang/internal/grpc/grpc.go
  golang/internal/mapper/grpc.go
  golang/internal/mapper/grpc_test.go
  golang/internal/util/array.go
  golang/internal/util/array_test.go
  golang/pkg/builder/container/docker_container.go
  golang/pkg/crane/crane.go
  golang/pkg/crane/k8s/deploy_facade.go
  golang/pkg/crane/k8s/deployment.go
  golang/pkg/crane/k8s/ingress.go
  golang/pkg/crane/k8s/service.go
  golang/pkg/dagent/README.md
  golang/pkg/dagent/caps/parser.go
  golang/pkg/dagent/dagent.go
  golang/pkg/dagent/utils/preflight.go
  golang/pkg/dagent/utils/release.go
  golang/pkg/dagent/utils/traefik.go
  golang/pkg/dagent/utils/traefik_test.go
  images/builder-golang/Dockerfile
  protobuf/go/agent/agent.pb.go
  protobuf/go/common/common.pb.go
  protobuf/proto/agent.proto
  protobuf/proto/common.proto
  web/crux-ui/e2e/utils/websocket-match.ts
  web/crux-ui/e2e/with-login/image-config/common-editor.spec.ts
  web/crux-ui/e2e/with-login/image-config/common-json.spec.ts
  web/crux-ui/locales/en/common.json
  web/crux-ui/locales/en/container.json
  web/crux-ui/src/components/projects/versions/images/config/common-config-section.tsx
  web/crux-ui/src/components/projects/versions/images/config/crane-config-section.tsx
  web/crux-ui/src/models/container.ts
  web/crux-ui/src/validations/container.ts
  web/crux-ui/src/websockets/websocket-client.ts
  web/crux/assets/install-script/install-k8s.sh.hbr
  web/crux/proto/agent.proto
  web/crux/proto/common.proto
  web/crux/src/app/container/container.dto.ts
  web/crux/src/app/deploy/deploy.mapper.ts
  web/crux/src/app/image/image.mapper.ts
  web/crux/src/domain/container.ts
  web/crux/src/domain/validation.ts
  web/crux/src/grpc/protobuf/proto/agent.ts
  web/crux/src/grpc/protobuf/proto/common.ts
Labels: source:agent, source:web, pr:feat, lang:golang, lang:typescript, lang:makefile, lang:shell, source:ci, source:build, source:proto

#812 fix(web): validate container name duplication
  web/crux-ui/e2e/with-login/deployment/deployment.spec.ts
  web/crux-ui/locales/en/common.json
  web/crux-ui/locales/en/errors.json
  web/crux-ui/src/errors.ts
  web/crux-ui/src/hooks/use-deploy.ts
  web/crux-ui/src/pages/[teamSlug]/deployments/[deploymentId].tsx
  web/crux-ui/src/utils.ts
  web/crux-ui/src/validations/container.ts
  web/crux-ui/src/validations/deployment.ts
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/app/deploy/deploy.ws.gateway.ts
  web/crux/src/app/deploy/interceptors/deploy.start.interceptor.ts
  web/crux/src/domain/validation.ts
Labels: source:web, pr:fix, lang:typescript

#811 fix(crux-ui): missing translations in lists
  web/crux-ui/src/components/projects/versions/deployments/deployment-view-list.tsx
  web/crux-ui/src/pages/[teamSlug]/deployments.tsx
Labels: source:web, pr:fix, lang:typescript

#815 fix(agent): crashing on install and connection token mismatch
  golang/internal/config/secret.go
Labels: pr:fix, lang:golang

#819 fix(crux): legacy agent update
  web/crux/src/app/agent/agent.connection-strategy.provider.ts
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/app/agent/connection-strategies/agent.connection.legacy.strategy.ts
  web/crux/src/domain/agent.ts
  web/crux/src/domain/deployment.ts
Labels: source:web, pr:fix, lang:typescript

#820 fix: kratos user list pagination
  web/crux/src/app/audit/audit.mapper.ts
  web/crux/src/app/audit/audit.service.ts
  web/crux/src/services/kratos.service.ts
  web/crux/src/shared/const.ts
Labels: source:web, pr:fix, lang:typescript

#821 doc: update development.md
  DEVELOPMENT.md
Labels: pr:doc, severity:low

#817 fix: update env.examples
  .env.example
  golang/cmd/crane/.env.example
  golang/cmd/dagent/.env.example
  web/crux-ui/.env.example
  web/crux/.env.example
Labels: pr:fix, severity:low

#822 feat(web): agent update button availability
  web/crux-ui/locales/en/common.json
  web/crux-ui/locales/en/nodes.json
  web/crux-ui/src/components/nodes/edit-node-section.tsx
  web/crux-ui/src/components/nodes/node-connection-card.tsx
  web/crux-ui/src/components/projects/versions/deployments/use-deployment-state.tsx
  web/crux-ui/src/models/node.ts
  web/crux-ui/src/pages/[teamSlug]/nodes.tsx
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/app/agent/connection-strategies/agent.connection.legacy.strategy.ts
  web/crux/src/app/deploy/interceptors/deploy.start.interceptor.ts
  web/crux/src/app/node/node.dto.ts
  web/crux/src/app/node/node.http.controller.ts
  web/crux/src/app/node/node.mapper.ts
  web/crux/src/app/node/node.message.ts
  web/crux/src/domain/agent.spec.ts
  web/crux/src/domain/agent.ts
Labels: source:web, pr:feat, lang:typescript

#828 fix: copying a deployment now does not copies the secret values to a different node
  web/crux-ui/e2e/utils/test.fixture.ts
  web/crux-ui/e2e/utils/websocket-match.ts
  web/crux-ui/e2e/with-login/deployment/deployment-copy.spec.ts
  web/crux-ui/e2e/with-login/deployment/deployment-copyability-versioned.spec.ts
  web/crux-ui/src/components/deployments/add-deployment-card.tsx
  web/crux-ui/src/components/projects/versions/deployments/add-deployment-to-version-card.tsx
  web/crux-ui/src/components/projects/versions/version-sections.tsx
  web/crux/src/app/deploy/deploy.service.ts
Labels: source:web, pr:fix, lang:typescript

#829 fix(crane): rename clusterrole RBAC in install script
  web/crux/assets/install-script/install-k8s.sh.hbr
Labels: source:web, lang:shell

#805 doc: updates the contributing.md file
  CONTRIBUTING.md
Labels: source:documentation, issue:improvement, pr:doc, severity:medium
