Repository dyrector-io/dyrectorio, pull requests merged in 2023-10, with the labels that each got.

#840 cicd: add more coverage files, to display a more valid number
  .github/workflows/product_builder.yaml
  golang/.gitignore
  golang/Makefile
  golang/pkg/builder/container/container_builder_integration_test.go
  golang/pkg/crane/k8s/deploy_facade.go
  golang/pkg/crane/k8s/deployment.go
  golang/pkg/crane/k8s/deployment_integration_test.go
  golang/pkg/dagent/update/update_integration_test.go
Labels: source:agent, lang:golang, lang:makefile, source:ci, source:build, pr:cicd, pr:ci

#844 doc: update development.md, maintainers.md and security.md
  DEVELOPMENT.md
  MAINTAINERS.md
  SECURITY.md
Labels: source:documentation, pr:doc, severity:medium

#845 doc: improve-readme-and-contributing-files
  CONTRIBUTING.md
  README.md
Labels: source:documentation, pr:doc, severity:medium

#848 fix(agent): add capital image name handling
  golang/internal/helper/image/image.go
  golang/internal/helper/image/image_unit_test.go
Labels: pr:fix, lang:golang

#850 feat(crux-ui): add unit test for registry yup validation
  web/crux-ui/jest.config.ts
  web/crux-ui/src/validations/registry.spec.ts
  web/crux-ui/src/validations/registry.ts
Labels: source:web, pr:feat, lang:typescript

#833 fix(ci): add phony for k3d-rm makefile target (the only one missing)
  golang/Makefile
Labels: pr:fix, pr:feat, lang:makefile, source:build

#857 fix: identity listing
  web/crux-ui/src/utils.ts
  web/crux/src/services/kratos.service.ts
Labels: source:web, pr:fix, lang:typescript

#858 fix: unnecessary websocket error toasts
  web/crux-ui/src/websockets/websocket-client.ts
Labels: source:web, pr:fix, lang:typescript

#862 feat: node type based container config fields
  web/crux-ui/package-lock.json
  web/crux-ui/src/components/projects/versions/images/image-config-filters.tsx
  web/crux-ui/src/pages/[teamSlug]/deployments/[deploymentId]/instances/[instanceId].tsx
  web/crux-ui/src/validations/common.spec.ts
  web/crux-ui/src/validations/common.ts
  web/crux-ui/src/validations/container.ts
Labels: source:web, pr:feat, lang:typescript
