Repository dyrector-io/dyrectorio, pull requests merged in 2023-01, with the labels that each got.

#418 feat(agent): add multi arch build targets
  golang/Makefile
  golang/build/Dockerfile
  golang/build/scripts/post-update.sh
  golang/build/scripts/pre-update.sh
  golang/build/scripts/start-agent.sh
  golang/pkg/dagent/utils/docker.go
  web/crux/install-docker.sh.hbr
Labels: source:agent, source:web, pr:feat, lang:golang, lang:makefile, lang:shell, severity:high, lang:k8s-manifest

#416 fix(web): deployment event order
  web/crux-ui/src/components/products/versions/deployments/deployment-events-terminal.tsx
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/deployments/[deploymentId]/deploy.tsx
  web/crux/src/app/deploy/deploy.service.ts
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:high

#414 feat: add minecraft server template
  web/crux/templates/minecraft.json
Labels: issue:enhancement, source:web, pr:feat, severity:medium

#413 fix(crux-ui): json editor and mapper
  web/crux-ui/src/components/products/versions/images/edit-image-json.tsx
  web/crux-ui/src/models/container.ts
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/image/[imageId].tsx
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:medium

#419 fix(web): template formik value update, scroll to the top and add images
  web/crux-ui/package-lock.json
  web/crux-ui/src/components/templates/apply-template-card.tsx
  web/crux-ui/src/pages/templates.tsx
  web/crux/package-lock.json
  web/crux/package.json
  web/crux/src/services/template.file.service.ts
  web/crux/templates/gitea.jpg
  web/crux/templates/google-microservices.jpg
  web/crux/templates/linkace.jpg
  web/crux/templates/linkace.json
  web/crux/templates/minecraft.jpg
  web/crux/templates/self-hosted-gitlab.jpg
  web/crux/templates/strapi.jpg
  web/crux/templates/wordpress.jpg
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:medium

#421 fix(crux-ui): dyoimgbutton sizeing and node container list styleing
  web/crux-ui/public/restart.svg
  web/crux-ui/public/start.svg
  web/crux-ui/public/stop.svg
  web/crux-ui/public/trash-can.svg
  web/crux-ui/src/components/nodes/node-containers-list.tsx
  web/crux-ui/src/components/products/versions/version-deployments-section.tsx
  web/crux-ui/src/elements/dyo-img-button.tsx
Labels: issue:bug, source:web, pr:fix, lang:typescript, severity:medium

#423 fix(agent): fix crane install manifest scripts
  web/crux/install-k8s.sh.hbr
Labels: issue:improvement, source:agent, pr:fix, severity:high, lang:k8s-manifest

#425 feat(agent): add option not to have CPU limits
  golang/pkg/crane/k8s/deployment.go
Labels: issue:improvement, source:agent, pr:feat, lang:golang

#427 fix(web): remove token revoke on node name change
  web/crux-ui/src/components/nodes/edit-node-card.tsx
Labels: issue:improvement, source:web, pr:fix, lang:typescript

#429 fix(crux-ui): name creation
  web/crux-ui/src/models/editor.ts
  web/crux-ui/src/pages/auth/settings/edit-profile.tsx
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:medium

#368 refactor(ci): e2e testing
  .github/workflows/full.yml
  .github/workflows/golang.yml
  .github/workflows/pipeline_set_output_tag.sh
  .github/workflows/pr-prerequirements.yml
  .github/workflows/web-crux-ui.yml
  .github/workflows/web-crux.yml
  .github/workflows/web-kratos.yml
  golang/Makefile
  golang/build/cli/Dockerfile
  golang/pkg/cli/cli.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/cli/runner.go
  web/crux-ui/e2e/deployment-copibility.spec.ts
  web/crux-ui/e2e/deployment-deletability.spec.ts
  web/crux-ui/e2e/nodes.spec.ts
  web/crux-ui/e2e/notification.spec.ts
  web/crux-ui/e2e/template.spec.ts
  web/crux-ui/e2e/utils/common.ts
  web/crux-ui/e2e/utils/node-helper.ts
  web/crux-ui/e2e/utils/products.ts
  web/crux-ui/e2e/utils/templates.ts
  web/crux-ui/e2e/version.spec.ts
  web/crux-ui/package.json
  web/crux-ui/playwright.config.ts
  web/crux/Dockerfile
  web/crux/crux-docker-entrypoint.sh
Labels: issue:improvement, pr:refactor

#428 feat(crux): add vaultwarden template
  golang/api/v1/deploy.go
  golang/internal/mapper/grpc.go
  golang/internal/mapper/grpc_test.go
  golang/manifest/kubernetes/deployment.yaml
  golang/pkg/dagent/utils/docker.go
  web/crux/templates/vaultwarden.jpg
  web/crux/templates/vaultwarden.json
Labels: issue:enhancement, source:web, pr:feat, lang:typescript, severity:medium

#435 feat(ci): add proto and playwright image builder
  .github/workflows/full.yml
  .github/workflows/image-builder.yml
  .github/workflows/image-tester.yml
  .github/workflows/pipeline_set_output_tag.sh
  images/playwright/Dockerfile
  images/playwright/package-lock.json
  images/playwright/package.json
  images/proto/Dockerfile
  web/crux-ui/e2e/deploy-dagent.spec.ts
  web/crux-ui/e2e/deployment-copibility.spec.ts
  web/crux-ui/e2e/deployment-deletability.spec.ts
  web/crux-ui/e2e/deployment-mutability.spec.ts
  web/crux-ui/e2e/utils/node-helper.ts
  web/crux-ui/playwright.config.ts
Labels: issue:enhancement, issue:improvement, pr:feat, source:ci

#436 fix(crux-ui): fix the expose strategy naming
  web/crux-ui/locales/en/container.json
  web/crux-ui/src/components/products/versions/images/config/common-config-section.tsx
Labels: issue:improvement, source:web, pr:fix, severity:low

#437 fix(ci): image signing
  .github/workflows/full.yml
  .github/workflows/image-builder.yml
  .github/workflows/image-tester.yml
Labels: issue:improvement, pr:fix, severity:critical, source:ci

#445 chore: bump alpine-proto image and go-version, everywhere!
  .github/workflows/full.yml
  .github/workflows/image-builder.yml
  .github/workflows/image-tester.yml
  .gitignore
  Makefile
  docs/dyrectorio-dark-small.png
  go.mod
  images/alpine-proto/Dockerfile
  protobuf/go/agent/agent.pb.go
  protobuf/go/agent/agent_grpc.pb.go
  protobuf/go/common/common.pb.go
  protobuf/go/crux/crux.pb.go
  protobuf/go/crux/crux_grpc.pb.go
  web/crux-ui/src/models/grpc/google/protobuf/timestamp.ts
  web/crux-ui/src/models/grpc/protobuf/proto/common.ts
  web/crux-ui/src/models/grpc/protobuf/proto/crux.ts
  web/crux/Dockerfile
  web/crux/src/grpc/protobuf/proto/agent.ts
  web/crux/src/grpc/protobuf/proto/common.ts
  web/crux/src/grpc/protobuf/proto/crux.ts
Labels: source:agent, pr:chore, lang:makefile, severity:medium, source:ci

#444 feat: add optional port binding, alter ui validation
  go.mod
  go.sum
  golang/api/v1/deploy.go
  golang/api/v1/deploy_test.go
  golang/internal/mapper/grpc.go
  golang/internal/mapper/grpc_test.go
  golang/pkg/builder/container/container_builder.go
  golang/pkg/builder/container/container_builder_test.go
  golang/pkg/builder/container/types.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/crane/k8s/service.go
  golang/pkg/dagent/caps/parser.go
  golang/pkg/dagent/caps/parser_test.go
  golang/pkg/dagent/utils/container.go
  golang/pkg/dagent/utils/traefik_test.go
  protobuf/go/agent/agent.pb.go
  protobuf/go/crux/crux.pb.go
  protobuf/proto/agent.proto
  protobuf/proto/crux.proto
  web/crux-ui/src/components/products/versions/images/config/common-config-section.tsx
  web/crux-ui/src/models/container.ts
  web/crux-ui/src/models/grpc/protobuf/proto/crux.ts
  web/crux-ui/src/validations/container.ts
  web/crux/proto/agent.proto
  web/crux/proto/crux.proto
  web/crux/src/grpc/protobuf/proto/agent.ts
  web/crux/src/grpc/protobuf/proto/crux.ts
  web/crux/src/shared/models/container.ts
  web/crux/src/shared/validation.ts
Labels: source:agent, source:web, source:cli, pr:feat, lang:golang, lang:typescript, severity:medium

#448 fix(crux): clean & correct labels for vaultwarden
  web/crux/templates/vaultwarden.json
Labels: source:web, lang:golang, severity:high

#447 fix(crux-ui): image / instance config screen websocket editing
  .github/workflows/full.yml
  web/crux-ui/e2e/deploy-dagent.spec.ts
  web/crux-ui/e2e/deployment-copibility.spec.ts
  web/crux-ui/e2e/deployment-mutability.spec.ts
  web/crux-ui/e2e/image-config.spec.ts
  web/crux-ui/e2e/nodes.spec.ts
  web/crux-ui/e2e/utils/node-helper.ts
  web/crux-ui/e2e/utils/products.ts
  web/crux-ui/locales/en/common.json
  web/crux-ui/locales/en/images.json
  web/crux-ui/playwright.config.ts
  web/crux-ui/src/components/editor/multi-input.tsx
  web/crux-ui/src/components/editor/use-editor-state.ts
  web/crux-ui/src/components/editor/use-item-editor-state.ts
  web/crux-ui/src/components/editor/use-multi-input-state.ts
  web/crux-ui/src/components/products/versions/deployments/instances/edit-instance-config.tsx
  web/crux-ui/src/components/products/versions/images/config/common-config-section.tsx
  web/crux-ui/src/components/products/versions/images/config/crane-config-section.tsx
  web/crux-ui/src/components/products/versions/images/config/dagent-config-section.tsx
  web/crux-ui/src/components/products/versions/images/config/extendable-item-list.tsx
  web/crux-ui/src/components/products/versions/images/edit-image-config.tsx
  web/crux-ui/src/components/products/versions/images/edit-image-json.tsx
  web/crux-ui/src/components/products/versions/version-deployments-section.tsx
  web/crux-ui/src/components/products/versions/version-sections.tsx
  web/crux-ui/src/components/shared/key-only-input.tsx
  web/crux-ui/src/components/shared/key-value-input.tsx
  web/crux-ui/src/components/shared/secret-key-input.tsx
  web/crux-ui/src/components/shared/secret-key-value-input.tsx
  web/crux-ui/src/components/templates/apply-template-card.tsx
  web/crux-ui/src/errors.ts
  web/crux-ui/src/models/editor.ts
  web/crux-ui/src/models/image.ts
  web/crux-ui/src/pages/api/products/[productId]/versions/[versionId]/connect.ts
  web/crux-ui/src/pages/api/products/[productId]/versions/[versionId]/deployments/[deploymentId]/connect.ts
  web/crux-ui/src/pages/auth/login.tsx
  web/crux-ui/src/pages/auth/recovery.tsx
  web/crux-ui/src/pages/auth/settings/new-password.tsx
  web/crux-ui/src/pages/deployments.tsx
  web/crux-ui/src/pages/products/[productId].tsx
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/deployments/[deploymentId]/instance/[instanceId].tsx
  web/crux-ui/src/pages/products/[productId]/versions/[versionId]/image/[imageId].tsx
  web/crux-ui/src/pages/templates.tsx
  web/crux-ui/src/utils.ts
  web/crux/package-lock.json
  web/crux/src/app/image/image.service.ts
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:high
