Repository dyrector-io/dyrectorio, pull requests merged in 2023-06, with the labels that each got.

#584 feat(cli): better image pull display
  .github/workflows/full.yml
  .golangci.yml
  .vscode/launch.json
  .vscode/settings.json
  go.mod
  go.sum
  golang/.gitignore
  golang/Makefile
  golang/internal/helper/docker/network.go
  golang/internal/helper/image/image.go
  golang/internal/helper/image/image_integration_test.go
  golang/internal/helper/image/types.go
  golang/internal/runtime/container/container.go
  golang/internal/runtime/container/container_test.go
  golang/pkg/builder/container/container_builder.go
  golang/pkg/cli/cli.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/cli/display.go
  golang/pkg/cli/runner.go
  golang/pkg/dagent/utils/container.go
  golang/pkg/dagent/utils/preflight.go
Labels: source:agent, source:cli, pr:feat, lang:golang, lang:makefile, source:ci, source:build

#664 fix(ci): fix the js and tsx source label rules
  .github/config/labeler.yml
Labels: pr:fix, severity:low, source:ci

#653 chore(ci): split builder image
  .github/workflows/full.yml
  .github/workflows/image-builder-golang.yml
  .github/workflows/image-builder-nodejs.yml
  .github/workflows/image-builder-proto.yml
  .github/workflows/image-signer.yml
  .github/workflows/image-tester.yml
  images/builder-golang/Dockerfile
  images/builder-nodejs/Dockerfile
  images/builder-protobuf/Dockerfile
  images/signer/Dockerfile
Labels: pr:chore, source:ci, source:build

#663 build: remove branch from release target
  Makefile
Labels: lang:makefile, source:build, pr:build

#660 fix(crux-ui): add node description to empty node screen
  web/crux-ui/locales/en/nodes.json
  web/crux-ui/src/pages/nodes.tsx
Labels: issue:improvement, source:web, pr:fix, lang:typescript, severity:medium

#665 feat(web): rename project type values
  web/crux-ui/e2e/deploy-dagent.spec.ts
  web/crux-ui/e2e/deployment-copiability.spec.ts
  web/crux-ui/e2e/deployment-deletability.spec.ts
  web/crux-ui/e2e/deployment-mutability.spec.ts
  web/crux-ui/e2e/deployment.spec.ts
  web/crux-ui/e2e/image-config.spec.ts
  web/crux-ui/e2e/nodes.spec.ts
  web/crux-ui/e2e/registry.spec.ts
  web/crux-ui/e2e/template.spec.ts
  web/crux-ui/e2e/utils/projects.ts
  web/crux-ui/e2e/utils/templates.ts
  web/crux-ui/e2e/version.spec.ts
  web/crux-ui/locales/en/projects.json
  web/crux-ui/locales/en/templates.json
  web/crux-ui/playwright.config.ts
  web/crux-ui/src/components/projects/edit-project-card.tsx
  web/crux-ui/src/components/projects/project-details-card.tsx
  web/crux-ui/src/components/projects/project-type-tag.tsx
  web/crux-ui/src/components/projects/versions/versionless-project-sections.tsx
  web/crux-ui/src/components/templates/apply-template-card.tsx
  web/crux-ui/src/elements/dyo-tag.tsx
  web/crux-ui/src/elements/dyo-toggle.tsx
  web/crux-ui/src/models/project.ts
  web/crux-ui/src/pages/projects/[projectId].tsx
  web/crux-ui/src/pages/projects/[projectId]/versions/[versionId].tsx
  web/crux/prisma/migrations/20230605134318_rename_project_type/migration.sql
  web/crux/prisma/schema.prisma
  web/crux/src/app.module.ts
  web/crux/src/app/deploy/deploy.mapper.spec.ts
  web/crux/src/app/project/interceptors/project.update.interceptor.ts
  web/crux/src/app/project/project.dto.ts
  web/crux/src/app/project/project.service.ts
  web/crux/src/app/template/template.service.ts
  web/crux/src/app/version/interceptors/version.create.interceptor.ts
  web/crux/src/app/version/interceptors/version.increase.interceptor.ts
  web/crux/src/app/version/interceptors/version.update.interceptor.ts
  web/crux/src/app/version/version.http.controller.ts
  web/crux/src/config/swagger.config.ts
  web/crux/src/domain/version.ts
  web/crux/src/shared/const.ts
Labels: source:web, pr:feat, lang:typescript, lang:sql

#657 feat(web): onboarding
  web/crux-ui/e2e/nodes.spec.ts
  web/crux-ui/locales/en/dashboard.json
  web/crux-ui/locales/en/settings.json
  web/crux-ui/public/close.svg
  web/crux-ui/src/components/dashboard/onboarding-entry.tsx
  web/crux-ui/src/components/dashboard/onboarding.tsx
  web/crux-ui/src/components/projects/versions/deployments/deployment-container-status-list.tsx
  web/crux-ui/src/elements/dyo-icon.tsx
  web/crux-ui/src/models/auth.ts
  web/crux-ui/src/models/dashboard.ts
  web/crux-ui/src/models/deployment.ts
  web/crux-ui/src/pages/auth/settings.tsx
  web/crux-ui/src/pages/auth/settings/new-password.tsx
  web/crux-ui/src/pages/dashboard.tsx
  web/crux-ui/src/pages/deployments/[deploymentId]/log.tsx
  web/crux-ui/src/routes.ts
  web/crux-ui/src/server/kratos.ts
  web/crux-ui/src/utils.ts
  web/crux/src/app/dashboard/dashboard.dto.ts
  web/crux/src/app/dashboard/dashboard.mapper.spec.ts
  web/crux/src/app/dashboard/dashboard.mapper.ts
  web/crux/src/app/dashboard/dashboard.module.ts
  web/crux/src/app/dashboard/dashboard.service.ts
  web/crux/src/app/team/team.service.ts
  web/crux/src/app/team/user.http.controller.ts
  web/crux/src/domain/deployment.spec.ts
  web/crux/src/domain/deployment.ts
  web/crux/src/services/kratos.service.ts
Labels: source:web, pr:feat, lang:typescript

#668 feat(cli): add CLI version in addition to runtime versions
  golang/internal/runtime/container/container.go
  golang/pkg/cli/runner.go
Labels: source:cli, pr:feat, lang:golang

#669 fix(dagent): correct logDriver mapping
  golang/internal/mapper/grpc.go
Labels: pr:fix, lang:golang

#667 fix(web): rename field to make Traefik work again
  web/crux-ui/e2e/nodes.spec.ts
  web/crux-ui/src/components/nodes/dyo-node-setup.tsx
  web/crux-ui/src/models/node.ts
  web/crux-ui/src/validations/node.ts
Labels: source:web, pr:fix, lang:typescript

#672 build: add staging deploy workflow
  .github/workflows/staging-deploy.yaml
Labels: source:ci, pr:build

#671 fix: registration and verification flows
  web/crux-ui/e2e/deployment-copiability.spec.ts
  web/crux-ui/e2e/nodes.spec.ts
  web/crux-ui/locales/en/common.json
  web/crux-ui/locales/en/login.json
  web/crux-ui/locales/en/register.json
  web/crux-ui/locales/en/verify.json
  web/crux-ui/public/documentation.svg
  web/crux-ui/public/note-text-outline.svg
  web/crux-ui/src/components/layout.tsx
  web/crux-ui/src/components/main/footer.tsx
  web/crux-ui/src/components/main/nav-button.tsx
  web/crux-ui/src/components/main/nav-section.tsx
  web/crux-ui/src/components/main/sidebar.tsx
  web/crux-ui/src/components/nodes/node-containers-list.tsx
  web/crux-ui/src/elements/dyo-single-form-logo.tsx
  web/crux-ui/src/pages/auth/create-account.tsx
  web/crux-ui/src/pages/auth/login.tsx
  web/crux-ui/src/pages/auth/recovery.tsx
  web/crux-ui/src/pages/auth/register.tsx
  web/crux-ui/src/pages/auth/settings.tsx
  web/crux-ui/src/pages/auth/verify.tsx
  web/crux-ui/src/pages/nodes.tsx
  web/crux-ui/src/routes.ts
  web/crux-ui/src/server/kratos.ts
  web/crux-ui/src/utils.ts
  web/crux-ui/src/validations/auth.ts
  web/kratos/README.md
Labels: source:web, pr:fix, lang:typescript, source:kratos

#673 fix: registry and storage editing
  web/crux-ui/locales/en/registries.json
  web/crux-ui/locales/en/storages.json
  web/crux-ui/src/components/registries/edit-registry-card.tsx
  web/crux-ui/src/components/registries/registry-fields/github-registry-field.tsx
  web/crux-ui/src/components/registries/registry-fields/gitlab-registry-field.tsx
  web/crux-ui/src/components/registries/registry-fields/google-registry-field.tsx
  web/crux-ui/src/components/registries/registry-fields/hub-registry-fields.tsx
  web/crux-ui/src/components/registries/registry-fields/unchecked-registry-field.tsx
  web/crux-ui/src/components/registries/registry-fields/v2-registry-field.tsx
  web/crux-ui/src/components/storages/edit-storage-card.tsx
  web/crux-ui/src/pages/registries/[registryId].tsx
  web/crux/src/app/registry/interceptors/registry.update.interceptor.ts
  web/crux/src/app/registry/registry.http.controller.ts
  web/crux/src/app/storage/interceptors/storage.update.interceptor.ts
  web/crux/src/app/storage/storage.http.controller.ts
Labels: source:web, pr:fix, lang:typescript

#674 fix(crux): add https if protocol is missing from storage URL
  web/crux-ui/src/components/storages/edit-storage-card.tsx
  web/crux/src/app/deploy/deploy.mapper.spec.ts
  web/crux/src/app/deploy/deploy.mapper.ts
Labels: source:web, pr:fix, lang:typescript

#677 fix(dagent): add import container logs parsing & send
  golang/pkg/builder/container/container_builder.go
  golang/pkg/builder/container/utils.go
  golang/pkg/builder/container/utils_test.go
  golang/pkg/dagent/utils/docker.go
  golang/pkg/dagent/utils/docker_test.go
  golang/pkg/dagent/utils/init_container.go
Labels: source:agent, pr:fix, lang:golang

#676 fix(web): deployment environment editing
  web/crux-ui/src/components/projects/versions/deployments/deployment-details-section.tsx
  web/crux-ui/src/components/projects/versions/deployments/instances/edit-instance-config.tsx
  web/crux-ui/src/components/projects/versions/deployments/use-deployment-state.tsx
  web/crux-ui/src/components/projects/versions/images/edit-image-config.tsx
  web/crux-ui/src/components/shared/key-value-input.tsx
  web/crux-ui/src/pages/deployments/[deploymentId].tsx
  web/crux/src/app/deploy/deploy.ws.gateway.ts
  web/crux/src/app/version/version.ws.gateway.ts
Labels: source:web, pr:fix, lang:typescript

#682 build: remove signing from multiarch images
  .github/workflows/full.yml
Labels: source:ci, pr:build

#680 fix: project creation navigation, remove playwright retries, small fixes
  web/crux-ui/e2e/utils/projects.ts
  web/crux-ui/playwright.config.ts
  web/crux-ui/src/pages/deployments.tsx
  web/crux-ui/src/pages/nodes/[nodeId].tsx
  web/crux-ui/src/pages/projects.tsx
  web/crux/prisma/schema.prisma
Labels: source:web, pr:fix, lang:typescript, lang:sql

#683 test(web): change test images to ghcr from dockerhub
  golang/crane-test.yaml
  golang/internal/helper/docker/container_test.go
  golang/internal/helper/image/image_integration_test.go
  golang/internal/helper/image/image_test.go
  golang/pkg/builder/container/container_builder_test.go
  golang/pkg/builder/container/exec_builder_test.go
  golang/pkg/dagent/external/images/nginx.Dockerfile
  web/crux-ui/e2e/deployment-copiability.spec.ts
  web/crux-ui/e2e/deployment.spec.ts
  web/crux-ui/e2e/nodes.spec.ts
  web/crux-ui/e2e/registry.spec.ts
  web/crux-ui/e2e/utils/common.ts
  web/crux-ui/e2e/utils/global-setup.ts
  web/crux-ui/e2e/utils/projects.ts
  web/crux/package-lock.json
Labels: source:agent, source:web, lang:golang, lang:typescript, pr:test

#687 feat(web): add extra explanation to dagent persistence section
  web/crux-ui/locales/en/nodes.json
Labels: source:web, pr:feat

#686 feat(crux-ui): add tooltips and refactor <Image> to <DyoIcon>
  web/crux-ui/src/components/nodes/node-audit-list.tsx
  web/crux-ui/src/components/nodes/node-containers-list.tsx
  web/crux-ui/src/components/notifications/notification-card.tsx
  web/crux-ui/src/components/projects/project-view-list.tsx
  web/crux-ui/src/components/projects/versions/deployments/deployment-view-list.tsx
  web/crux-ui/src/components/projects/versions/images/config/config-section-label.tsx
  web/crux-ui/src/components/projects/versions/version-deployments-section.tsx
  web/crux-ui/src/components/projects/versions/version-view-list.tsx
  web/crux-ui/src/components/shared/breadcrumb.tsx
  web/crux-ui/src/components/shared/events-terminal.tsx
  web/crux-ui/src/components/shared/paginator.tsx
  web/crux-ui/src/components/shared/secret-key-value-input.tsx
  web/crux-ui/src/elements/dyo-icon.tsx
  web/crux-ui/src/elements/dyo-select.tsx
  web/crux-ui/src/pages/audit-log.tsx
  web/crux-ui/src/pages/deployments.tsx
  web/crux-ui/src/pages/teams/[teamId].tsx
Labels: source:web, pr:feat, lang:typescript

#689 fix(ci): minor versioning with crux push
  .github/workflows/product_builder.yaml
Labels: pr:fix, source:ci

#690 build: include golang version change in release script
  Makefile
Labels: lang:makefile, source:build, pr:build

#688 feat(ci): add cache
  .github/workflows/product_builder.yaml
  web/crux-ui/.gitignore
  web/crux-ui/Dockerfile
  web/crux/.gitignore
  web/crux/Dockerfile
Labels: source:web, pr:feat, severity:medium, source:ci, source:build

#695 build(ci): add missing go_push requirement
  .github/workflows/product_builder.yaml
Labels: source:ci, pr:build

#698 fix: add crane to signer image and add additional cache restore
  .github/workflows/builder_image_signer.yaml
  .github/workflows/product_builder.yaml
  .github/workflows/tester_image_builder.yaml
  images/signer/Dockerfile
Labels: pr:fix, source:ci, source:build

#702 fix: small improvements in makefile around bundle
  Makefile
Labels: pr:fix, lang:makefile, source:build

#708 fix(dagent): discard image pull response if not read
  golang/internal/helper/image/image.go
Labels: pr:fix, lang:golang

#709 feat(crux-ui): add delete button to deployments list
  web/crux-ui/locales/en/deployments.json
  web/crux-ui/locales/en/nodes.json
  web/crux-ui/locales/en/tokens.json
  web/crux-ui/src/components/nodes/edit-node-card.tsx
  web/crux-ui/src/components/projects/versions/images/edit-image-card.tsx
  web/crux-ui/src/components/projects/versions/images/use-image-editor-state.ts
  web/crux-ui/src/components/projects/versions/use-version-state.ts
  web/crux-ui/src/components/projects/versions/version-deployments-section.tsx
  web/crux-ui/src/components/projects/versions/version-images-section.tsx
  web/crux-ui/src/components/projects/versions/version-sections-heading.tsx
  web/crux-ui/src/components/projects/versions/version-sections.tsx
  web/crux-ui/src/components/projects/versions/version-view-list.tsx
  web/crux-ui/src/components/projects/versions/version-view-tile.tsx
  web/crux-ui/src/components/projects/versions/versionless-project-sections.tsx
  web/crux-ui/src/elements/dyo-modal.tsx
  web/crux-ui/src/pages/deployments.tsx
  web/crux-ui/src/pages/deployments/[deploymentId].tsx
  web/crux-ui/src/pages/projects/[projectId]/versions/[versionId].tsx
Labels: source:web, pr:feat, lang:typescript

#712 fix(dagent): rewrite image errors for update, add tests
  go.mod
  golang/internal/helper/docker/container.go
  golang/internal/helper/docker/container_test.go
  golang/internal/helper/image/image.go
  golang/internal/helper/image/image_integration_test.go
  golang/internal/helper/image/image_test.go
  golang/internal/runtime/container/container.go
  golang/internal/runtime/container/container_test.go
  golang/pkg/builder/container/container_builder.go
  golang/pkg/dagent/update/update.go
  golang/pkg/dagent/update/update_integration_test.go
  golang/pkg/dagent/update/update_test.go
  golang/pkg/dagent/utils/container.go
  golang/pkg/dagent/utils/docker.go
  golang/pkg/dagent/utils/dockerhelper.go
Labels: source:agent, pr:fix, lang:golang

#713 fix: CONTRIBUTING.md sync and pipeline cli image push fix
  .github/config/title_label_config.yml
  .github/workflows/pr_title_validation.sh
  .github/workflows/product_builder.yaml
  CONTRIBUTING.md
Labels: pr:fix, source:ci

#715 doc: add branching strategy to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: pr:doc

#710 feat(crux-ui): web socket save indicator
  web/crux-ui/locales/en/common.json
  web/crux-ui/locales/en/nodes.json
  web/crux-ui/locales/en/teams.json
  web/crux-ui/src/components/nodes/node-containers-list.tsx
  web/crux-ui/src/components/projects/versions/deployments/deployment-view-tile.tsx
  web/crux-ui/src/components/projects/versions/deployments/edit-deployment-instances.tsx
  web/crux-ui/src/components/projects/versions/deployments/instances/edit-instance-card.tsx
  web/crux-ui/src/components/projects/versions/deployments/instances/use-instance-state.ts
  web/crux-ui/src/components/projects/versions/deployments/use-deployment-state.tsx
  web/crux-ui/src/components/projects/versions/images/config/common-config-section.tsx
  web/crux-ui/src/components/projects/versions/images/edit-image-json.tsx
  web/crux-ui/src/components/projects/versions/use-version-state.ts
  web/crux-ui/src/components/projects/versions/version-deployments-section.tsx
  web/crux-ui/src/components/projects/versions/version-sections.tsx
  web/crux-ui/src/components/projects/versions/versionless-project-sections.tsx
  web/crux-ui/src/components/shared/secret-key-value-input.tsx
  web/crux-ui/src/elements/web-socket-save-indicator.tsx
  web/crux-ui/src/models/common.ts
  web/crux-ui/src/pages/deployments/[deploymentId].tsx
  web/crux-ui/src/pages/deployments/[deploymentId]/instances/[instanceId].tsx
  web/crux-ui/src/pages/projects/[projectId].tsx
  web/crux-ui/src/pages/projects/[projectId]/versions/[versionId].tsx
  web/crux-ui/src/pages/projects/[projectId]/versions/[versionId]/images/[imageId].tsx
  web/crux-ui/src/pages/teams/[teamId].tsx
Labels: source:web, pr:feat, lang:typescript
