Repository dyrector-io/dyrectorio, pull requests merged in 2024-09, with the labels that each got.

#1000 feat(web): add executable to manage custom certs
  web/crux-ui/Dockerfile
  web/crux/Dockerfile
Labels: source:web, pr:feat, source:build

#1001 feat(web): add private unchecked registry
  web/crux-ui/src/components/registries/edit-registry-card.tsx
  web/crux-ui/src/components/registries/registry-fields/unchecked-registry-field.tsx
  web/crux-ui/src/models/registry.ts
  web/crux-ui/src/validations/registry.ts
  web/crux/src/app/registry/registry.dto.ts
  web/crux/src/app/registry/registry.mapper.ts
Labels: source:web, pr:feat, lang:typescript

#1002 fix(agent): add support for mixed-case image tags
  golang/internal/helper/image/image.go
  golang/internal/helper/image/image_unit_test.go
Labels: pr:fix, lang:golang
