Repository dyrector-io/dyrectorio, pull requests merged in 2024-04, with the labels that each got.

#942 fix(web): node container log stream sharing
  golang/internal/grpc/grpc.go
  golang/pkg/crane/crane.go
  golang/pkg/crane/crux/deploy.go
  golang/pkg/crane/crux/deploy_test.go
  golang/pkg/crane/crux/watch.go
  golang/pkg/dagent/dagent.go
  golang/pkg/dagent/utils/dockerhelper.go
  protobuf/go/agent/agent.pb.go
  protobuf/go/agent/agent_grpc.pb.go
  protobuf/go/common/common.pb.go
  protobuf/proto/agent.proto
  protobuf/proto/common.proto
  web/crux-ui/src/components/deployments/add-deployment-card.tsx
  web/crux-ui/src/components/shared/paginator.tsx
  web/crux-ui/src/elements/dyo-select.tsx
  web/crux-ui/src/models/node.ts
  web/crux-ui/src/pages/[teamSlug]/nodes/[nodeId]/log.tsx
  web/crux-ui/src/routes.ts
  web/crux/.env.example
  web/crux/proto/agent.proto
  web/crux/proto/common.proto
  web/crux/src/app/agent/agent.grpc.controller.ts
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/app/agent/connection-strategies/agent.connection.legacy.strategy.ts
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/app/node/interceptors/node.prefix.interceptor.ts
  web/crux/src/app/node/node.const.ts
  web/crux/src/app/node/node.container.http.controller.ts
  web/crux/src/app/node/node.container.ws.gateway.ts
  web/crux/src/app/node/node.dto.ts
  web/crux/src/app/node/node.global-container.http.controller.ts
  web/crux/src/app/node/node.mapper.ts
  web/crux/src/app/node/node.message.ts
  web/crux/src/app/node/node.module.ts
  web/crux/src/app/node/node.service.ts
  web/crux/src/app/node/pipes/node.container-log-query.pipe.ts
  web/crux/src/config/app.config.ts
  web/crux/src/domain/agent-callback.ts
  web/crux/src/domain/agent-tunnel.ts
  web/crux/src/domain/agent.spec.ts
  web/crux/src/domain/agent.ts
  web/crux/src/domain/container-log-stream.ts
  web/crux/src/grpc/protobuf/proto/agent.ts
  web/crux/src/grpc/protobuf/proto/common.ts
  web/crux/src/shared/const.ts
  web/crux/src/shared/fixed-length-linked-list.spec.ts
  web/crux/src/shared/fixed-length-linked-list.ts
  web/crux/src/websockets/dyo.ws.adapter.ts
Labels: source:agent, source:web, pr:fix, lang:golang, lang:typescript, source:proto

#943 fix(crux): improve log API description
  web/crux/src/app/node/node.container.http.controller.ts
Labels: source:web, pr:fix, lang:typescript

#944 feat: add error handling for agent callbacks
  golang/internal/common/common.go
  golang/internal/grpc/grpc.go
  golang/pkg/crane/k8s/log.go
  golang/pkg/dagent/utils/docker.go
  golang/pkg/dagent/utils/dockerhelper.go
  protobuf/go/agent/agent.pb.go
  protobuf/go/agent/agent_grpc.pb.go
  protobuf/proto/agent.proto
  web/crux/proto/agent.proto
  web/crux/src/app/agent/agent.grpc.controller.ts
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/domain/agent-callback.ts
  web/crux/src/domain/agent.ts
  web/crux/src/grpc/protobuf/proto/agent.ts
Labels: source:agent, source:web, pr:feat, lang:golang, lang:typescript, source:proto

#945 fix(crux): agent token replacement status
  web/crux/src/domain/agent.ts
Labels: source:web, pr:fix, lang:typescript

#947 fix: check existing branches in make release
  Makefile
Labels: pr:fix, lang:makefile, source:build

#948 fix: watch container status hanging, jwt payload
  golang/internal/grpc/grpc.go
  web/crux/.env.example
  web/crux/src/app/agent/agent.service.spec.ts
  web/crux/src/app/agent/agent.service.ts
  web/crux/src/app/agent/connection-strategies/agent.connection.install.strategy.ts
  web/crux/src/app/agent/connection-strategies/agent.connection.legacy.strategy.ts
  web/crux/src/app/agent/connection-strategies/agent.connection.strategy.ts
  web/crux/src/app/agent/connection-strategies/agent.connection.update.strategy.ts
  web/crux/src/app/deploy/deploy.jwt.strategy.ts
  web/crux/src/app/deploy/deploy.service.ts
  web/crux/src/app/deploy/guards/deploy.team-access.guard.ts
  web/crux/src/app/node/node.service.ts
  web/crux/src/app/token/jwt-auth.guard.ts
  web/crux/src/app/token/jwt.strategy.ts
  web/crux/src/app/token/token.service.ts
  web/crux/src/config/app.config.ts
  web/crux/src/domain/agent-callback.ts
  web/crux/src/domain/agent.spec.ts
  web/crux/src/domain/agent.ts
  web/crux/src/domain/audit.ts
  web/crux/src/domain/deployment-token.ts
  web/crux/src/domain/token.ts
  web/crux/src/main.ts
  web/crux/src/shared/const.ts
Labels: source:web, pr:fix, lang:golang, lang:typescript

#949 test: watch container status hanging
  web/crux-ui/e2e/utils/common.ts
  web/crux-ui/e2e/utils/node-helper.ts
  web/crux-ui/e2e/with-login/nodes-deploy.spec.ts
  web/crux-ui/e2e/with-login/nodes.spec.ts
Labels: source:web, lang:typescript, pr:test

#950 feat(crux): add an env to set grpc maxReceiveMessageLength
  web/crux/.env.example
  web/crux/src/app/node/node.dto.ts
  web/crux/src/config/app.config.ts
  web/crux/src/main.ts
Labels: source:web, pr:feat, lang:typescript

#951 fix: fix the Makefile mechanisms at release task
  Makefile
Labels: pr:fix, lang:makefile, source:build

#953 fix(crux): token expiration
  web/crux/src/app/pipeline/pipeline.jwt.strategy.ts
  web/crux/src/app/pipeline/pipeline.service.ts
  web/crux/src/app/token/jwt-auth.guard.ts
  web/crux/src/domain/pipeline-token.ts
  web/crux/src/domain/token.ts
Labels: source:web, pr:fix, lang:typescript

#954 refactor: container log stream
  golang/internal/grpc/grpc.go
  web/crux-ui/src/models/node.ts
  web/crux-ui/src/pages/[teamSlug]/nodes/[nodeId]/log.tsx
  web/crux/package-lock.json
  web/crux/src/app/node/node.container.ws.gateway.ts
  web/crux/src/app/node/node.message.ts
  web/crux/src/app/node/node.service.ts
  web/crux/src/domain/agent-tunnel.ts
  web/crux/src/domain/agent.spec.ts
  web/crux/src/domain/agent.ts
  web/crux/src/domain/container-log-stream.ts
  web/crux/src/shared/fixed-length-linked-list.ts
Labels: source:web, pr:refactor, lang:golang, lang:typescript

#961 fix(crux): get instance config
  web/crux/src/app/deploy/deploy.service.ts
Labels: source:web, pr:fix, lang:typescript

#960 refactor(crux-ui): move deployment related components to their correct folder
  web/crux-ui/src/components/deployments/add-deployment-to-version-card.tsx
  web/crux-ui/src/components/deployments/copy-deployment-card.tsx
  web/crux-ui/src/components/deployments/create-deployment-token-card.tsx
  web/crux-ui/src/components/deployments/deployment-container-status-list.tsx
  web/crux-ui/src/components/deployments/deployment-details-card.tsx
  web/crux-ui/src/components/deployments/deployment-details-section.tsx
  web/crux-ui/src/components/deployments/deployment-status-tag.tsx
  web/crux-ui/src/components/deployments/deployment-token-card.tsx
  web/crux-ui/src/components/deployments/deployment-view-list.tsx
  web/crux-ui/src/components/deployments/deployment-view-tile.tsx
  web/crux-ui/src/components/deployments/edit-deployment-card.tsx
  web/crux-ui/src/components/deployments/edit-deployment-instances.tsx
  web/crux-ui/src/components/deployments/instances/edit-instance-card.tsx
  web/crux-ui/src/components/deployments/instances/use-instance-state.ts
  web/crux-ui/src/components/deployments/use-copy-deployment-state.ts
  web/crux-ui/src/components/deployments/use-deployment-state.tsx
  web/crux-ui/src/components/nodes/node-deployment-list.tsx
  web/crux-ui/src/components/projects/versions/use-version-state.ts
  web/crux-ui/src/components/projects/versions/version-deployments-section.tsx
  web/crux-ui/src/components/projects/versions/version-sections.tsx
  web/crux-ui/src/pages/[teamSlug]/deployments.tsx
  web/crux-ui/src/pages/[teamSlug]/deployments/[deploymentId].tsx
  web/crux-ui/src/pages/[teamSlug]/deployments/[deploymentId]/deploy.tsx
  web/crux-ui/src/pages/[teamSlug]/deployments/[deploymentId]/instances/[instanceId].tsx
Labels: source:web, pr:refactor, lang:typescript

#962 fix(agent): deprecated types.AuthConfig
  golang/internal/helper/image/image.go
  golang/pkg/builder/container/utils.go
Labels: pr:fix, lang:golang

#964 fix: crane uses port/targetPort in serviceMonitors for metrics
  golang/api/v1/deploy.go
  golang/internal/mapper/grpc.go
  golang/pkg/crane/k8s/service_monitor.go
  golang/pkg/crane/k8s/service_monitor_test.go
  protobuf/go/agent/agent.pb.go
  protobuf/proto/agent.proto
  web/crux/proto/agent.proto
  web/crux/src/app/deploy/deploy.mapper.ts
  web/crux/src/grpc/protobuf/proto/agent.ts
Labels: source:agent, source:web, pr:fix, lang:golang, lang:typescript, source:proto

#963 chore(agent): use new docker types, make linter happy again
  .github/workflows/builder_image_golang.yaml
  .github/workflows/product_builder.yaml
  .golangci.yml
  go.mod
  go.sum
  golang/Makefile
  golang/api/v1/deploy.go
  golang/internal/config/config.go
  golang/internal/config/jwt_test.go
  golang/internal/dogger/dogger.go
  golang/internal/grpc/grpc.go
  golang/internal/helper/docker/container.go
  golang/internal/helper/docker/container_test.go
  golang/internal/helper/image/image.go
  golang/internal/mapper/grpc.go
  golang/internal/mapper/grpc_test.go
  golang/internal/runtime/container/container_test.go
  golang/internal/util/array.go
  golang/internal/util/dotnet.go
  golang/pkg/builder/container/container_builder.go
  golang/pkg/builder/container/container_builder_integration_test.go
  golang/pkg/builder/container/docker_container.go
  golang/pkg/builder/container/exec_builder.go
  golang/pkg/builder/container/logger_test.go
  golang/pkg/builder/container/types.go
  golang/pkg/builder/container/types_test.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/crane/config/config.go
  golang/pkg/crane/k8s/configmap.go
  golang/pkg/crane/k8s/delete_facade.go
  golang/pkg/crane/k8s/deploy_facade.go
  golang/pkg/crane/k8s/deployment.go
  golang/pkg/crane/k8s/ingress.go
  golang/pkg/crane/k8s/log.go
  golang/pkg/crane/k8s/namespace.go
  golang/pkg/crane/k8s/pvc.go
  golang/pkg/crane/k8s/secret.go
  golang/pkg/crane/k8s/service.go
  golang/pkg/crane/k8s/volume_helper.go
  golang/pkg/dagent/config/config.go
  golang/pkg/dagent/config/secret_test.go
  golang/pkg/dagent/update/update.go
  golang/pkg/dagent/update/update_test.go
  golang/pkg/dagent/utils/container.go
  golang/pkg/dagent/utils/docker.go
  golang/pkg/dagent/utils/dockerhelper.go
  golang/pkg/dagent/utils/dockerhelper_test.go
  golang/pkg/dagent/utils/import_container.go
  golang/pkg/dagent/utils/init_container.go
  images/builder-golang/Dockerfile
Labels: source:agent, source:cli, pr:chore, lang:golang, lang:makefile, source:ci, source:build

#965 fix(crux-ui): add IPv6 listen for dual-stack listening
  web/crux-ui/Dockerfile
Labels: source:web, source:build
