Repository dyrector-io/dyrectorio, pull requests merged in 2024-05, with the labels that each got.

#968 fix(crux-ui): compose env_file apply
  web/crux-ui/src/components/composer/compose-environment.tsx
  web/crux-ui/src/components/composer/use-composer-state.ts
  web/crux-ui/src/models/compose.ts
  web/crux-ui/src/pages/composer.tsx
  web/crux-ui/src/validations/compose.ts
Labels: source:web, pr:fix, lang:typescript

#970 chore: bump proto image version to be in sync with golang
  .github/workflows/builder_image_protobuf.yaml
  .github/workflows/tester_image_builder.yaml
  Makefile
  images/builder-golang/Dockerfile
  images/builder-protobuf/Dockerfile
  protobuf/go/agent/agent.pb.go
  protobuf/go/agent/agent_grpc.pb.go
  protobuf/go/common/common.pb.go
  web/crux/src/grpc/google/protobuf/timestamp.ts
Labels: source:web, pr:chore, lang:golang, lang:typescript, lang:makefile, source:ci, source:build, pr:build

#969 fix(web): missing composer image config patches
  web/crux-ui/src/components/composer/generate-version-card.tsx
  web/crux-ui/src/components/composer/use-composer-state.ts
  web/crux-ui/src/models/compose.ts
  web/crux-ui/src/pages/composer.tsx
  web/crux/src/app/container/container.mapper.ts
  web/crux/src/app/image/image.service.ts
Labels: source:web, pr:fix, lang:typescript

#966 feat(agent): add sysctls option to builder
  golang/Makefile
  golang/pkg/builder/container/container_builder.go
  web/crux-ui/docker-compose.yaml
  web/crux-ui/e2e/utils/global.teardown.ts
  web/crux-ui/next.config.js
  web/crux-ui/src/server/crux-api.ts
Labels: source:web, pr:feat, lang:golang, lang:typescript, lang:makefile, source:build, lang:javascript

#971 fix(crux-ui): envs split only at the first equals sign
  web/crux-ui/src/components/composer/use-composer-state.ts
  web/crux-ui/src/models/compose.ts
Labels: source:web, pr:fix, lang:typescript

#972 chore: more consistent release generation, adjust lint config
  .golangci.yml
  Makefile
Labels: pr:chore, lang:makefile, source:build

#973 chore(agent): remove magic numbers, adjust related rules
  .golangci.yml
  golang/internal/mapper/grpc.go
  golang/internal/mapper/grpc_test.go
  golang/pkg/dagent/utils/docker.go
Labels: source:agent, pr:chore, lang:golang

#974 fix(crux-ui): secret releated env keys
  web/crux-ui/src/components/projects/versions/images/config/common-config-section.tsx
  web/crux-ui/src/validations/common.ts
  web/crux-ui/src/validations/container.ts
Labels: source:web, pr:fix, lang:typescript

#976 feat(crux): get container list api
  web/crux/src/app/node/node.container.http.controller.ts
Labels: source:web, pr:feat, lang:typescript

#975 cicd: tag version only from release
  .github/workflows/pipeline_set_output_tag.sh
  .github/workflows/product_builder.yaml
Labels: source:ci, pr:ci

#977 feat(crux-ui): reorganize the menu structure
  web/crux-ui/locales/en/common.json
  web/crux-ui/src/components/main/nav-button.tsx
  web/crux-ui/src/components/main/nav-section.tsx
  web/crux-ui/src/components/main/profile-card.tsx
  web/crux-ui/src/components/main/sidebar.tsx
  web/crux-ui/src/components/main/team-selection-card.tsx
  web/crux-ui/src/components/main/top-bar.tsx
Labels: source:web, pr:feat, lang:typescript

#978 feat(web): add option to disable deployment copy on version increase
  web/crux-ui/locales/en/versions.json
  web/crux-ui/src/components/projects/edit-project-card.tsx
  web/crux-ui/src/components/projects/versions/edit-version-card.tsx
  web/crux-ui/src/models/version.ts
  web/crux-ui/src/pages/[teamSlug]/projects/[projectId]/versions/[versionId].tsx
  web/crux/prisma/migrations/20240522094419_version_copy_deployments/migration.sql
  web/crux/prisma/schema.prisma
  web/crux/src/app/version/version.dto.ts
  web/crux/src/app/version/version.mapper.ts
  web/crux/src/app/version/version.service.ts
  web/crux/src/domain/version-increase.ts
Labels: source:web, pr:feat, lang:typescript, lang:sql

#979 fix(crux-ui): image ordering
  web/crux-ui/src/components/projects/versions/version-reorder-images-section.tsx
  web/crux-ui/src/components/shared/drag-and-drop-list.tsx
Labels: source:web, pr:fix, lang:typescript
