Repository dyrector-io/dyrectorio, pull requests merged in 2024-02, with the labels that each got.

#906 fix(crux): missing teamslug from pipeline hooks
  web/crux/src/app/pipeline/pipeline.http.controller.ts
  web/crux/src/app/pipeline/pipeline.service.ts
  web/crux/src/domain/pipeline.ts
  web/crux/src/services/azure-devops.service.ts
Labels: source:web, pr:fix, lang:typescript

#907 fix: pipeline related bugs
  web/crux-ui/locales/en/pipelines.json
  web/crux-ui/src/components/pipelines/edit-event-watcher-card.tsx
  web/crux-ui/src/components/pipelines/trigger-pipeline-card.tsx
  web/crux-ui/src/components/pipelines/use-pipeline-state.ts
  web/crux-ui/src/models/pipeline.ts
  web/crux/src/domain/pipeline.ts
  web/crux/src/services/azure-devops.service.ts
Labels: source:web, pr:fix, lang:typescript

#908 doc: braking typo fix and smaller adjustments
  README.md
Labels: pr:doc

#909 fix(web): add missing i18n lines
  web/crux-ui/src/components/nodes/node-deployment-list.tsx
  web/crux-ui/src/components/projects/versions/deployments/deployment-status-tag.tsx
  web/crux-ui/src/components/projects/versions/version-deployments-section.tsx
  web/crux-ui/src/pages/[teamSlug]/deployments.tsx
Labels: source:web, pr:fix, lang:typescript

#911 fix(crux-ui): notification webhook validations
  web/crux-ui/e2e/with-login/notification.spec.ts
  web/crux-ui/src/validations/notification.spec.ts
  web/crux-ui/src/validations/notification.ts
Labels: source:web, pr:fix, lang:typescript

#913 feat(cli): add frontend for crux encryption-key generation
  golang/pkg/cli/cli.go
  golang/pkg/cli/generate.go
Labels: source:cli, pr:feat, lang:golang

#914 fix(crux): encryption key generation
  web/crux/crux-docker-entrypoint.sh
  web/crux/src/config/app.config.ts
Labels: source:web, pr:fix, lang:typescript, lang:shell

#915 feat(web): add DEFAULT_CONTAINER_LOG_TAIL to .env
  web/crux-ui/locales/en/common.json
  web/crux/.env.example
  web/crux/src/app/node/node.service.spec.ts
  web/crux/src/app/node/node.service.ts
  web/crux/src/config/app.config.ts
  web/crux/src/domain/agent.spec.ts
  web/crux/src/domain/agent.ts
  web/crux/src/domain/container-log-stream.ts
  web/crux/src/shared/const.ts
Labels: source:web, pr:feat, lang:typescript

#925 feat(web): update kratos to 1.1.0
  web/crux-ui/e2e/utils/common.ts
  web/crux-ui/package-lock.json
  web/crux-ui/package.json
  web/crux-ui/src/models/auth.ts
  web/crux-ui/src/pages/api/auth/create-account.ts
  web/crux-ui/src/pages/api/auth/login.ts
  web/crux-ui/src/pages/api/auth/recovery.ts
  web/crux-ui/src/pages/api/auth/register.ts
  web/crux-ui/src/pages/api/auth/settings/change-password.ts
  web/crux-ui/src/pages/api/auth/settings/edit-profile.ts
  web/crux-ui/src/pages/api/auth/settings/oidc.ts
  web/crux/package-lock.json
  web/crux/package.json
  web/crux/src/services/kratos.service.ts
  web/kratos/Dockerfile
Labels: source:web, pr:feat, lang:typescript, source:build, source:kratos

#926 doc(crux): add extra info encrpytion gey generation
  web/crux/.env.example
Labels: pr:doc

#927 fix(crux): add ENCRYPTION_SECRET_KEY to compose files
  docker-compose.http-only.yaml
  docker-compose.yaml
Labels: pr:fix
