Repository dyrector-io/dyrectorio, pull requests merged in 2024-03, with the labels that each got.

#933 fix(crux): github label fetching
  web/crux/src/app/registry/registry-clients/github-api-client.ts
  web/crux/src/app/registry/registry-clients/gitlab-api-client.ts
  web/crux/src/app/registry/registry-clients/google-api-client.ts
  web/crux/src/app/registry/registry-clients/hub-api-client.ts
  web/crux/src/app/registry/registry-clients/private-hub-api-client.ts
  web/crux/src/app/registry/registry-clients/v2-api-client.ts
  web/crux/src/app/registry/registry-clients/v2-labels.ts
Labels: source:web, lang:typescript

#928 fix(web): breadcrumb navigations on list pages
  golang/pkg/cli/container_defaults.go
  images/playwright/package-lock.json
  images/playwright/package.json
  web/crux-ui/.dockerignore
  web/crux-ui/Dockerfile
  web/crux-ui/e2e/utils/node-helper.ts
  web/crux-ui/e2e/utils/nodes.ts
  web/crux-ui/e2e/utils/teams.ts
  web/crux-ui/e2e/with-login/nodes.spec.ts
  web/crux-ui/e2e/with-login/notification.spec.ts
  web/crux-ui/e2e/with-login/team.spec.ts
  web/crux-ui/next.config.js
  web/crux-ui/package-lock.json
  web/crux-ui/package.json
  web/crux-ui/src/components/layout.tsx
  web/crux-ui/src/components/nodes/edit-node-card.tsx
  web/crux-ui/src/components/nodes/edit-node-section.tsx
  web/crux-ui/src/components/nodes/use-node-details-state.tsx
  web/crux-ui/src/components/projects/versions/deployments/create-deployment-token-card.tsx
  web/crux-ui/src/components/shared/page-menu.tsx
  web/crux-ui/src/hooks/use-anchor.ts
  web/crux-ui/src/hooks/use-interval.ts
  web/crux-ui/src/pages/[teamSlug]/config-bundles.tsx
  web/crux-ui/src/pages/[teamSlug]/nodes.tsx
  web/crux-ui/src/pages/[teamSlug]/nodes/[nodeId].tsx
  web/crux-ui/src/pages/[teamSlug]/notifications.tsx
  web/crux-ui/src/pages/[teamSlug]/pipelines.tsx
  web/crux-ui/src/pages/[teamSlug]/projects.tsx
  web/crux-ui/src/pages/[teamSlug]/registries.tsx
  web/crux-ui/src/pages/[teamSlug]/storages.tsx
  web/crux-ui/src/pages/teams.tsx
  web/crux-ui/src/routes.ts
  web/crux/Dockerfile
Labels: source:web, source:cli, pr:fix, lang:golang, lang:typescript, source:build, lang:javascript

#938 fix(crux-ui): active menu
  web/crux-ui/src/components/main/nav-button.tsx
Labels: source:web, pr:fix, lang:typescript

#936 feat(crux-ui): truncate ports in container list
  web/crux-ui/locales/en/common.json
  web/crux-ui/quality-assurance.ts
  web/crux-ui/src/components/nodes/node-containers-list.tsx
  web/crux-ui/src/elements/dyo-modal.tsx
  web/crux-ui/src/hooks/use-info-modal.ts
Labels: source:web, pr:fix, pr:feat, lang:typescript

#935 fix(crux-ui): simplify list sorting
  web/crux-ui/src/elements/dyo-table.tsx
Labels: source:web, pr:fix, lang:typescript

#934 feat(crux-ui): add tooltip for container names in node container list
  web/crux-ui/src/components/nodes/node-containers-list.tsx
Labels: source:web, pr:feat, lang:typescript

#939 fix(crux-ui): overwritten deployment secrets
  web/crux-ui/src/components/projects/versions/deployments/instances/use-instance-state.ts
  web/crux-ui/src/components/shared/secret-key-value-input.tsx
Labels: source:web, pr:fix, lang:typescript

#940 fix: add ENCRYPTION_SECRET_KEY to root .env.example
  .env.example
Labels: pr:fix

#941 fix: websocket authentication with user tokens
  web/crux/src/app/token/jwt-auth.guard.ts
  web/crux/src/app/token/token.service.ts
  web/crux/src/shared/const.ts
  web/crux/src/websockets/dyo.ws.adapter.ts
Labels: source:web, lang:typescript
