Repository dyrector-io/dyrectorio, pull requests merged in 2024-11, with the labels that each got.

#1009 fix(dagent): adjust of env variables, empty string as valid value
  golang/internal/util/string.go
  golang/internal/util/string_test.go
  golang/pkg/dagent/utils/docker.go
Labels: source:agent, pr:fix, lang:golang

#1010 fix(crux-ui): add some contrast 3rd party login options
  web/crux-ui/public/oidc/github.svg
  web/crux-ui/src/pages/auth/login.tsx
Labels: source:web, pr:fix, lang:typescript

#1013 fix: add client & server side keepalive
  golang/internal/config/config.go
  web/crux/.env.example
  web/crux/src/config/app.config.ts
  web/crux/src/main.ts
Labels: source:web, pr:fix, lang:golang, lang:typescript

#1015 fix(crux-ui): For Next.js, Node.js version >= v18.17.0 is required.
  web/crux-ui/package-lock.json
Labels: source:web, pr:fix
