Repository dyrector-io/dyrectorio, pull requests merged in 2025-01, with the labels that each got.

#1014 feat(cli): add host override for any number of hosts
  .github/workflows/product_builder.yaml
  go.mod
  go.sum
  golang/Makefile
  golang/internal/health/server.go
  golang/internal/health/types.go
  golang/internal/util/array.go
  golang/internal/util/array_test.go
  golang/pkg/cli/cli.go
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/cli/container_defaults_test.go
  golang/pkg/cli/display.go
  golang/pkg/cli/runner.go
  golang/pkg/cli/traefik.yaml.tmpl
  golang/pkg/dagent/config/config.go
  golang/pkg/dagent/config/secret.go
  golang/pkg/dagent/utils/docker.go
  golang/pkg/dagent/utils/prefix_file.go
  golang/pkg/dagent/utils/prefix_file_test.go
  golang/pkg/dagent/utils/release.go
  images/playwright/Dockerfile
  images/playwright/package.json
  web/crux-ui/.env.example
  web/crux-ui/locales/en/404.json
  web/crux-ui/locales/en/errors.json
  web/crux-ui/package.json
  web/crux-ui/playwright.config.ts
Labels: source:agent, source:web, source:cli, pr:feat, lang:golang, lang:typescript, lang:makefile, source:ci, source:build

#1037 cicd: migrate to artifacts@v4
  .github/workflows/product_builder.yaml
Labels: source:ci, pr:ci

#1036 refactor(agent): remove unnecessary panic calls
  golang/cmd/crane/crane.go
  golang/cmd/dagent/dagent.go
  golang/internal/grpc/grpc.go
  golang/pkg/crane/crane.go
  golang/pkg/dagent/caps/parser.go
  golang/pkg/dagent/dagent.go
Labels: source:agent, pr:refactor, lang:golang

#1038 fix: override nestjs-modules/mailer with new mjml version
  package-lock.json
  web/crux/package-lock.json
  web/crux/package.json
  web/crux/src/app/container/container.mapper.ts
  web/crux/src/app/registry/registry-client.provider.ts
  web/crux/src/app/registry/registry.mapper.ts
  web/crux/src/interceptors/prisma-error-interceptor.ts
Labels: source:web, pr:fix, lang:typescript
