Repository dyrector-io/dyrectorio, pull requests merged in 2025-03, with the labels that each got.

#1045 doc: improve the DEVELOPMENT.md file
  DEVELOPMENT.md
Labels: pr:doc

#1048 fix(ci): remove unused workflows and rename existings for better usage
  .github/config/source_labeler.yml
  .github/config/title_label_config.yml
  .github/config/title_labeler.yml
  .github/workflows/deploy_external.yaml
  .github/workflows/deploy_staging.yaml
  .github/workflows/pr_title_validation.sh
  .github/workflows/pull_request_labeler.yaml
Labels: source:ci

#1050 fix(cli): add localhost specific agent host string
  Makefile
  distribution/compose/docker-compose.traefik-labels.yaml
  docker-compose.yaml
  golang/pkg/cli/setup/setup.go
Labels: source:cli, pr:fix, lang:golang, lang:makefile, source:build

#1049 feat(web): merge postgress instances
  .env.example
  .github/workflows/builder_image_multidb.yaml
  distribution/images/multi-db/.env.example
  distribution/images/multi-db/Dockerfile
  distribution/images/multi-db/docker-compose.yml
  distribution/images/multi-db/init-database.sh
  docker-compose.yaml
  web/crux/.env.example
  web/crux/docker-compose.yaml
Labels: source:web, pr:feat, lang:shell, source:ci, source:build
