Repository dyrector-io/dyrectorio, pull requests merged in 2025-04, with the labels that each got.

#1056 fix(agent): add backoff to reduce reconnect load
  .vscode/settings.json
  go.mod
  golang/internal/backoff/backoff.go
  golang/internal/backoff/backoff_test.go
  golang/internal/grpc/grpc.go
Labels: pr:fix, lang:golang

#1057 refactor(cli): avoid compose file duplication
  Makefile
  golang/Makefile
  golang/pkg/cli/.gitignore
  golang/pkg/cli/setup/files/.gitkeep
  golang/pkg/cli/setup/setup.go
  repo_root.go
Labels: source:cli, pr:refactor, lang:golang, lang:makefile, source:build

#1060 fix: improve cli and fix external port and root password bug
  .github/workflows/product_builder.yaml
  GETTING_STARTED.md
  Makefile
  README.md
  distribution/images/multi-db/Dockerfile
  distribution/images/multi-db/docker-compose.yml
  distribution/images/multi-db/init-database.sh
  docker-compose.yaml
  golang/Makefile
  golang/pkg/cli/config_file.go
  golang/pkg/cli/container_defaults.go
  golang/pkg/cli/display.go
  golang/pkg/cli/runner.go
  golang/pkg/cli/setup/setup.go
Labels: source:cli, pr:fix, lang:golang

#1064 fix: misconfigured external port
  golang/pkg/cli/setup/setup.go
Labels: source:cli, lang:golang
